<button
    class="btn btn-primary btn-sm shadow-sm mb-5"
    role="button"
    [routerLink]="['/users']"
  >
    <i class="fas fa-arrow-circle-left"></i> Regresar
  </button>
<div class="border-card p-3">

  <h1>Información de usuario</h1>

  <hr>
  <!--<img class="rounded" [src]="src" width="104" height="104">-->

  <div class="mb-2">
    <span class="mt-2 campos">Nombre completo</span>
    <h5 class="datos">{{ userProfile.displayName }}</h5>
  </div>

  <div class="mb-2">
    <span class="mt-2 campos">Puesto</span>
    <h5 class="datos">{{ userProfile.jobTitle }}</h5>
  </div>

  <div class="mb-2">
    <span class="mt-2 campos">Email</span>
    <h5 class="datos">{{ userProfile.email }}</h5>
  </div>

  <div class="mb-2" *ngIf="userProfile.mobilePhone">
    <span class="mt-2 campos">Número de Teléfono</span>
    <h5 class="datos">{{ userProfile.mobilePhone }}</h5>
  </div>

  <div class="mb-2">
    <span class="mt-2 campos">Fecha de registro</span>
    <h5 class="datos">{{ userProfile.createdDate | date: "medium" }}</h5>
  </div>

  <div class="mb-2">
    <span class="mt-2 campos">Grupos</span>
    <h5 *ngFor="let item of getGroups(userProfile.roles)" class="datos">
      > {{ item }}
    </h5>
  </div>
</div>
