:root {
    --main-primary-color-1: #002e6d;
    --main-primary-color-2: #00c8ff;
    --main-secondary-color-1: #5b5b5b;
    --main-secondary-color-2: #ffc20e;
    --main-white-color: #ffffff;
    --bs-font-sans-serif: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header {
    align-items: center;
    background: transparent;
    box-shadow: none;
    color: var(--main-primary-color-1);
    display: flex;
    padding: 1em;
}

.sub-item:hover {
    color: var(--main-white-color);
    background-color: var(--main-secondary-color-2) !important;
    animation: ease-in-out 0.25s;
}

.sub-item {
    color: var(--main-primary-color-1);
    font-size: small;
}


/*
  accordion-group {
    ::ng-deep {
      div {
        &>div.panel-heading.card-header.panel-enabled {
          background-color: rgba(52, 58, 64, 0.15); // change the background of every accordion heading
  
          .btn-link {
            color: rgb(6, 10, 9); // change the accordion heading buttons style
          }
        }
  
        &>div.panel-collapse.collapse.in.show>div {
          background-color: hsla(210, 10%, 83%, 0.10); // change the expanded content style
        }
      }
    }
  */

.btn-logout-mini {
    color: var(--main-primary-color-1);
    background-color: var(--main-secondary-color-2);
    border-radius: 3px;
    padding: 2px;
    margin-right: 0px;
}

.btn-logout-mini:hover {
    cursor: pointer;
    color: var(--main-primary-color-1);
    background-color: var(--main-white-color);
    border-radius: 3px;
    border-color: var(--main-secondary-color-2) !important;
    border-width: 2px;
    padding: 2px;
    margin-right: 0px;
    animation: step-end 0.9s;
}

.title-submenu {
    background-color: var(--main-primary-color-1);
    cursor: pointer;
}

.bars-icon {
    cursor: pointer;
    background-color: transparent;
    padding: 2px;
}

.active {
    cursor: pointer;
    color: var(--main-primary-color-1);
    background-color: var(--main-secondary-color-2);
    margin-left: 0.3em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    animation: ease-in 0.9s;
}

.active-subitem {
    cursor: pointer;
    color: var(--main-primary-color-1);
    background-color: var(--main-primary-color-1);
    margin-left: 0.3em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    animation: ease-in 0.9s;
}

ul li.active {
    cursor: pointer;
    color: var(--main-primary-color-1);
    background-color: var(--main-secondary-color-2);
    margin-left: 0.3em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    animation: ease-in 0.9s;
}

.drop-down-title {
    background-color: #002e6d;
}

.sidebar-dropdown {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
}

accordion-group::ng-deep div.panel.card.panel-default {
    color: white;
    background-color: transparent;
    border: 0px;
    padding-left: 0em;
    padding-right: 0;
    margin-left: 0.3em;
}

accordion-group::ng-deep div.panel-body.card-block.card-body {
    background-color: var(--main-secondary-color-2);
    border: 0px;
    margin-top: 0rem;
    margin-right: 0em;
    margin-left: 0.5em;
    padding-right: 0.3em;
    padding-top: 0.375em;
    padding-bottom: 0;
    border-bottom-left-radius: 0.2em;
    border-top-left-radius: 0.2em;
}

accordion-group::ng-deep div.panel-heading.card-header.panel-enabled {
    background-color: var(--main-secondary-color-2);
    padding: 0;
    border: var(--main-secondary-color-2);
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

body {
    font-size: 0.9rem;
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand>a,
.sidebar-wrapper .sidebar-dropdown>a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/*----------------page-wrapper----------------*/

.page-wrapper {
    height: 100vh;
}

.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
}

.page-wrapper .theme.chiller-theme {
    background: #1e2229;
}


/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}

@media screen and (min-width: 500px) {
    .page-wrapper.toggled .page-content {
        padding-left: 300px;
    }
}


/*----------------show sidebar button----------------*/

#show-sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
}

.page-wrapper.toggled #show-sidebar {
    left: -40px;
}


/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
    height: 100%;
    width: 100%;
    max-height: 100%;
    position: relative;
    top: 0;
    left: -300px;
    z-index: 999;
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
}


/*----------------sidebar-content----------------*/

.sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
}

.sidebar-content.desktop {
    overflow-y: hidden;
}


/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.sidebar-wrapper .sidebar-brand>a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px;
}


/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
    outline: none;
}

.sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic-collapsed {
    float: right;
    width: 10px;
    height: 10px;
    padding: 0px;
    border-radius: 2px;
    margin-right: 1px;
    overflow: visible;
}

.sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
    float: left;
}

.sidebar-wrapper .sidebar-header .user-info>span {
    display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: var(--main-primary-color-1);
}


/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search>div {
    padding: 10px 20px;
}


/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
    outline: none;
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
    display: inline-block;
    color: white;
    background-color: transparent;
    animation: ease-in-out 0.25s;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 5px;
    top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
    color: var(--main-white-color);
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span {
    color: white;
    font-weight: 500;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
    position: absolute;
    right: 3px;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;
    color: white;
}

.sub:hover {
    color: white !important;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
    transform: rotate(90deg);
    right: 17px;
}


/*--------------------------side-footer------------------------------*/

.sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
}

.sidebar-footer>a {
    flex-grow: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative;
}

.sidebar-footer>a .notification {
    position: absolute;
    top: 0;
}

.badge-sonar {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
}

.badge-sonar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite;
}


/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
}

.page-wrapper .page-content>div {
    padding: 20px 40px;
}

.page-wrapper .page-content {
    overflow-x: hidden;
}


/*------scroll bar---------------------*/

 ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

 ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

 ::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--main-secondary-color-2);
}

 ::-webkit-scrollbar-thumb:active {
    background: #525965;
}

 ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

 ::-webkit-scrollbar-track:hover {
    background: transparent;
}

 ::-webkit-scrollbar-track:active {
    background: transparent;
}

 ::-webkit-scrollbar-corner {
    background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: var(--main-primary-color-1);
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    color: var(--main-white-color);
}

.sidebar-header:hover {
    cursor: pointer;
    color: var(--main-primary-color-1);
    background-color: var(--main-secondary-color-2);
    margin-left: 0.3em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    animation: ease-in 2.5s;
}

.sidebar-header:hover div span.user-work {
    color: var(--main-primary-color-1);
}

.active div span.user-work {
    color: var(--main-primary-color-1);
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: var(--main-primary-color-1);
}

.user-in {
    background-color: transparent;
    font-weight: bold;
}

.user-work {
    color: var(--main-secondary-color-2);
    font-size: small;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: var(--main-white-color);
    background-color: var(--main-secondary-color-2);
    margin-left: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    animation: ease-in 0.25s;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: var(--main-white-color);
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: var(--main-secondary-color-2);
    text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    color: var(--main-white-color);
    background: transparent;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i.icon-sub {
    color: var(--main-primary-color-1) !important;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a span.label-sub {
    color: var(--main-primary-color-1);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover a span.label-sub {
    color: var(--main-white-color);
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: var(--main-white-color);
}

.chiller-theme .sidebar-footer {
    background: var(--main-primary-color-1);
    box-shadow: none;
    border-top: none;
    padding: 0.7rem;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}