<img
  src="../../assets/img/Picture4.png"
  border="0"
  name="right"
  class="art-top-right"
/>

<ng-sidebar-container (onBackdropClicked)="_onBackdropClicked()">
  <ng-sidebar
    [(opened)]="_opened"
    [mode]="mode"
    [keyClose]="false"
    position="left"
    [dock]="dock"
    [dockedSize]="'50px'"
    [autoCollapseWidth]="962"
    [closeOnClickOutside]="false"
    [closeOnClickBackdrop]="clickBackdrop"
    [showBackdrop]="backdrop"
    [animate]="true"
    [autoFocus]="true"
    [sidebarClass]="'demo-sidebar'"
    [ariaLabel]="'My sidebar'"
    (onOpenStart)="_onOpenStart()"
    (onOpened)="_onOpened()"
    (onCloseStart)="_onCloseStart()"
    (onClosed)="_onClosed()"
    (onTransitionEnd)="_onTransitionEnd()"
  >
    <!--[trapFocus]="true"-->
    <div class="page-wrapper chiller-theme toggled">
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <ng-scrollbar>
            <div class="sidebar-brand d-flex justify-content-end">
              <div id="close-sidebar">
                <fa-icon
                  class="text-white"
                  [icon]="faTimes"
                  (click)="_toggleOpened()"
                  *ngIf="_opened == true"
                >
                </fa-icon>
              </div>
            </div>

            <div class="sidebar-menu accordion mt-5" *ngIf="_opened == false">
              <ul>
                <li>
                  <a
                    class="title-submenu"
                    routerLink="/perfil"
                    routerLinkActive="active"
                  >
                    <i class="fa fa-user"></i>
                    <span>Perfil</span>
                    <span
                      *ngIf="_opened == false"
                      class="badge badge-pill p-0 mr-2"
                    >
                      <img
                        class="img-responsive img-rounded"
                        [src]="src"
                        alt="..."
                        width="30px"
                      />
                    </span>
                  </a>
                </li>
              </ul>
            </div>

            <div
              class="sidebar-header mt-2"
              routerLink="/perfil"
              routerLinkActive="active"
              *ngIf="_opened === true"
            >
              <div class="user-pic">
                <img
                  class="img-responsive img-rounded"
                  [src]="src"
                  alt="..."
                />
              </div>
              <div class="user-in">
                <span class="user-name">{{ username }} </span> <br />
                <span class="user-work">{{ work }}</span>
              </div>
            </div>
            <!-- sidebar-header  -->

            <div class="sidebar-menu accordion mt-5">
              <ul>
                <li
                  *ngIf="
                    roleService.hasRole('ROLE_ADMINFUNCIONAL') ||
                    roleService.hasRole('ROLE_SOLICITANTE') ||
                    roleService.hasRole('ROLE_INGENIERO') ||
                    roleService.hasRole('ROLE_COORDINADOR')
                  "
                >
                  <a
                    (click)="openSolicitudes()"
                    [ngClass]="{
                      'active title-submenu': isSolicitudesOpened == true,
                      'title-submenu': isSolicitudesOpened == false
                    }"
                  >
                    <i class="fa fa-list-ol"></i>
                    <span *ngIf="_opened == true">Solicitudes</span>
                    <span *ngIf="_opened == false" class="badge badge-pill">
                      <fa-icon [icon]="faList"> </fa-icon
                    ></span>
                  </a>
                </li>
              </ul>

              <accordion [closeOthers]="true" [isAnimated]="animated">
                <accordion-group [isOpen]="isSolicitudesOpened">
                  <ul>
                    <li *ngIf="roleService.hasRole('ROLE_SOLICITANTE')">
                      <a
                        class="sub-item"
                        routerLink="/solicitud/nueva"
                        (click)="isSolicitudesOpened = true; closeOnClick()"
                      >
                        <i
                          [ngClass]="{
                            'fa fa-circle mr-0 ml-0 text-white p-0':
                              router.url == '/solicitud/nueva',
                            'd-none': router.url != '/solicitud/nueva'
                          }"
                        ></i>

                        <i class="fa fa-pencil-alt icon-sub"></i>
                        <span class="label-sub" *ngIf="_opened == true"
                          >Nueva</span
                        >

                        <span *ngIf="_opened == false" class="badge badge-pill">
                          <fa-icon class="fa sub" [icon]="faPencilAlt">
                          </fa-icon
                        ></span>
                      </a>
                    </li>
                    <li *ngIf="roleService.hasRole('ROLE_SOLICITANTE')">
                      <a
                        class="sub-item"
                        [routerLink]="['mis-solicitudes/draft']"
                        routerLinkActive="active"
                        (click)="isSolicitudesOpened = true; closeOnClick()"
                      >
                        <i
                          [ngClass]="{
                            'fa fa-circle mr-0 ml-0 p-0':
                              router.url == '/mis-solicitudes/draft',
                            'd-none': router.url != '/mis-solicitudes/draft'
                          }"
                        ></i>
                        <i class="fa fa-eraser icon-sub"></i>
                        <span class="label-sub" *ngIf="_opened == true"
                          >En Borrador</span
                        >

                        <span *ngIf="_opened == false" class="badge badge-pill">
                          <fa-icon class="fa sub" [icon]="faEraser"> </fa-icon
                        ></span>
                      </a>
                    </li>
                    <li *ngIf="roleService.hasRole('ROLE_SOLICITANTE')">
                      <a
                        class="sub-item"
                        [routerLink]="['mis-solicitudes/send']"
                        routerLinkActive="active"
                        (click)="isSolicitudesOpened = true; closeOnClick()"
                      >
                        <i
                          [ngClass]="{
                            'fa fa-circle mr-0 ml-0 p-0':
                              router.url == '/mis-solicitudes/send',
                            'd-none': router.url != '/mis-solicitudes/send'
                          }"
                        ></i>
                        <i class="fa fa-history icon-sub"></i>
                        <span class="label-sub" *ngIf="_opened == true"
                          >En Proceso</span
                        >

                        <span *ngIf="_opened == false" class="badge badge-pill">
                          <fa-icon class="fa sub" [icon]="faHistory"> </fa-icon
                        ></span>
                      </a>
                    </li>
                    <li *ngIf="roleService.hasRole('ROLE_SOLICITANTE')">
                      <a
                        class="sub-item"
                        routerLink="/historial-solicitudes"
                        routerLinkActive="active"
                        (click)="isSolicitudesOpened = true; closeOnClick()"
                      >
                        <i
                          [ngClass]="{
                            'fa fa-circle mr-0 ml-0 text-white p-0':
                              router.url == '/historial-solicitudes',
                            'd-none': router.url != '/historial-solicitudes'
                          }"
                        ></i>
                        <i class="fa fa-inbox icon-sub"></i>
                        <span class="label-sub" *ngIf="_opened == true"
                          >Mi Historial</span
                        >

                        <span *ngIf="_opened == false" class="badge badge-pill">
                          <fa-icon class="fa sub" [icon]="faInbox"> </fa-icon
                        ></span>
                      </a>
                    </li>
                    <li *ngIf="roleService.hasRole('ROLE_COORDINADOR')">
                      <a
                        class="sub-item"
                        routerLink="/solicitudes/para-asignacion"
                        routerLinkActive="active"
                        (click)="isSolicitudesOpened = true; closeOnClick()"
                      >
                        <i
                          [ngClass]="{
                            'fa fa-circle mr-0 ml-0 text-white p-0':
                              router.url == '/solicitudes/para-asignacion',
                            'd-none':
                              router.url != '/solicitudes/para-asignacion'
                          }"
                        ></i>
                        <i class="fa fa-chevron-right icon-sub"></i>
                        <span class="label-sub" *ngIf="_opened == true"
                          >Pendientes de Asignación</span
                        >

                        <span *ngIf="_opened == false" class="badge badge-pill">
                          <fa-icon class="fa sub" [icon]="faChevronRight">
                          </fa-icon
                        ></span>
                      </a>
                    </li>

                    <li *ngIf="roleService.hasRole('ROLE_COORDINADOR')">
                      <a
                        class="sub-item"
                        routerLink="/historial-all-solicitudes"
                        routerLinkActive="active"
                        (click)="isSolicitudesOpened = true; closeOnClick()"
                      >
                        <i
                          [ngClass]="{
                            'fa fa-circle mr-0 ml-0 text-white p-0':
                              router.url == '/historial-all-solicitudes',
                            'd-none': router.url != '/historial-all-solicitudes'
                          }"
                        ></i>
                        <i class="fa fa-clipboard-list icon-sub"></i>
                        <span class="label-sub" *ngIf="_opened == true"
                          >Historial</span
                        >

                        <span *ngIf="_opened == false" class="badge badge-pill">
                          <fa-icon class="fa sub" [icon]="faClipboardList">
                          </fa-icon
                        ></span>
                      </a>
                    </li>

                    <li *ngIf="roleService.hasRole('ROLE_INGENIERO')">
                      <a
                        class="sub-item"
                        routerLink="/historial-solicitudes-ing"
                        routerLinkActive="active"
                        (click)="isSolicitudesOpened = true; closeOnClick()"
                      >
                        <i
                          [ngClass]="{
                            'fa fa-circle mr-0 ml-0 text-white p-0':
                              router.url == '/historial-solicitudes-ing',
                            'd-none': router.url != '/historial-solicitudes-ing'
                          }"
                        ></i>
                        <i class="fa fa-tasks icon-sub"></i>
                        <span class="label-sub" *ngIf="_opened == true"
                          >Mis asignaciones</span
                        >

                        <span *ngIf="_opened == false" class="badge badge-pill">
                          <fa-icon class="fa sub" [icon]="faTasks"> </fa-icon
                        ></span>
                      </a>
                    </li>

                    <li *ngIf="roleService.hasRole('ROLE_INGENIERO')">
                      <a
                        class="sub-item"
                        routerLink="/historial-solicitudes-ing-complete"
                        routerLinkActive="active"
                        (click)="isSolicitudesOpened = true; closeOnClick()"
                      >
                        <i
                          [ngClass]="{
                            'fa fa-circle mr-0 ml-0 text-white p-0':
                              router.url == '/historial-solicitudes-ing-complete',
                            'd-none': router.url != '/historial-solicitudes-ing-complete'
                          }"
                        ></i>
                        <i class="far fa-list-alt  icon-sub"></i>
                        <span class="label-sub" *ngIf="_opened == true"
                          > Tickets globales completados</span
                        >

                        <span *ngIf="_opened == false" class="badge badge-pill">
                          <fa-icon class="fa sub" [icon]="faTasks"> </fa-icon
                        ></span>
                      </a>
                    </li>

                    <li *ngIf="roleService.hasRole('ROLE_ADMINFUNCIONAL')">
                      <a
                        class="sub-item"
                        routerLink="/solicitudes"
                        (click)="isSolicitudesOpened = true; closeOnClick()"
                      >
                        <i
                          [ngClass]="{
                            'fa fa-circle mr-0 ml-0 text-white p-0':
                              router.url == '/solicitudes',
                            'd-none': router.url != '/solicitudes'
                          }"
                        ></i>

                        <i class="fa fa-file-alt icon-sub"></i>
                        <span class="label-sub" *ngIf="_opened == true"
                          >Para revisión administrativa</span
                        >

                        <span *ngIf="_opened == false" class="badge badge-pill">
                          <fa-icon class="fa sub" [icon]="faPencilAlt">
                          </fa-icon
                        ></span>
                      </a>
                    </li>
                  </ul>
                </accordion-group>
              </accordion>

              <ul>
                <li
                  *ngIf="
                    roleService.hasRole('ROLE_ADMIN') ||
                    roleService.hasRole('ROLE_ADMINFUNCIONAL') ||
                    roleService.hasRole('ROLE_SOLICITANTE')
                  "
                >
                  <a
                    routerLink="ayuda"
                    routerLinkActive="active"
                    (click)="closeAll(); closeOnClick()"
                  >
                    <i class="fa fa-info"></i>
                    <span *ngIf="_opened == true">Ayuda</span>
                    <span *ngIf="_opened == false" class="badge badge-pill">
                      <fa-icon class="fa mr-1" [icon]="faInfo"> </fa-icon
                    ></span>
                  </a>
                </li>

                <ul>
                  <li
                    *ngIf="
                      roleService.hasRole('ROLE_ADMIN') ||
                      roleService.hasRole('ROLE_ADMINFUNCIONAL')
                    "
                  >
                    <a
                      (click)="openConfig()"
                      [ngClass]="{
                        'active title-submenu': isConfiguracionOpened === true,
                        'title-submenu': isConfiguracionOpened === false
                      }"
                    >
                      <i class="fa fa-cog"></i>
                      <span *ngIf="_opened == true">Configuración Global</span>
                      <span *ngIf="_opened == false" class="badge badge-pill">
                        <fa-icon class="fa mr-0" [icon]="faCog"> </fa-icon
                      ></span>
                    </a>
                  </li>
                </ul>

                <accordion [closeOthers]="true" [isAnimated]="animated">
                  <accordion-group [isOpen]="isConfiguracionOpened">
                    <ul>
                      <li
                        *ngIf="
                          roleService.hasRole('ROLE_ADMIN') ||
                          roleService.hasRole('ROLE_ADMINFUNCIONAL')
                        "
                      >
                        <a
                          class="sub-item"
                          routerLink="/departamentos-internos"
                          routerLinkActive="active"
                          (click)="isConfiguracionOpened = true; closeOnClick()"
                        >
                          <i
                            [ngClass]="{
                              'fa fa-circle mr-0 ml-0 text-white p-0':
                                router.url == '/departamentos-internos',
                              'd-none': router.url != '/departamentos-internos'
                            }"
                          ></i>
                          <i class="fa fa-envelope icon-sub"></i>
                          <span class="label-sub" *ngIf="_opened == true"
                            >Dptos. Internos (Solicitudes)</span
                          >
                          <span
                            *ngIf="_opened == false"
                            class="badge badge-pill"
                          >
                            <fa-icon class="fa sub" [icon]="faEnvelope">
                            </fa-icon
                          ></span>
                        </a>
                      </li>
                      <li
                        *ngIf="
                          roleService.hasRole('ROLE_ADMIN') ||
                          roleService.hasRole('ROLE_ADMINFUNCIONAL')
                        "
                      >
                        <a
                          class="sub-item"
                          routerLink="/departamentos-internos-om"
                          routerLinkActive="active"
                          (click)="isConfiguracionOpened = true; closeOnClick()"
                        >
                          <i
                            [ngClass]="{
                              'fa fa-circle mr-0 ml-0 text-white p-0':
                                router.url == '/departamentos-internos-om',
                              'd-none':
                                router.url != '/departamentos-internos-om'
                            }"
                          ></i>
                          <i class="fa fa-id-card icon-sub"></i>
                          <span class="label-sub" *ngIf="_opened == true"
                            >Dptos. Internos (Soporte)</span
                          >
                          <span
                            *ngIf="_opened == false"
                            class="badge badge-pill"
                          >
                            <fa-icon class="fa sub" [icon]="faIdCard"> </fa-icon
                          ></span>
                        </a>
                      </li>
                      <li *ngIf="roleService.hasRole('ROLE_ADMIN') || roleService.hasRole('ROLE_ADMINFUNCIONAL')">
                        <a
                          class="sub-item"
                          routerLink="/configuracion-global"
                          routerLinkActive="active"
                          (click)="isConfiguracionOpened = true; closeOnClick()"
                        >
                          <i
                            [ngClass]="{
                              'fa fa-circle mr-0 ml-0 text-white p-0':
                                router.url == '/configuracion-global',
                              'd-none': router.url != '/configuracion-global'
                            }"
                          ></i>
                          <i class="fa fa-bell icon-sub"></i>
                          <span class="label-sub" *ngIf="_opened == true"
                            >Notificaciones</span
                          >
                          <span
                            *ngIf="_opened == false"
                            class="badge badge-pill"
                          >
                            <fa-icon class="fa sub" [icon]="faBell"> </fa-icon
                          ></span>
                        </a>
                      </li>
                      <li
                        *ngIf="
                          roleService.hasRole('ROLE_ADMIN') ||
                          roleService.hasRole('ROLE_ADMINFUNCIONAL')
                        "
                      >
                        <a
                          class="sub-item"
                          routerLink="/coordinadores"
                          routerLinkActive="active"
                          (click)="isConfiguracionOpened = true; closeOnClick()"
                        >
                          <i
                            [ngClass]="{
                              'fa fa-circle mr-0 ml-0 text-white p-0':
                                router.url == '/coordinadores',
                              'd-none': router.url != '/coordinadores'
                            }"
                          ></i>
                          <i class="fa fa-flag icon-sub"></i>
                          <span class="label-sub" *ngIf="_opened == true"
                            >Notificaciones de coordinadores</span
                          >
                          <span
                            *ngIf="_opened == false"
                            class="badge badge-pill"
                          >
                            <fa-icon class="fa sub" [icon]="faFlag"> </fa-icon
                          ></span>
                        </a>
                      </li>
                      <li *ngIf="roleService.hasRole('ROLE_ADMINFUNCIONAL')">
                        <a
                          class="sub-item"
                          routerLink="/configuracion-grupos"
                          routerLinkActive="active"
                          (click)="isConfiguracionOpened = true; closeOnClick()"
                        >
                          <i
                            [ngClass]="{
                              'fa fa-circle mr-0 ml-0 text-white p-0':
                                router.url == '/configuracion-grupos',
                              'd-none': router.url != '/configuracion-grupos'
                            }"
                          ></i>
                          <i class="fa fa-check icon-sub"></i>
                          <span class="label-sub" *ngIf="_opened == true"
                            >Grupos de AAD</span
                          >
                          <span
                            *ngIf="_opened == false"
                            class="badge badge-pill"
                          >
                            <fa-icon class="fa sub" [icon]="faCheck"> </fa-icon
                          ></span>
                        </a>
                      </li>
                    </ul>
                  </accordion-group>
                </accordion>

                <li *ngIf="roleService.hasRole('ROLE_ADMIN')">
                  <a
                    routerLink="/users"
                    routerLinkActive="active"
                    (click)="closeAll(); closeOnClick()"
                  >
                    <i class="fa fa-users"></i>
                    <span *ngIf="_opened == true">Usuarios</span>
                    <span
                      *ngIf="_opened == false"
                      class="badge badge-pill mr-1 p-1"
                    >
                      <fa-icon class="fa" [icon]="faUsers"> </fa-icon
                    ></span>
                  </a>
                </li>

                <ul *ngIf="roleService.hasRole('ROLE_ADMINFUNCIONAL')">
                  <li>
                    <a
                      (click)="openPlantillas()"
                      [ngClass]="{
                        'title-submenu active': isPlantillasOpened === true,
                        'title-submenu': isPlantillasOpened === false
                      }"
                    >
                      <i class="fa fa-sticky-note"></i>
                      <span *ngIf="_opened == true"
                        >Plantillas de Solicitudes</span
                      >
                      <span *ngIf="_opened == false" class="badge badge-pill">
                        <fa-icon class="fa" [icon]="faStickyNote"> </fa-icon
                      ></span>
                    </a>
                  </li>
                </ul>

                <accordion [closeOthers]="true" [isAnimated]="animated">
                  <accordion-group [isOpen]="isPlantillasOpened">
                    <ul>
                      <li>
                        <a
                          class="sub-item"
                          routerLink="/config-requests"
                          routerLinkActive="active"
                          (click)="isPlantillasOpened = true; closeOnClick()"
                        >
                          <i
                            [ngClass]="{
                              'fa fa-circle mr-0 ml-0 text-white p-0':
                                router.url == '/config-requests',
                              'd-none': router.url != '/config-requests'
                            }"
                          ></i>
                          <i class="fa fa-server icon-sub"></i>
                          <span class="label-sub" *ngIf="_opened == true"
                            >Configuración general</span
                          >
                          <span
                            *ngIf="_opened == false"
                            class="badge badge-pill"
                          >
                            <fa-icon class="fa sub" [icon]="faServer">
                            </fa-icon
                          ></span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="sub-item"
                          routerLink="/config-files"
                          routerLinkActive="active"
                          (click)="isPlantillasOpened = true; closeOnClick()"
                        >
                          <i
                            [ngClass]="{
                              'fa fa-circle mr-0 ml-0 text-white p-0':
                                router.url == '/config-files',
                              'd-none': router.url != '/config-files'
                            }"
                          ></i>
                          <i class="fa fa-pencil-alt icon-sub"></i>
                          <span class="label-sub" *ngIf="_opened == true"
                            >Tipos de archivos permitidos</span
                          >
                          <span
                            *ngIf="_opened == false"
                            class="badge badge-pill"
                          >
                            <fa-icon class="fa sub" [icon]="faPencilAlt">
                            </fa-icon
                          ></span>
                        </a>
                      </li>
                      <li>
                        <a
                          class="sub-item"
                          routerLink="/formularios"
                          routerLinkActive="active"
                          (click)="isPlantillasOpened = true; closeOnClick()"
                        >
                          <i
                            [ngClass]="{
                              'fa fa-circle mr-0 ml-0 text-white p-0':
                                router.url == '/formularios',
                              'd-none': router.url != '/formularios'
                            }"
                          ></i>
                          <i class="fa fa-history icon-sub"></i>
                          <span class="label-sub" *ngIf="_opened == true"
                            >Formularios</span
                          >
                          <span
                            *ngIf="_opened == false"
                            class="badge badge-pill"
                          >
                            <fa-icon class="fa sub" [icon]="faList"> </fa-icon
                          ></span>
                        </a>
                      </li>
                    </ul>
                  </accordion-group>
                </accordion>
              </ul>
            </div>
          </ng-scrollbar>
          <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div
          class="sidebar-footer d-flex justify-content-center"
          *ngIf="_opened == true"
        >
          <button class="btn btn-tertiary btn-sm" (click)="logout()">
            CERRAR SESIÓN
          </button>
        </div>

        <div
          class="sidebar-footer d-flex justify-content-end"
          *ngIf="_opened == false"
        >
        <div class="btn-logout-mini" (click)="logout()"><svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 34.16 30.22"><defs><style>.cls-1{fill:#233362;}</style></defs><path class="cls-1" d="M4.82,3.74a3.5,3.5,0,0,1,.25-.47,1.35,1.35,0,0,1,1.18-.54H22.08A1.32,1.32,0,0,1,23.5,4.19c0,1.37,0,2.74,0,4.11a2.26,2.26,0,0,1,0,.25h-2.6c0-.1,0-.19,0-.28,0-.72,0-1.44,0-2.16,0-.53-.23-.76-.76-.76H9.92l.27.15c1.77.91,3.53,1.82,5.3,2.71A1.53,1.53,0,0,1,16.4,9.7c0,3.49,0,7,0,10.47v.34l.25,0h3.41c.59,0,.81-.22.81-.82v-5H23.5v6.92A1.35,1.35,0,0,1,22,23.15H16.38V28c0,.7-.48,1-1.1.67l-9.64-5a1.64,1.64,0,0,1-.82-1Z"/><path class="cls-1" d="M26.85,10.14l-.2-.22C26.1,9.38,25.56,8.85,25,8.3a1.35,1.35,0,0,1-.37-1.52,1.31,1.31,0,0,1,2-.51l.27.25c1.34,1.33,2.67,2.67,4,4a1.33,1.33,0,0,1,0,2.11l-4,4a1.37,1.37,0,0,1-1.58.41,1.33,1.33,0,0,1-.53-2,1.81,1.81,0,0,1,.29-.33c.54-.55,1.09-1.09,1.64-1.63l.06-.09H19.63a1.34,1.34,0,0,1-1.38-.86,1.4,1.4,0,0,1,1.33-2h7.27Z"/></svg>
        </div>
         <!-- <fa-icon
            class="fa fa-2x btn-logout-mini"
            [icon]="faAngle"
            
          >
          </fa-icon> -->
        </div>
      </nav>
      <!-- sidebar-wrapper  -->
    </div>
    <!-- page-wrapper -->
  </ng-sidebar>

  <div ng-sidebar-content>
    <img
      src="../../assets/img/Picture5.png"
      name="left"
      class="art-bottom-left"
    />

    <header class="header">
      <div class="bars-icon" (click)="_toggleOpened()" *ngIf="_opened == false">
        <fa-icon class="text-primary-1" [icon]="faBars" size="lg"> </fa-icon>
      </div>
      <div class="col-xs-6 text-left ml-4 mt-2">
        <div class="next">
          <img src="assets/img/tigo-logo.png" width="40px" />
        </div>
      </div>
    </header>

    <section class="p-4 p-md-5 p-lg-5 p-xl-5">
      <router-outlet> </router-outlet>
    </section>
  </div>
</ng-sidebar-container>
