<div class="container mt-5">
  <!--INPUT-->
  <label for="campo-texto">Ingrese un texto</label>
  <input id="campo-texto" type="text" class="form-control mb-3" required />

  <!--TEXTAREA-->
  <label for="campo">Ingrese un texto</label>
  <textarea id="campo" class="form-control mb-3" rows="3"></textarea>

  <!--DROPDOWN NORMAL-->
  <label for="dropdown">Seleccione una opción</label>
  <select class="form-select mb-3" id="dropdown">
    <option value="">Opción 1</option>
    <option value="">Opción 2</option>
    <option value="">Opción 3</option>
  </select>

  <!--DROPDOWN NG-SELECT-->
  <label>Seleccione una opción</label>
  <ng-select
    class="custom mb-3"
    [items]="cars"
    bindLabel="name"
    bindValue="id"
    notFoundText="Opción no disponible :("
    [(ngModel)]="selectedCar"
  >
  </ng-select>

  <div class="small text-danger">
    <fa-icon [icon]="faExclamationTriangle"></fa-icon> Debe llenar todos los
    campos.
  </div>
  <div class="small text-success">
    <fa-icon [icon]="faExclamationTriangle"></fa-icon> ¡Su información fu
    registrada con éxito!
  </div>
</div>
