<div *ngIf="!isLoggedIn" class="card text-center" style="width: 100% !important; height: 100% !important;border: 0 !important;border-radius: 0 !important;">
    <div *ngIf="!isLoggedIn" class="card-header" style="background-color: #002E6D;border-radius: 0 !important;">
      &nbsp;
    </div>
    <div class="card-body" style="min-height: 402px !important;">
        <div class="center">
            <div>
                <img
                    class="mx-auto logo-tigo img-fluid"
                    alt="Responsive image"
                    src="../../assets/img/tigo-logo.png"
                    style="max-width: 200px !important;margin-bottom: 20px !important;"
                />
                <h5 class="card-title text-head ">¡PAGINA NO ENCONTRADA!</h5>
                <h2 class="h2 text-error">ERROR 404</h2>
                <p class="card-text text-info">El enlace al que intenta dirigirse no existe o se encuentra deshabilitado.</p>
                <button class="btn-return" (click)="regresar()">Regresar</button>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted"  style="background-color: #002E6D;border-radius: 0 !important;">
        &nbsp;
    </div>
  </div>
  <div *ngIf="isLoggedIn" class="container h-100" style="height: 65vh !important;">
    <div class="row align-items-center h-100">
        <div class=" mx-auto">
          <div class="text-center">
            <img
                class="mx-auto logo-tigo img-fluid"
                alt="Responsive image"
                src="../../assets/img/tigo-logo.png"
                style="max-width: 200px !important;margin-bottom: 20px !important;"
            />
            <h5 class="card-title text-head ">¡PAGINA NO ENCONTRADA!</h5>
            <h2 class="h2 text-error">ERROR 404</h2>
            <p class="card-text text-info">El enlace al que intenta dirigirse no existe o se encuentra deshabilitado.</p>
            <button class="btn-return" (click)="regresar()">Regresar</button>
        </div>
        </div>
    </div>
</div>
