.center {
  height: 100% !important;
  position: relative;
}

.center div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-head{
  font-size: 1.8rem !important;
  font: normal normal bold 27px/30px Roboto !important;
  color: #002E6D !important;
}

.text-error{
  font-size: 1.5rem !important;
  font: normal normal bold 22px/25px Roboto !important;
  color: #FFC20E !important;
}

.text-info{
  font-size: 1rem !important;
  font: normal normal bold 16px/20px Roboto !important;
  color: #00C8FF !important;  
}

.btn-return{
  border: 0 !important;
  height: 37px !important;
  width: 160px !important;
  color: #FFFFFF;
  font: normal normal bold 16px/20px Roboto !important;
  background: #002E6D 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 1;
}