
@media (min-width: 200px) and (max-width: 767.98px) and (min-height: 575.98px) {
    .search-box-container input {
        margin-top: 1vh !important;
        width: 100% !important;;
    }
    .search-box-container {
        width: 100% !important;
    }
    
    div.row div.col-btn-custom {
        width: 100% !important;
    }
    .btn-secondary {
        width: 100% !important;
    }
    
    .contenido{
        text-align: center; 
        width: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 1640px)  {


    .contenido{
        width: 50% !important; 
        margin-left: 10px !important;
        display: block !important;
    }

    div.row div.title {
        width: 50% !important; 
    }

    div.row div.title h1{
        margin-top: 8px !important;
    }

    .search-box-container {
        height: 100% !important;
        width: 100% !important;
        text-align: end !important;
    }

    .search-box-container input {
        width: 100% !important;
        max-width: 360px !important;
    }
    

}


@media (min-width: 1640px) {


    .contenido{
        width: 50% !important; 
        display: block !important;
        text-align: end !important; 
        margin-left: 13px !important;
    }

    div.row div.title {
        width: 50% !important; 
    }

    div.row div.title {
        width: 50% !important; 
    }

    div.row div.col-btn-custom{
        display: inline !important; 
    }

    .btn-secondary{
        height: 100% !important;
    }

    div.row .search-box-container {
        display: inline !important;
    }

}