<div class="mb-5">
  <!--CUADRO DE BÚSQUEDA-->
  <div class="row mb-3 ml-3" >
  
    <div class="row title"><h1>USUARIOS</h1></div>
    <!--div class="row contenido">
        <div class="search-box-container ">
          <input type="text" placeholder="Buscar..."   (keyup)="find($event)"/>
        </div>
    </div-->
    </div>
    
  <ngx-datatable
    #table
    ngx-resize-watcher
    class="bootstrap"
    [rows]="users"
    [headerHeight]="30"
    rowHeight="auto"
    [footerHeight]="60"
    [scrollbarH]="true"
    [columnMode]="ColumnMode.force"
    [selectionType]="SelectionType.checkbox"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.pageNumber"
    [limit]="page.size"
    (page)="setPage($event)"
  >

  <ngx-datatable-column
  name="ACCIONES"
  [width]="180"
  [canAutoResize]="false"
  [sortable]="false"
  >

  <ng-template let-column="column" ngx-datatable-header-template> <p class="header-text-center">{{ column.name }}</p> </ng-template>
    <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
      <div class="container text-center">
        <fa-icon  [icon]="faEye" type="button" class="btn-outline-show rounded p-1 mr-1" [routerLink]="['/users/form/' + row['id']]" routerLinkActive="router-link-active">
        </fa-icon>
      </div>
    </ng-template>
  </ngx-datatable-column>
    <ngx-datatable-column
      name="NOMBRES Y APELLIDOS"
      prop="displayName"
      [sortable]="false"
    ></ngx-datatable-column>
    <ngx-datatable-column name="EMAIL" prop="email" [sortable]="false">   <ng-template let-column="column" ngx-datatable-header-template>
      <p class="header-text-start">{{ column.name }}</p>
    </ng-template> </ngx-datatable-column>
    <ngx-datatable-column name="PUESTO" prop="jobTitle" [sortable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="header-text-start">{{ column.name }}</p>
      </ng-template>

    </ngx-datatable-column>
    <ngx-datatable-column name="GRUPOS" [canAutoResize]="true" prop="roles" [sortable]="false">
      
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="header-text-start">{{ column.name }}</p>
      </ng-template>
      
      <ng-template
          let-row="row"
          let-expanded="expanded"
          let-value="value"
          ngx-datatable-cell-template
        >
          <div class="text-left" *ngFor="let item of getGroups(value)">
            - {{ item }}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template 
          ngx-datatable-footer-template 
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset">
          <datatable-pager
          [pagerLeftArrowIcon]="'datatable-icon-left'"
          [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'"
          [pagerNextIcon]="'datatable-icon-skip'"
          [page]="curPage"
          [size]="pageSize"
          [count]="rowCount"
          [hidden]="!((rowCount / pageSize) > 1)"
          (change)="table.onFooterPage($event)">
           </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
  </ngx-datatable>
</div>
