.bord-form-custom{
    top: 217px !important;
    left: 432px !important;
    border: 2px solid #00C8FF !important;
    border-radius: 9px !important;
    opacity: 1 !important;
}

.custom-form-input{
    margin-top: -10px; 
    max-width: 25vw !important;
}

.custom-formulario-buttons{
    background: #FFC20E 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;width: 173px;
    height: 37px;margin-left: -5vw;
    margin-top: -1vh;
    font: normal normal bold 14px/10px Roboto !important;
    letter-spacing: -0.28px;
    color: #002E6D;
    opacity: 1;
}

.label-error {
    margin-bottom: 0.5rem !important;
    color: #be1622 !important;
    font-weight: bold !important;
    font-size: small !important;
}

.label-info {
    margin-bottom: 0.5rem !important;
    color: var(--main-primary-color-2) !important;
    font-weight: bold !important;
    font-size: small !important;
}

.form-size{
    /*display: block !important;*/
    max-width: 120px !important;
    width: auto !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 10pt !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: var(--main-secondary-color-1) !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 2px solid var(--main-primary-color-1) !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 9px !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

@media (max-width: 319.98px)  {
 
    .form-size{
        width: 80px !important;
    }
}


@media (min-width: 500px) and (max-width: 619.98px)  {

}


@media (min-width: 1000px) and (max-width:1299.98px) {
    .update-form{
        max-width: 800px !important;
        width:auto !important;
    }
}

@media (min-width: 1300px) and (max-width:1639.98px) {
    .update-form{
        max-width: 800px !important;
        width:auto !important;
    }
}

@media (min-width: 1640px) {
    .update-form{
        max-width: 900px !important;
        width:900px !important;
    }
}
