<div class="container text-start">
  <h1 class="mt-2" style="margin-left: -12px !important">{{ Header }}</h1>
</div>
<div
  class="container mt-4 text-center bord-form-custom"
  style="background-color: #ffffff !important"
>
  <div class="form-group mt-4 row">
    <label class="col-sm-12 col-md-12 col-lg-3 form-control-label">
      Título del Formulario
    </label>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="Titulo"
        (keyup)="validacion_titulo_event($event)"
      />
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 mt-1" [hidden]="validacion_titulo">
      <label class="label-error">Requerido</label>
    </div>
    <div
      class="col-sm-12 col-md-12 col-lg-3 mt-1"
      [hidden]="validacion_titulo_invalido"
    >
      <label class="label-error">No valido</label>
    </div>
  </div>
</div>

<div class="container p-1">
  <div
    class="col-sm-12 col-md-12 col-lg-3 mt-2"
    style="margin-left: -8px !important"
  >
    <i class="fas fa-clipboard-list"></i> &nbsp; Preguntas
  </div>
</div>

<div [hidden]="!fields.length">
  <div *ngFor="let item of fields; let i = index">
    <div class="container mt-2 text-center bord-form-custom bg-white">
      <div class="form-group mt-4 row">
        <div
          class="col-md-6 col-lg-7 form-control-label"
          style="text-align: start !important"
        >
          <label>Titulo: &nbsp;&nbsp; </label
          ><label style="color: #002e6d !important">{{ item["title"] }} </label>
        </div>
        <div class="col-md-3 col-lg-3" style="text-align: start !important">
          <label class="ml5">Tipo: &nbsp;&nbsp; </label>
          <label style="color: #002e6d !important">{{
            item["fieldType"]
          }}</label>
        </div>
        <div class="col-md-2" style="text-align: end !important">
          <fa-icon
            [icon]="faPen"
            style="color: #ffc20e !important"
            (click)="show(i)"
          >
          </fa-icon>
          <i
            class="fas fa-trash mt-1 ml-3"
            stopPropagation
            (click)="removeField(i)"
            style="
              text-align: right;
              color: #ff0000;
              opacity: 1;
              width: 24px;
              height: 19px;
            "
          ></i>
        </div>

        <div
          class="container text-center mx-auto bg-white"
          style="margin-bottom: 1vh; border-bottom: 0"
        >
          <div class="mt-1 row">
            <div
              class="col-sm-12 col-md-3 col-lg-2 form-control-label"
              style="text-align: start !important"
            >
              <label
                class="mt-3"
                *ngIf="item['fieldType'] === 'FILE'"
                [hidden]="!isFiles[i].pregunta"
                >Archivo Base:</label
              >
            </div>
            <div
              class="col-sm-12 col-md-5 col-lg-5"
              style="text-align: start !important"
            >
              <input
                type="file"
                *ngIf="item['fieldType'] === 'FILE'"
                [hidden]="!isFiles[i].pregunta"
                id="file"
                class="form-control-file mt-3"
                accept="{{ CadenaTiposPermitidos }}"
                (change)="onChangeFile($event, item['id'], i)"
                #inputFileBase
              />
              <!-- [(ngModel)]="FilePath"-->
            </div>
            <div
              class="col-sm-12 col-md-3 col-lg-3"
              style="text-align: start !important"
            >
              <div
                class="row mx-auto mt-3"
                *ngIf="item['fieldType'] === 'FILE'"
              >
                <div class="column">
                  <input
                    type="checkbox"
                    [(ngModel)]="isFiles[i].pregunta"
                    *ngIf="item['baseFile'] === null"
                    (change)="
                      checkValue(
                        isFiles[i].pregunta ? 'Visile' : 'Oculto',
                        i,
                        item['baseFile']
                      )
                    "
                    class="mr-2 mt-1"
                  />
                  <input
                    type="checkbox"
                    [(ngModel)]="isFiles[i].pregunta"
                    *ngIf="item['baseFile']"
                    (change)="
                      checkValue(
                        isFiles[i].pregunta ? 'Visile' : 'Oculto',
                        i,
                        item['baseFile']
                      )
                    "
                    class="mr-2 mt-1"
                  />
                </div>
                <div class="column">
                  <!--button class="btn btn-secondary btn-sm" (click)="getFilePrueba(item)"> <i class="fas fa-file"></i>  Archivo Actual Test</button>
                                    <button class="btn btn-secondary btn-sm" *ngIf="item['baseFile'] && IE == false" (click)="getFile(item)"> <i class="fas fa-file"></i>  Archivo Actual</button>
                                    <button class="btn btn-secondary btn-sm" *ngIf="item['baseFile'] && IE == true" (click)="getFileIE(item)"> <i class="fas fa-file"></i>  Archivo Actual</button-->

                  <label
                    *ngIf="item['baseFile'] === null"
                    class="form-check-label label-info"
                    for="exampleCheck1"
                    >&nbsp;Añadir Archivo Base</label
                  >
                  <label
                    *ngIf="item['baseFile']"
                    class="form-check-label label-info"
                    for="exampleCheck1"
                    >&nbsp;Modificar Archivo Base</label
                  >
                  <button
                    class="btn btn-secondary btn-sm"
                    *ngIf="item['baseFile'] && IE == false"
                    (click)="getFileBlob(item)"
                  >
                    <i class="fas fa-file"></i> Archivo Actual
                  </button>
                  <button
                    class="btn btn-secondary btn-sm"
                    *ngIf="item['baseFile'] && IE == true"
                    (click)="getFileBlobIE(item)"
                  >
                    <i class="fas fa-file"></i> Archivo Actual
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container mt-4 text-center bord-form-custom update-form"
      *ngIf="NoFileds[i].pregunta"
      style="background-color: #ffffff !important"
    >
      <div
        class="mt-3 text-center mx-auto"
        style="margin-bottom: 1vh; border-bottom: 0"
      >
        <div class="mt-3 row">
          <label
            class="col-sm-12 col-md-3 col-lg-2 form-control-label"
            style="color: #002e6d !important"
          >
            Tipo
          </label>
          <div class="col-sm-12 col-md-6 col-lg-7">
            <ng-select
              (change)="onChangeSelect()"
              class="custom mb-3"
              [items]="types"
              bindLabel="name"
              bindValue="id"
              [searchable]="false"
              [(ngModel)]="Type"
            >
            </ng-select>
          </div>
          <div
            class="col-sm-12 col-md-3 col-lg-3"
            style="margin-top: -3px !important"
          >
            <input
              type="checkbox"
              class="mt-2"
              [(ngModel)]="required"
              (change)="checkRequired(required ? 'Requerido' : 'NoRequerido')"
              style="margin-top: 3px !important"
            />
            Requerido <br />
            &nbsp;
            <input
              [disabled]="engineerDisabled"
              type="checkbox"
              class="mt-2"
              style="margin-top: 3px !important"
              [(ngModel)]="engineer"
              (change)="checkIsEngineer(engineer ? 'Requerido' : 'NoRequerido')"
            />
            Ingeniería &nbsp;
          </div>
        </div>
      </div>
      <div
        class="mt-1 text-center mx-auto"
        style="margin-bottom: 1vh; border-bottom: 0"
      >
        <div class="row">
          <label
            class="col-sm-12 col-md-3 col-lg-2 form-control-label"
            style="color: #002e6d !important"
          >
            Titulo
          </label>

          <div class="col-sm-12 col-md-6 col-lg-7">
            <input type="text" class="form-control" [(ngModel)]="pregunta" />
            <div style="width: 100% !important">
              <br />
              <div *ngIf="isFileType">
                <input
                  type="checkbox"
                  [(ngModel)]="requiredConditional"
                  (change)="
                    checkRequiredCondition(
                      requiredConditional ? 'Requerido' : 'NoRequerido'
                    )
                  "
                />
                Requerido segun condicion
              </div>
            </div>
            <br *ngIf="isFileType && requiredConditional" />
            <label
              *ngIf="
                (isIntNumber && reference) ||
                (isFileType && requiredConditional)
              "
              style="width: 100% !important; color: #002e6d !important"
              >Titulo Secundario</label
            >
            <input
              *ngIf="
                (isIntNumber && reference) ||
                (isFileType && requiredConditional)
              "
              type="text"
              class="form-control"
              [(ngModel)]="secondaryTitle"
            />

            <div style="width: 100% !important" *ngIf="isDinamic == true">
                <label
                class="col-12 form-control-label"
                style="color: #002e6d !important"
              >
                Plantilla por Defecto
              </label>
                <editor
                apiKey="1rmilf844n4ypp5zin3nrz8nkbehgs89l2s9vwnp8slwb7ms"
                [init]="{
                  height: 500,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link image charmap print',
                    'preview anchor searchreplace visualblocks code',
                    'fullscreen insertdatetime media table paste',
                    'help wordcount'
                  ],
                  toolbar:
                    'undo redo | formatselect fontselect | bold italic forecolor | \
          alignleft aligncenter alignright alignjustify | \
          bullist numlist outdent indent | table | help '
                }"
                allowedEvents="onBlur,onKeyUp"
                [(ngModel)]="defaultValue"
              >
              </editor>
            </div>
            <div style="width: 100% !important" *ngIf="isNumber == true">
              <br />

              <div
                style="width: 50% !important; display: inline-block !important"
              >
                <label style="color: #002e6d !important"
                  >Minimo: &nbsp;&nbsp;</label
                >
                <br />
                <input
                  type="text"
                  class="form-size"
                  (keyup)="keyupNumberMin($event, min)"
                  [(ngModel)]="min"
                />
              </div>
              <div
                style="width: 50% !important; display: inline-block !important"
              >
                <label style="color: #002e6d !important"
                  >Maximo: &nbsp;&nbsp;</label
                >
                <input
                  type="text"
                  class="form-size"
                  (keyup)="keyupNumberMax($event, max)"
                  [(ngModel)]="max"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3" *ngIf="isText">
            <input
              type="checkbox"
              class="mt-2"
              [(ngModel)]="ip"
              (change)="checkIp(ip ? 'Requerido' : 'NoRequerido')"
              style="margin-top: 3px !important"
            />&nbsp;IP
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br />
            &nbsp;&nbsp;&nbsp;
            <input
              type="checkbox"
              class="mt-2"
              style="margin-top: 3px !important"
              [(ngModel)]="hostname"
              (change)="checkHostname(hostname ? 'Requerido' : 'NoRequerido')"
            />
            &nbsp;Hostname &nbsp;
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3" *ngIf="isIntNumber">
            <input
              type="checkbox"
              class="mt-2"
              [(ngModel)]="reference"
              (change)="checkReference(reference ? 'Requerido' : 'NoRequerido')"
              style="margin-top: 3px !important"
            />&nbsp;Referencia
          </div>
          <div class="col-sm-12 col-md-12 mt-1">
            <label class="label-error" [hidden]="validacion_pregunta"
              >Requerido.</label
            >
          </div>
        </div>
      </div>

      <div
        class="mt-4 text-center bord-form-custom mx-auto"
        style="margin-bottom: 1vh; border-bottom: 0"
        [hidden]="!isSelect"
      >
        <div class="mt-3 row">
          <label class="col-sm-12 col-md-3 col-lg-3 form-control-label">
            <h2 class="h2" style="font-size: 2vh !important">Opciones</h2>
          </label>
        </div>

        <label class="label-error" [hidden]="validacion_options"
          >Agregue más de una opción.</label
        >
        <div class="mt-3 row" *ngFor="let item of options; let i = index">
          <label class="col-md-3 col-lg-3 form-control-label"></label>
          <div class="col-md-7 col-lg-6">
            <input
              type="text"
              class="form-control"
              value="{{ item.title }}"
              readonly
            />
          </div>
          <div class="col-md-2 col-lg-3">
            <i
              class="fas fa-trash"
              (click)="removeOptionSelect(i)"
              style="
                text-align: center;
                color: #ff0000;
                margin-left: -6vw !important;
                opacity: 1;
                width: 24px;
                height: 19px;
              "
            ></i>
          </div>
        </div>
        <div class="mt-3 row">
          <label class="col-sm-12 col-md-3 col-lg-3 form-control-label"></label>
          <div class="col-sm-12 col-md-7 col-lg-6">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="Opcion"
              style="margin-top: -1vh !important; margin-bottom: 1vh !important"
            />
            <label class="label-error" [hidden]="validacion_options_input"
              >Requerido.</label
            >
          </div>

          <div class="col-sm-12 col-md-12 col-lg-3">
            <button
              class="custom-formulario-buttons mx-auto"
              type="button"
              (click)="addOptionSelect()"
            >
              Agregar Opción
            </button>
            <div class="d-block d-sm-block d-md-none"><br /></div>
          </div>

          <div
            class="col-sm-12 col-md-12 col-lg-12"
            style="margin-bottom: 5px !important"
          >
            <div class="col-sm-12 d-block d-sm-block d-md-none">
              <input
                type="checkbox"
                class="mr-2 mt-2"
                [(ngModel)]="MultiSelect"
                (change)="
                  checkMultiSelect(MultiSelect ? 'Requerido' : 'NoRequerido')
                "
              />
              Seleccion Multiple
            </div>
            <div
              class="col-sm-12 d-block d-sm-block d-md-none"
              *ngIf="this.MultiSelect"
            >
              <input
                type="checkbox"
                class="mr-2 mt-2"
                [(ngModel)]="permittedAdd"
                (change)="
                  checkAddMore(permittedAdd ? 'Requerido' : 'NoRequerido')
                "
              />
              Permitir Agregar &nbsp;&nbsp;
            </div>

            <div class="d-none d-sm-none d-md-block">
              <input
                type="checkbox"
                class="mr-2 mt-2"
                [(ngModel)]="MultiSelect"
                (change)="
                  checkMultiSelect(MultiSelect ? 'Requerido' : 'NoRequerido')
                "
              />
              Seleccion Multiple
              <input
                type="checkbox"
                class="mr-2 mt-2"
                *ngIf="this.MultiSelect"
                [(ngModel)]="permittedAdd"
                (change)="
                  checkAddMore(permittedAdd ? 'Requerido' : 'NoRequerido')
                "
              />
              <div
                *ngIf="this.MultiSelect"
                style="display: inline-block !important"
              >
                Permitir Agregar
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-secondary m-2" (click)="modificarForm(i)">
        Guardar Pregunta
      </button>
    </div>
  </div>

  <div
    style="
      justify-content: center !important;
      text-align: center !important;
      width: 100% !important;
    "
  >
    <button
      class="mt-3 bord-form-custom text-center mr-2"
      (click)="agregarPregunta()"
      style="
        background-color: white !important;
        height: 52px;
        width: auto !important;
        max-width: 292px !important;
      "
    >
      <i
        class="fas fa-plus"
        stopPropagation
        style="
          text-align: right;
          color: #109f00;
          opacity: 1;
          width: 24px;
          height: 19px;
        "
      ></i>
      Agregar una Pregunta &nbsp;
    </button>
    <button
      class="mt-3 bord-form-custom text-center"
      (click)="openModal()"
      style="
        background-color: white !important;
        height: 52px;
        width: auto !important;
        max-width: 292px !important;
      "
    >
      <i
        class="fas fa-arrows-alt-v"
        stopPropagation
        style="
          text-align: right;
          color: #002e6d;
          opacity: 1;
          width: 24px;
          height: 19px;
        "
      ></i>
      Reordenar los campos &nbsp;
    </button>
  </div>

  <div class="container mt-3 text-center" [hidden]="!fields.length">
    <button
      type="button"
      class="btn btn-tertiary"
      (click)="enviar()"
      [hidden]="UpdateMode"
      [disabled]="loading"
    >
      Registrar Plantilla
    </button>
    <button
      type="button"
      class="btn btn-tertiary"
      (click)="actualizar_Enviar()"
      [hidden]="!UpdateMode"
      [disabled]="loading"
    >
      Actualizar Plantilla
    </button>
    <button
      type="button"
      class="btn btn-primary m-2"
      [routerLink]="['/formularios']"
    >
      Cancelar
    </button>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="UploadFileModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <label> Titulo del Formulario </label>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
