

<div class="sidebar-wrapper">
    <div  class="d-block d-sm-block d-md-none">
  
      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom ">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngFor="let menu of menus; let i = index">
              <a class="nav-link" [routerLink]="menu.url" *ngIf="!menu.submenu">   {{ menu.name }}  {{i}} <span class="sr-only">(current)</span></a>
  
              <a class="nav-link dropdown-toggle"  *ngIf="menu.submenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ menu.name }} {{i}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown"  >
                <li *ngFor="let submenu of menu.submenu">
                  <a [routerLink]="submenu.url" [routerLinkActive]="['active']" class="dropdown-item">
                    <span class="mt-2 icon-sliderbar {{submenu.iconClass}} mr-3 content-submenu"></span>
                    <span class="menu-collapsed">{{ submenu.name }}</span>
                  </a>
                </li>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>