<!--NG-WIZARD-->
<div class="container mb-4">
  <h2 class="mb-2">Opción 1</h2>
  <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
    <ng-wizard-step
      [title]="'&#10003;'"
      [description]="''"
      [canEnter]="isValidTypeBoolean"
      [canExit]="isValidFunctionReturnsBoolean.bind(this)"
    >
      <span>Contenido del Paso 1</span>
    </ng-wizard-step>
    <ng-wizard-step
      [title]="'&#10003;'"
      [description]="''"
      [canEnter]="isValidFunctionReturnsObservable.bind(this)"
      [canExit]="isValidFunctionReturnsBoolean.bind(this)"
    >
      <span>Contenido del Paso 2</span>
    </ng-wizard-step>
    <ng-wizard-step [title]="'&#10003;'" [description]="''">
      <span>Contenido del Paso 3</span>
    </ng-wizard-step>
    <ng-wizard-step [title]="'&#10003;'" [description]="''">
      <span>Contenido del Paso 4</span>
    </ng-wizard-step>
    <ng-wizard-step [title]="'&#10003;'" [description]="''">
      <span>Contenido del Paso 5</span>
    </ng-wizard-step>
  </ng-wizard>

  <div class="container text-center">
    <button class="btn btn-secondary m-2" (click)="showPreviousStep()">
      Anterior
    </button>
    <button class="btn btn-secondary m-2" (click)="showNextStep()">
      Siguiente
    </button>
    <button class="btn btn-primary m-2" (click)="finish()">Finalizar</button>
  </div>
</div>
