<ngx-ui-loader [fgsColor]="loadingService.config.fgsColor" [fgsPosition]="loadingService.config.fgsPosition" [fgsSize]="loadingService.config.fgsSize" [fgsType]="loadingService.config.fgsType" [bgsColor]="loadingService.config.bgsColor" [bgsOpacity]="loadingService.config.bgsOpacity"
    [bgsPosition]="loadingService.config.bgsPosition" [bgsSize]="loadingService.config.bgsSize" [bgsType]="loadingService.config.bgsType" [gap]="loadingService.config.gap" [logoPosition]="loadingService.config.logoPosition" [logoSize]="loadingService.config.logoSize"
    [logoUrl]="loadingService.config.logoUrl" [overlayColor]="loadingService.config.overlayColor" [pbColor]="loadingService.config.pbColor" [pbDirection]="loadingService.config.pbDirection" [pbThickness]="loadingService.config.pbThickness" [hasProgressBar]="loadingService.config.hasProgressBar"
    [text]="loadingService.config.text" [textColor]="loadingService.config.textColor" [textPosition]="loadingService.config.textPosition"></ngx-ui-loader>

<app-side *ngIf="isLoggedIn"></app-side>

<!--div *ngIf="!isLoggedIn">
  <router-outlet></router-outlet>
</div-->

<router-outlet></router-outlet>