/*.esquinas_redondeadas_slider {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}*/


/*.slider_bakcground {
    background: #002E6D !important;
}*/

.page-color {
    background-color: #FFFFFF;
}

.icon-bar-background {
    color: #002E6D !important;
}


/*-------------------------------- END ----*/

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    height: auto;
    padding: 0;
    /* flex: unset; */
}

.sidebar-expanded {
    width: 375px;
}

.sidebar-collapsed {
    /*width: 60px;*/
    width: 140px;
}

 ::ng-deep .bs-datepicker-head button.current {
    border-radius: 15px;
    max-width: 155px;
    padding: 0 13px;
    margin-left: -10% !important;
    color: #FFFFFF !important;
}

::ng-deep .bs-datepicker-head {
    background-color: #002e6d !important;
}

::ng-deep .bs-datepicker-head button.current:hover {
    color: #00c8ff !important;
    background-color: #002e6d !important;
}

 ::ng-deep .bs-datepicker-head button.ng-star-inserted {
    border-radius: 15px;
    max-width: 155px;
    padding: 0 13px;
    margin-left: -28% !important;
    color: #FFFFFF !important;
}

::ng-deep .theme-dark-blue .bs-datepicker-body table td span.selected,
.theme-dark-blue .bs-datepicker-body table td.selected span,
.theme-dark-blue .bs-datepicker-body table td span[class*="select-"]::after,
.theme-dark-blue .bs-datepicker-body table td[class*="select-"] span::after {
    background-color: #ffc20e !important;
    color: #002e6d !important;
}

::ng-deep .bs-datepicker-body table th {
    color: #002E6D !important;
    font-weight: 700 !important;
}


/*
::ng-deep .theme-dark-blue .btn-today-wrapper .btn-success,
.theme-dark-blue .btn-clear-wrapper .btn-success {
    background-color: #002E6D !important;
}*/

::ng-deep .bs-datepicker-buttons .btn-clear-wrapper .btn-success {
    color: #FFFFFF !important;
    height: 36px !important;
    background-color: #002e6d !important;
}