<div class="mb-5">
  <div class="row mb-3 ml-3">
    <div class="row title">
      <h1>{{ title }}</h1>
    </div>
    <div class="row contenido">
      <button class="btn btn-sm btn-primary" *ngIf="selected.length > 0" (click)="openModal(template)">Asignar Seleccionadas ({{ selected.length }})</button>
      <!--<div class="search-box-container" *ngIf="requests.length != 0">
          <input type="text" placeholder="Buscar..." (keyup)="find($event)" />
        </div>-->
    </div>
  </div>

  <div *ngIf="requests.length == 0">
    No hay solicitudes pendientes de asignacion...
  </div>

  

  <div class="table-wrapper" #tableWrapper *ngIf="requests.length != 0">
    <ngx-datatable
      #table
      ngx-resize-watcher
      class="bootstrap"
      [rows]="requests"
      [headerHeight]="30"
      rowHeight="auto"
      [loadingIndicator]="true"
      [footerHeight]="60"
      [scrollbarH]="true"
      [columnMode]="ColumnMode.force"
      [selected]="selected"
      (select)="onSelect($event)"
      [selectionType]="SelectionType.checkbox"
      [externalPaging]="true"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      (page)="getPage($event)"
    >
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="false"
        [checkboxable]="true"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        name="ACCIONES"
        [width]="90"
        [canAutoResize]="false"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="text-center">{{ column.name }}</span>
        </ng-template>
        <ng-template
          let-row="row"
          let-expanded="expanded"
          let-value="value"
          ngx-datatable-cell-template
        >
          <div>
            <fa-icon
              [icon]="faEye"
              type="button"
              class="btn-outline-show rounded p-1 mr-1"
              [routerLink]="['/solicitud/' + row['id']]"
              routerLinkActive="router-link-active"
            >
            </fa-icon>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false">
        <ng-template ngx-datatable-header-template>
          <span>NO. SOLICITUD</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          #&nbsp;{{ row.id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="TIPO DE SOLICITUD"
        prop="requestType.description"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <p class="header-text-start">{{ column.name }}</p>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="NOMBRE DEL PROYECTO"
        prop="projectName"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <p class="header-text-start">{{ column.name }}</p>
        </ng-template></ngx-datatable-column
      >

      <ngx-datatable-column
        name="FECHA DE CREACIÓN"
        prop="createdDate"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <p class="header-text-center">{{ column.name }}</p>
        </ng-template>
        <ng-template
          let-row="row"
          let-expanded="expanded"
          let-value="value"
          ngx-datatable-cell-template
        >
          <div class="header-text-center" style="margin-left: -15px !important">
            {{ value | date: "medium" }}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="CREADA POR"
        prop="createdByName"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <p class="header-text-start">{{ column.name }}</p>
        </ng-template>

        <ng-template
          let-row="row"
          let-expanded="expanded"
          let-value="value"
          ngx-datatable-cell-template
        >
          <div class="body-text-start">
            {{ value }}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="PRIORIDAD"
        prop="priority"
        [canAutoResize]="true"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <p class="header-text-center">{{ column.name }}</p>
        </ng-template>
        <ng-template
          let-row="row"
          let-expanded="expanded"
          let-value="value"
          ngx-datatable-cell-template
        >
          <div class="text-center">
            <i
              class="fas fa-exclamation-circle text-danger"
              *ngIf="value === 'ALTA'"
            ></i>
            <i
              class="fas fa-exclamation-circle text-warning"
              *ngIf="value === 'MEDIA'"
            ></i>
            <i
              class="fas fa-exclamation-circle text-success"
              *ngIf="value === 'BAJA'"
            ></i>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
        >
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!(rowCount / pageSize > 1)"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>

 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Asignación de solicitudes</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row"></div>
    <label>Nombre del Ingeniero</label>
    <ng-select class="custom mb-3" [items]="engineerList" bindLabel="displayName" bindValue="email" [searchable]="false" [(ngModel)]="selectedEnginner">
    </ng-select>
    <br />
    <div class="text-center">
        <button class="btn btn-tertiary btn-sm m-2" (click)="assignMultiple()">
        Asignar
      </button>
        <button class="btn btn-secondary btn-sm m-2" (click)="modalRef.hide()">
        Cancelar
      </button>
    </div>
  </div>
</ng-template>
