
@media (min-width: 200px) and (max-width: 559.98px)  {
    .search-box-container input {
        margin-top: 1vh !important;
        width: 100% !important;
        height: 37px !important;
    }
    .search-box-container {
        width: 100% !important;
        height: 37px !important;
    }
    
    div.row div.col-btn-custom {
        width: 100% !important;
    }
    .btn-add {
        width: 100% !important;
    }
    
    .contenido{
        text-align: center; 
        width: 100% !important;
    }
}

@media (min-width: 560px) and (max-width: 637.98px){
    .contenido{
        width: 40% !important; 
        text-align: end !important; 
        margin-left: 13px !important;
    }

    div.row div.title {
        margin-top: auto !important;
        height: 37px !important;
        width: 60% !important; 
    }

    div.row div.col-btn-custom{
        display: inline !important; 
    }

    .btn-secondary{
        height: 100% !important;
    }

    div.row .search-box-container {
        height: 37px !important;
        display: inline !important;
    }
    div.row .search-box-container input{
        height: 37px !important;
        width: 100% !important;
        max-width: 300px !important;
    }

}

@media (min-width: 638px) {
    .contenido{
        width: 50% !important; 
        display: block !important;
        text-align: end !important; 
        margin-left: 13px !important;
    }

    div.row div.title {
        margin-top: auto !important;
        height: 37px !important;
        width: 50% !important; 
    }

    div.row div.col-btn-custom{
        display: inline !important; 
    }

    .btn-secondary{
        height: 100% !important;
    }

    div.row .search-box-container {
        height: 37px !important;
        display: inline !important;
    }
    div.row .search-box-container input{
        margin-left: -5px !important;
        height: 37px !important;
        width: 100% !important;
        max-width: 300px !important;
    }

}


.btn-add{
    top: 122px;
    left: 1303px;
    width: 131px;
    height: 37px;
    color: #FFFFFF !important;
    background: #00C8FF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border: 0 !important;
    opacity: 1;
}