<div>
  <h1>PERFIL DE USUARIO</h1>
</div>

<div class="row border-card" style="overflow-x: auto;">
  <div class="d-flex justify-content-center">
    <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 ml-2 mr-5">
      <img class="rounded" [src]="src" width="104" />
    </div>
  </div>

  <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
    <div>
      <span class="mt-2 campos">Nombre completo</span>
      <h5 class="datos">{{ userProfile.displayName }}</h5>
    </div>

    <div class="mt-4">
      <span class="mt-2 campos">Puesto</span>
      <h5 class="datos">{{ userProfile.jobTitle }}</h5>
    </div>

    <div class="mt-4 campos">
      <span class="mt-2 campos">Email</span>
        <div class="datos">{{ userProfile.email }}</div>
    </div>

    <div class="mt-4" *ngIf="userProfile.mobilePhone">
      <span class="mt-2 campos">Número de Teléfono</span>
      <h5 class="datos">{{ userProfile.mobilePhone }}</h5>
    </div>

    <div class="mb-4 mt-4">
      <span class="mt-2 campos">Fecha de registro</span>
      <h5 class="datos">{{ userProfile.createdDate | date: "medium" }}</h5>
    </div>

    <div class="mb-4 mt-4">
      <span class="mt-2 campos">Grupos</span>
      <h5 class="datos" *ngFor="let item of groups">{{ item }}</h5>
    </div>
  </div>
</div>
