.datos {
  font: bold 12pt Roboto;
  color: #002e6d;
  opacity: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.campos {
  font: bold 11pt Roboto;
  color: #00c8ff;
  opacity: 1;
}

.photo {
  border-radius: 15px;
  opacity: 1;
}
