<div class="mb-5">
  <div class="row mb-3 ml-3">
    <div class="row title"><h1>RECORDATORIOS</h1></div>
    <div class="row contenido">
      <div class="search-box-container">
        <input type="text" placeholder="Buscar..." (keyup)="find($event)" />
      </div>
    </div>
  </div>

  <ngx-datatable
    #table
    ngx-resize-watcher
    class="bootstrap"
    [rows]="coordinadores"
    [headerHeight]="30"
    [rowHeight]="50"
    [limit]="8"
    [footerHeight]="60"
    [scrollbarH]="true"
    [columnMode]="ColumnMode.force"
    [selectionType]="SelectionType.checkbox"
  >
    <ngx-datatable-column
      name="COORDINADOR"
      prop="displayName"
      [sortable]="false"
    >
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="header-text-start">{{ column.name }}</p>
      </ng-template>
      <ng-template
      let-row="row"
      let-expanded="expanded"
      let-value="value"
      ngx-datatable-cell-template
    >
    <p class="body-text-start">{{ value }}</p>
      </ng-template>
      </ngx-datatable-column
    >
    <ngx-datatable-column
      name="NOTIFICACIONES"
      [canAutoResize]="true"
      prop="notifications"
      [sortable]="false"
    >
      <ng-template
        let-row="row"
        let-expanded="expanded"
        let-value="value"
        ngx-datatable-cell-template
      >
        <div class="container text-left">
          <fa-icon
            [icon]="faFlag"
            type="button"
            class="btn-outline-danger rounded p-1 mr-3"
            *ngIf="value == false"
            (click)="notif(row['id'])"
          >
          </fa-icon>

          <fa-icon
            [icon]="faFlag"
            type="button"
            class="btn-outline-success rounded p-1 mr-3"
            *ngIf="value == true"
            (click)="notif(row['id'])"
          >
          </fa-icon>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-selectedCount="selectedCount"
        let-curPage="curPage"
        let-offset="offset"
      >
        <datatable-pager
          [pagerLeftArrowIcon]="'datatable-icon-left'"
          [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'"
          [pagerNextIcon]="'datatable-icon-skip'"
          [page]="curPage"
          [size]="pageSize"
          [count]="rowCount"
          [hidden]="!(rowCount / pageSize > 1)"
          (change)="table.onFooterPage($event)"
        >
        </datatable-pager>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>
