<div class="mb-5">
  <div class="row mb-3 ml-3">
    <div class="row title">
      <h1>{{ title }}</h1>
    </div>
    <div class="row contenido">
      <div class="search-box-container">
        <input type="text" placeholder="Buscar..." (keyup)="find($event)" />
      </div>
    </div>
  </div>

  <div class="table-wrapper" #tableWrapper>
    <ngx-datatable
      #table
      ngx-resize-watcher
      class="bootstrap"
      [rows]="requestTypes"
      [headerHeight]="20"
      rowHeight="auto"
      [limit]="10"
      [footerHeight]="60"
      [scrollbarH]="true"
      [loadingIndicator]="true"
      [columnMode]="ColumnMode.standard"
      [selectionType]="SelectionType.checkbox"
      [externalPaging]="true"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      (page)="getPage($event)"
    >
      <ngx-datatable-column name="TIPO DE SOLICITUD" prop="description" [sortable]="false">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          let-value="value"
          ngx-datatable-cell-template
        >
          <div class="container text-left text-primary-1 font-weight-bold">
            {{ value }}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="COMPLETAR FORMULARIO"
        [canAutoResize]="true"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <p class="header-text-center">{{ column.name }}</p>
        </ng-template>
        <ng-template
          let-row="row"
          let-expanded="expanded"
          let-value="value"
          ngx-datatable-cell-template
        >
          <div class="text-center">
            <button
              class="btn btn-tertiary m-2 btn-sm small"
              role="button"
              [routerLink]="['/solicitud/form/' + row['id'], { idS: '' }]"
              routerLinkActive="router-link-active"
            >
              Llenar
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
        >
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!(rowCount / pageSize > 1)"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
