<!--PROGRESS-WRAPPER-->
<div class="progress-wrapper">
  <div class="current" [ngStyle]="getOverlayStyle()">
    {{ current }}/{{ max }}
  </div>
  <round-progress
    [current]="current"
    [max]="max"
    [color]="'#002E6D'"
    [background]="'#FFC20E'"
    [stroke]="30"
  >
  </round-progress>
</div>

<div class="container text-center">
  <button class="btn btn-secondary m-2" (click)="showPreviousStep()">
    Anterior
  </button>
  <button class="btn btn-secondary m-2" (click)="showNextStep()">
    Siguiente
  </button>
  <button class="btn btn-primary m-2">
    Finalizar
  </button>
</div>
