<div class="modal-header">
  <h1>{{ title }}</h1>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-template #itemTemplate let-item="item" let-index="index">
    <div class="sortable-item">
        <i class="fas fa-user-tie text-primary-2 mr-1" *ngIf="item.value.engineerField == false"></i>
        <i class="fas fa-user-cog text-primary-1 mr-1" *ngIf="item.value.engineerField == true"></i> <label style="color: #002e6d !important"
        >{{ item.value.title }}
      </label>
        
      <div class="col-md-3 col-lg-3" style="text-align: start !important">
        <label>{{
          item.value.fieldType
        }}</label>
      </div>
    </div>
  </ng-template>

  <bs-sortable
    [(ngModel)]="fields"
    [itemTemplate]="itemTemplate"
    itemClass="sortable-item"
    itemActiveClass="sortable-item-active"
    placeholderItem="Drag here"
    placeholderClass="placeholderStyle"
    wrapperClass="sortable-wrapper"
    (onChange)="reorder()"
  ></bs-sortable>
</div>
<div class="modal-footer">
    <i class="fas fa-user-tie text-primary-2 mr-1"></i> <label> Campo de Solicitante</label>
    <br>
    <i class="fas fa-user-cog text-primary-1 mr-1"></i> <label> Campo de Ingeniería</label>
</div>
