.sortable-item {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  margin-bottom: 4px;
  border: 3px solid var(--main-primary-color-2) !important;
  border-radius: 9px;
  background-color: white;
  z-index: 1 !important;
  text-align: left;
  cursor: grab;
}

.sortable-item-active {
  background-color: #e6e6e6 !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) impor !important;
}

.sortable-wrapper {
  min-height: 150px;
}
