.accordion {
    width: 100vw !important;
    height: 100vh !important;
    max-width: 360px;
    margin-right: 0;
    margin-bottom: 0 !important;
    background: #002E6D 0% 0% no-repeat padding-box;
    /*border-radius: 4px;*/
  }
  
  .accordion .menu {
    height: 64px !important;
    border-radius: 15px 0px 0px 0px !important;
    margin-left: 12px !important;
    /*border-radius: 15px 0px 0px 0px;*/
    /*margin-left: 3.041vh !important;*/
    position: relative;
    padding: 15px 15px 15px 45px;
    color: #FFFFFF;
    font-weight: bold;
    /*border-bottom: 1px solid #ccc;*/
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .accordion li:last-child .menu {
    border-bottom: 0;
  }
  
  .accordion li i {
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    color: #FFFFFF;
    transition: all 0.4s ease;
  }
  
  .accordion li i.fa-chevron-down {
    right: 1rem;
    left: auto;
  }
  
  .accordion li.active i.fa-chevron-down {
    transform: rotate(180deg);
  }
  
  .accordion li.active .menu {
    background: #FFC20E 0% 0% no-repeat padding-box;
  }
  
  .accordion li.active .directo {
    background: #FFC20E 0% 0% no-repeat padding-box;
    color: #002E6D ;
  }
  
  .accordion li.active i {
    background: #FFC20E 0% 0% no-repeat padding-box;
  }
  
  /* Show submenu */
  .accordion li.active .submenu {
    border-radius: 0px 0px 0px 15px;
    /*
      height: 0 -> height: auto;는 transition이 동작하지 않는다.
      max-height: 임의의 높이;를 지정하면 transition이 동작하지만 타이밍이 망가진다.
      max-height: 1000px;과 max-height: 133px;을 비교해 보라!
      height를 1000px으로 transition할 시간에 실제로는 133px정도만 transition하므로 여는 시간이 닫는 시간보다 빠르다.
    */
    /* max-height: 1000px; */
    /* max-height: 133px; */
  }
  
  .submenu {
    margin-left: 12px !important;
    height: 0;
    overflow: hidden;
    background: #FFC20E 0% 0% no-repeat padding-box;
    font-size: 14px;
    transition: height 0.4s ease;
  }
  
  /*.submenu li {
    border-bottom: 1px solid #4b4a5e;
  }*/
  
  .accordion li:last-child .submenu {
    border-radius: 0 0 4px 4px;
  }
  
  .accordion li:last-child .submenu li:last-child {
    border-bottom: 0;
  }
  
  .submenu a {
    height: 40px !important;
    display: block;
    text-decoration: none;
    color: #002E6D !important;
    padding: 12px;
    padding-left: 42px;
    transition: all 0.25s ease-in-out;
  }
  
  /*.submenu a:hover {
    background: #b63b4d;
    color: #fff;
  }*/

div:focus {outline:0;}

.active {
  color: #002E6D !important;
  border-radius: 15px 0px 0px 15px;
}

.active .menu{
  color: #002E6D !important;
}

.active .menu i{
  color: #002E6D !important;
}


.active .submenu .active .Rectangulo{
  margin-left: -8px;
  margin-top: 5px;
  width: 44px;
  height: 19px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 9px;
  opacity: 1;
  position: fixed;
}

.icon-sliderbar {
  margin-left: 3.041vh !important;
  font-size: 25px !important;
}

.content-menu{
  margin-left: 50px !important;
}

.content-submenu{
  margin-left: 50px !important;
}

/*Collapse */

    
.sidebar-expanded {
  width: 375px;
  transition: width .2s;
}

.sidebar-collapsed {
  width: 140px;
  transition: width .2s;
}

/* ----------| Menu item*/    
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}


@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

@keyframes fadeOut {
from {
  opacity: 1;
}
to {
  opacity: 0;
}
}

/* Lite */
.navbar-custom {
  background-color: #002E6D !important;
}

.dropdown-item.active {
  color: #ffffff !important;
  border-radius: 0px 0px 0px 0px;
}


div:focus {outline:0;}

/*  CARD */



.accordion .card {
  height: 164px !important;
  /*border-radius: 15px 0px 0px 0px;*/
  position: relative;
  padding: 15px 15px 15px 45px;
  color: #FFFFFF;
  font-weight: bold;
  /*border-bottom: 1px solid #ccc;*/
  background-color: #002E6D;
  cursor: pointer;
  transition: all 0.4s ease;
}



.card-custom{
  margin-bottom: 70px;
  height: 104px;
  /*border-radius: 15px 0px 0px 0px;*/
  margin-left: 12px !important;
  position: relative;
  padding: 15px 15px 15px 45px;
  font-weight: bold;
  /*border-bottom: 1px solid #ccc;*/
  cursor: pointer;
  transition: all 0.4s ease;
}

.card-user-sidebar {
  height: 21.88vh;
  background-color: #002E6D;
  border-style: none;
  margin-bottom: 5vh !important;
}

.card-user-info {
  width: 244px;
  /* border-style: solid; ----------------------*/
  border-color: seashell;
}

.column-user-photo{
  margin-left: 1.1vh !important;
  color: #FFFFFF;
}


.imagen-user {
  /*border-style: solid;
  border-color: springgreen;
  /* border-style: solid; ---------------*/
  border-radius: 15px !important;
  opacity: 1 !important;
}


.column-user-info{
  background-color: #002E6D;
  color: #FFFFFF;
}

.active .column-user-info{
  background-color: #FFC20E ;
  color: #435979;
}

.card-user-data {
  width: 127px;
  margin-top: 1.66vh;
  margin-left: 1.66vh !important;
}

.active .card-user-data{
  background-color: #435979 !important;
}


.imagen-user-collapse {
  /*border-style: solid;
  border-color: springgreen;*/
  margin-bottom: 70px;
  margin-top: -1.1px !important;
  margin-left: 15px !important;
  display: none;
}


.accordion .directo {
  height: 64px !important;
  /*border-radius: 15px 0px 0px 0px;*/
  /*margin-left: 3.041vh !important;*/
  margin-left: 12px !important;
  position: relative;
  padding: 15px 15px 15px 45px;
  color: #FFFFFF;
  font-weight: bold;
  /*border-bottom: 1px solid #ccc;*/
  cursor: pointer;
  transition: all 0.4s ease;
}

.active .directo .icon-sliderbar {
  color:  #002E6D ;
}

.sidebar-collapsed .active .menu{
  border-radius: 15px 0px 0px 15px !important;
}

/* */

.btn-cerrar-session {
  text-align: center;
  font-family: 'Roboto-Regular';
  font-size: 18px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0px;
  color: #002E6D;
  opacity: 1;
  margin-left: 26px;
  height: 46px;
  width: 323px;
  background: #FFC20E 0% 0% no-repeat padding-box;
  border-radius: 32px;
  opacity: 1;


 /* margin-left: -8px;
  position: relative;
  margin-top: 5px;
  width: 44px;
  height: 19px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 9px;
  opacity: 1;*/
  position: fixed;
}

.btn-cerrar-session-collapsed {
  margin-left: 35px;
  text-align: center;
  width: 65px;
  height: 46px;
  background: #FFC20E 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
}

/* INFO */

.text-user-name {
  margin-left: 50px !important;
  text-align: left;
  font-family: 'Roboto-Regular';
  font-size: 18px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  line-height: 1em;
}

.text-user-rol {
  margin-left: 50px !important;
  text-align: left;
  font: normal normal bold 14px/20px Roboto-Regular;
  letter-spacing: 0px;
  color: #FFC20E;
  opacity: 1;
}

div .menu label{
  color: #FFFFFF !important;
}

div .directo label{
  color: #FFFFFF !important;
}

.active .text-user-name{
  text-align: left;
letter-spacing: 0px;
color: #002E6D;
opacity: 1;
}

.active  .text-user-rol{
  text-align: left;
letter-spacing: 0px;
color: #002E6D;
opacity: 1;
}

.active .menu label{
  color: #002E6D !important;
}

.active .directo label{
  color: #002E6D !important;
}


.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}