<div id="sidebar-container" class="sidebar-expanded d-none d-sm-none d-md-block" >
<ul id="accordion" class="accordion" >

  <i (click)="SidebarCollapse()" class="fas fa-times close-icon-sidebar d-flex flex-row-reverse pt-3 mr-3 default-size-icons" role="button" id="close-sidebar" style="color: #FFFF; "></i>

  <br>
    <li *ngFor="let menu of menus; let i = index" 
      [class.active]="menu.active">

      <div class="directo" (click)="toggle(i)"  *ngIf="!menu.submenu && !menu.card" [routerLink]="menu.url" style="border-radius: 15px 0px 0px 15px !important;">
        <i [class]="menu.iconClass" class=" icon-sliderbar" style="margin-left: 35px !important;"></i>
        <label class="content-menu mt-2 menu-collapsed">
          {{ menu.name }}</label>
      </div>
      
      <div class="menu" (click)="toggle(i)"  *ngIf="menu.submenu"  >
        <i [class]="menu.iconClass" class=" icon-sliderbar"></i>
        <label class="content-menu mt-2 menu-collapsed">
          {{ menu.name }}</label>
      </div>

      <ul class="submenu  menu-collapsed" #submenu  *ngIf="menu.submenu" 
        [style.height.px]="menu.active ? submenu.scrollHeight : 0" >
        <li *ngFor="let submenu of menu.submenu" style="margin-top: -5px !important;">
          <a [routerLink]="submenu.url" [routerLinkActive]="['active']">
            <span class="Rectangulo menu-collapsed"></span>
            <span class="mt-2 icon-sliderbar {{submenu.iconClass}} mr-3 content-submenu"></span>
            <span class="menu-collapsed">{{ submenu.name }}</span>
          </a>
        </li>
      </ul>


      <!--div (click)="toggle(i)"  [routerLink]="menu.url" style="border-radius: 15px 0px 0px 15px !important;" *ngIf="menu.card && !menu.submenu" -->
        
        <div (click)="toggle(i)" [routerLink]="menu.url" style="border-radius: 15px 0px 0px 15px !important;" *ngIf="menu.card && !menu.submenu">
          

          <div id="imagen-user-collapse" class="imagen-user-collapse" >
            <img class="imagen-user"  src="{{img}}" width="104" height="104" style="position: relative; margin-right: -40px; ">
          </div>
          
            <div class="card-custom menu-collapsed">

            <div class="row" style="margin-top: -15px;margin-right: -30px !important;">
              <div class="column column-user-photo ">
                <img class="imagen-user"  src="{{img}}" width="104" height="104" style="position: relative; margin-right: -40px; ">
              </div>
              <div class="column column-user-info ">
                <div class="card-user-info" >
                  <div class="text-user-name" >
                    <br>
                    {{nombres}}
                    <br>
                    {{apellidos}}
                </div>
                <div class="text-user-rol">
                    <div>{{trabajo}}</div>
                </div>
              </div>
              </div>
            </div> 

          </div>
        </div>

    </li>


    
  </ul>


  <button id="cerrar-session-collapse" class="btn-cerrar-session text-sidebar-btn-cerrar-session fade-in" (click)="logout()" style="margin-top: -10vh;margin-bottom: 0; position: absolute;">
    <span id="collapse-icon" class="fa fa-2x ml-1 mt-1"></span>
    <span id="text-cerrar-session" >CERRAR SESIÓN</span>
</button>

</div>
