<div>
<button class="btn btn-primary btn-sm" (click)="return()"> <i class="fas fa-arrow-circle-left"></i> Regresar</button>
<p class="display-4">Estamos trabajando en esta característica</p>
<p>Estará disponible pronto :)</p>
<img src="../../../assets/img/working.jpg"  class="img-fluid" alt="Estamos trabajando">
</div>