.bord-form-custom{
    border: 2px solid #00C8FF !important;
    border-radius: 9px !important;
    opacity: 1 !important;
}

.btn-aceptar{
    background: #FFC20E 0% 0% no-repeat padding-box !important;
    border: 0 !important;
    color: #002E6D !important;
    width: 120px !important;
    max-width: 160px !important;
    border-radius: 20px !important;
    height: 37px !important;
}