<h1 class="mt-2 ml-3">{{Header}}</h1>
<div class=" bord-form-custom" style="background-color: #FFFFFF !important;">
    <!--Titulo-->
    <div class="container  mt-4 text-center" style="background-color: #FFFFFF !important;">
        <label class="col-md-6 text-center" style="font-size: 3vh !important;color: #002E6D !important;">{{Titulo}}</label>
    </div>

    <div [hidden]="!fields.length" style="background-color: #FFFFFF !important;">
        <div *ngFor="let item of fields; let i = index">
            <div class="container  mt-4 ">
                <div class="form-group mt-4 row">
                    <label class="col-md-4 col-lg-4 form-control-label text-justify d-none d-sm-none d-md-block ">{{ item['title'] }}</label>

                    <label class="col-md-3 form-control-label  d-block d-sm-block d-md-none">{{ item['title'] }}</label>
                    <div class="col-md-8 text-justify">
                        <app-constructor-formularios [options]="item['options']" [name]="item.name" [item]="item" [type]="item['fieldType']" [base]="item['baseFile']" [id]="item['id']" [mime]="item['mimeTypeOfBaseFile']"></app-constructor-formularios>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <button class="btn-aceptar m-2" [routerLink]="['/formularios']">Regresar</button>
</div>