<div class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #commentForm="ngForm">
      <div class="form-row">
        <div class="col">
          <label>Comentario</label>
          <editor
            apiKey="1rmilf844n4ypp5zin3nrz8nkbehgs89l2s9vwnp8slwb7ms"
            [init]="{
              menubar: false,
              plugins: [
                'advlist autolink lists link image charmap print',
                'preview anchor searchreplace visualblocks code',
                'fullscreen insertdatetime media table paste',
                'help wordcount'
              ],
              toolbar:
                'undo redo | formatselect fontselect | bold italic forecolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | table '
            }"
            #message="ngModel"
            name="message"
            [(ngModel)]="comment.message"
          >
          </editor>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-tertiary btn-sm" (click)="submit()">Guardar</button>
    <button
      type="button"
      class="btn btn-secondary btn-sm"
      (click)="bsModalRef.hide()"
    >
      {{ closeBtnName }}
    </button>
  </div>
</div>
