<div [ngSwitch]="type">
  <app-input *ngSwitchCase="'TEXT'" [name]="name"></app-input>
  <app-int *ngSwitchCase="'INTNUMBER'" [name]="name"></app-int>
  <app-float *ngSwitchCase="'FLOATNUMBER'" [name]="name"></app-float>
  <app-wysiwyg *ngSwitchCase="'DINAMIC'" [name]="name"></app-wysiwyg>
  <app-file *ngSwitchCase="'FILE'" [item]="item" [base]="base" [name]="name" [id]="id" [mime]="mime"></app-file>
  <app-date *ngSwitchCase="'DATE'" [name]="name"></app-date>
  <app-select *ngSwitchCase="'SELECT'" [options]="options" [name]="name"></app-select>
</div>
