<div class="mb-5">
    <div class="row mb-3 ml-3">
        <div class="row title">
            <h1>HISTORIAL DE SOLICITUDES</h1>
        </div>
    </div>

    <div class="row mb-3 ml-1 custom-border" style="background-color: #FFFFFF !important;">
        <div style="width: 100% !important">
            <div class="font-filtros" style="margin-left: 10px !important; margin-top: 10px !important">
                <i class="fas fa-filter" style="display: inline-block !important"> </i> Filtros
            </div>
        </div>

        <div class="content-rows mb-3" *ngIf="IE == false">
            <div class="general-1" style="">
                <div class="custom-columna-1">
                    <label>Estado de Solicitud</label>
                    <ng-select class="custom-columna-1-input" [items]="options" bindLabel="description" bindValue="value" [searchable]="false" [(ngModel)]="optionSelectEstado" placeholder="Seleccione ..." (change)="filtrar('estado_solicitud')">
                    </ng-select>
                </div>
                <div class="custom-columna-21">
                    <label style="width: 100% !important">Fecha</label>
                    <input type="text" class="form-control custom-columna-21-input" placeholder="Fecha Inicial" [(ngModel)]="fecha_inicial" (bsValueChange)="filtrar('fecha_inicial')" style="display: inline-block !important" bsDatepicker [bsConfig]="{
              dateInputFormat: 'DD/MM/YYYY',
              containerClass: 'theme-dark-blue'
            }" (keyup)="onKeyUpFecha($event, 'fecha_inicial')" (keydown.backspace)="onKeydown($event, 'fecha_inicial')" />
                    <!--(keyup)="onKeyUpFecha($event)" -->
                </div>
                <div class="custom-columna-22">
                    <label style="width: 100% !important">&nbsp;</label>
                    <input type="text" class="form-control custom-columna-22-input" placeholder="Fecha Final" [(ngModel)]="fecha_final" (bsValueChange)="filtrar('fecha_final')" style="display: inline-block !important" bsDatepicker [bsConfig]="{
              dateInputFormat: 'DD/MM/YYYY',
              containerClass: 'theme-dark-blue'
            }" (keyup)="onKeyUpFecha($event, 'fecha_final')" (keydown.backspace)="onKeydown($event, 'fecha_final')" />
                </div>
                <div class="custom-columna-3">
                    <label>Nombre del Solicitante</label>

                    <ng-select [items]="ArraySolicitantes" [virtualScroll]="true" (keyup)="filtrar('nombre_solicitante')" (change)="filtrar('nombre_solicitante')" [(ngModel)]="nameSolicitante" bindLabel="displayName" bindValue="email" placeholder="Buscar... " appendTo="body">
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{ item.displayName }}
                        </ng-template>
                    </ng-select>
                    <!--div class="search-box-container " >
                                      <input type="text" placeholder="Buscar..." class="custom-columna-3-input" (keyup)="filtrar('nombre_solicitante')" [(ngModel)]="nameSolicitante" >
                                    </div-->
                </div>
            </div>
            <div>
                <div class="general-2">
                    <div class="custom-columna-4" style="">
                        <label>Tipo de Requerimiento</label>
                        <ng-select class="custom-columna-4-input" [items]="requestType" bindLabel="description" bindValue="id" [searchable]="false" [(ngModel)]="optionSelectRequestType" placeholder="Seleccione ..." (change)="filtrar('tipo_requerimiento')">
                        </ng-select>
                    </div>
                    <div class="custom-columna-5">
                        <label>Ingeniero Asignado</label>
                        <!--div class="search-box-container ">
                                          <input type="text" class="custom-columna-5-input" placeholder="Buscar..." style="" (keyup)="filtrar('ingeniero_asignado')" [(ngModel)]="enginnerName">
                                        </div-->

                        <ng-select [items]="ArrayIngenieros" [virtualScroll]="true" (keyup)="filtrar('ingeniero_asignado')" (change)="filtrar('ingeniero_asignado')" [(ngModel)]="enginnerName" bindLabel="displayName" bindValue="email" placeholder="Buscar... " appendTo="body">
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                {{ item.displayName }}
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="custom-columna-6">
                        <label>Exportar Excel</label>
                        <br />
                        <button class="btn-custom-excel" (click)="DownloadFile()">
              <i
                class="fas fa-file-excel"
                style="
                  background-color: #002e6d !important;
                  color: white !important;
                "
              ></i>
            </button>
                        <!--IE-->
                        <!--button class="btn-custom-excel" (click)='IEDowload()'>
                              <i class="fas fa-file-excel" style="background-color: #002E6D !important;color: white !important;"></i>
                          </button-->
                    </div>
                </div>
            </div>
        </div>

        <div class="content-rows mb-3" *ngIf="IE == true">
            <table>
                <tr>
                    <td>
                        <label>Estado de Solicitud</label>
                        <ng-select class="custom-columna-1-input" [items]="options" bindLabel="description" bindValue="value" [searchable]="false" [(ngModel)]="optionSelectEstado" placeholder="Seleccione ..." (change)="filtrar('estado_solicitud')">
                        </ng-select>
                    </td>
                    <td style="text-align: center !important">
                        <label style="width: 100% !important">Fecha</label>
                        <input type="text" class="form-control custom-columna-21-input" placeholder="Fecha Inicial" [(ngModel)]="fecha_inicial" (bsValueChange)="filtrar('fecha_inicial')" style="display: inline-block !important" bsDatepicker [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue'
              }" (keyup)="onKeyUpFecha($event, 'fecha_inicial')" (keydown.backspace)="onKeydown($event, 'fecha_inicial')" />
                    </td>
                    <td>
                        <label style="width: 100% !important">&nbsp;</label>
                        <input type="text" class="form-control custom-columna-22-input" placeholder="Fecha Final" [(ngModel)]="fecha_final" (bsValueChange)="filtrar('fecha_final')" style="display: inline-block !important" bsDatepicker [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue'
              }" (keyup)="onKeyUpFecha($event, 'fecha_final')" (keydown.backspace)="onKeydown($event, 'fecha_final')" />
                    </td>
                    <td style="margin-left: 5px !important">
                        <label style="margin-left: 12px !important">Nombre del Solicitante</label
            >
            <ng-select
              style="margin-left: 12px !important"
              [items]="ArraySolicitantes"
              [virtualScroll]="true"
              (keyup)="filtrar('nombre_solicitante')"
              (change)="filtrar('nombre_solicitante')"
              [(ngModel)]="nameSolicitante"
              bindLabel="displayName"
              bindValue="email"
              placeholder="Buscar... "
              appendTo="body"
            >
              <ng-template ng-option-tmp let-item="item" let-index="index">
                {{ item.displayName }}
              </ng-template>
            </ng-select>
          </td>
        </tr>
        <tr>
          <td style="text-align: center !important">
            <label>Tipo de Requerimiento</label>
                        <ng-select class="custom-columna-4-input" [items]="requestType" bindLabel="description" bindValue="id" [searchable]="false" [(ngModel)]="optionSelectRequestType" placeholder="Seleccione ..." (change)="filtrar('tipo_requerimiento')">
                        </ng-select>
                    </td>
                    <td style="text-align: center !important">
                        <label>Ingeniero Asignado</label>
                        <ng-select style="margin-left: 12px !important" [items]="ArrayIngenieros" [virtualScroll]="true" (keyup)="filtrar('ingeniero_asignado')" (change)="filtrar('ingeniero_asignado')" [(ngModel)]="enginnerName" bindLabel="displayName" bindValue="email" placeholder="Buscar... "
                            appendTo="body">
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                {{ item.displayName }}
                            </ng-template>
                        </ng-select>
                    </td>
                    <td style="text-align: center !important">
                        <label>Exportar Excel</label>
                        <br />
                        <!--button class="btn-custom-excel" (click)='DownloadFile()'>
                              <i class="fas fa-file-excel" style="background-color: #002E6D !important;color: white !important;"></i>
                          </button>
                        <!--IE-->
                        <button class="btn-custom-excel" (click)="IEDowload()">
              <i
                class="fas fa-file-excel"
                style="
                  background-color: #002e6d !important;
                  color: white !important;
                "
              ></i>
            </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <ngx-datatable #table ngx-resize-watcher class="bootstrap" [rows]="AllRequest" [headerHeight]="30" rowHeight="auto" [loadingIndicator]="true" [footerHeight]="60" [scrollbarH]="scrollBarHorizontal" [columnMode]="ColumnMode.force" [selectionType]="SelectionType.checkbox"
        [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">
        <ng-template let-column="column" ngx-datatable-header-template>
            <p class="body-text-center">{{ column.createdBy }}</p>
        </ng-template>
        <ngx-datatable-column name="ACCIONES" [width]="180" [canAutoResize]="false" [sortable]="false">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p>{{ column.name }}</p>
            </ng-template>
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <div class="container">
                    <table>
                        <tr>
                            <td>
                                <fa-icon [icon]="faEye" type="button" class="btn-outline-show rounded p-1 mr-1" [routerLink]="['/solicitud/' + row['id']]" routerLinkActive="router-link-active">
                                </fa-icon>
                            </td>
                            <td>
                                <fa-icon [icon]="faFilePdf" type="button" class="btn-outline-danger rounded p-1 pr-2 pl-2" *ngIf="IE == false" (click)="getReport(row)">
                                </fa-icon>
                                <fa-icon [icon]="faFilePdf" type="button" class="btn-outline-danger rounded p-1 pr-2 pl-2" *ngIf="IE == true" (click)="getReportIE(row)">
                                </fa-icon>
                            </td>
                        </tr>
                    </table>
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false">
            <ng-template ngx-datatable-header-template>
                <span>NO. SOLICITUD</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                #&nbsp;{{ row.id }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="TIPO DE SOLICITUD" prop="requestType.description" [sortable]="false">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header-text-start">{{ column.name }}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false">
            <ng-template ngx-datatable-header-template>
                <span>SOLICITUD</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.projectName }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false">
            <ng-template ngx-datatable-header-template>
                <span>ESTADO</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.status }}
            </ng-template>
        </ngx-datatable-column>


        <!--
          <ngx-datatable-column
      name="FECHA DE CREACIÓN"
      prop="createdDate"
      [sortable]="false"
      headerClass="text-center"
    >
      <ng-template
        let-row="row"
        let-expanded="expanded"
        let-value="value"
        ngx-datatable-cell-template
      >
        <div
          class="container text-center"
          style="margin-left: -15px !important"
        >
          {{ value | date: "medium" }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    -->

        <ngx-datatable-column [sortable]="false">
            <ng-template ngx-datatable-header-template>
                <span>FECHA DE CREACIÓN</span>
            </ng-template>

            <ng-template let-row="row" ngx-datatable-cell-template>
                <div>
                    {{ row.createdDate | date: "medium" }}
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!(rowCount / pageSize > 1)"
                    (change)="table.onFooterPage($event)">
                </datatable-pager>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
</div>

<br />