
.btn-custom-excel{
    width: 36px;
    height: 29px;
    background: #002E6D 0% 0% no-repeat padding-box;
    border: 0 !important;
    border-radius: 10px;
    opacity: 1;
}

.custom-border{
    border-radius: 9px;
    width: 99.5% !important;
    border: 2px solid #00C8FF;
}

.font-filtros{
    text-align: left !important;
    font: normal normal medium 15px/43px Roboto !important;
    letter-spacing: 0px !important;
    color: #002E6D !important;
    opacity: 1 !important;
}

.custom-select{
    width: 230px !important;
}

label{
    font-size: 12.5px !important;
}

.search-box-container::after {
    /*content: none !important;*/
   font-size: 13px;
}

.search-box-container::after {
    /*content: none !important;*/
   margin-top: -2px !important;
}

@media (max-width: 419.98px)   {


    .col-custom-1{
        width: 70px !important;
        margin-right: 35px !important;
        display: none !important;
    }

    .content-rows{
        display: block !important;
        margin-left: 10px !important;
        width: 100%  !important; 
        justify-content: start !important;
    }

    .general-1{
        width: 100% !important; 
    }

    .general-2{
        width: 100% !important; 
    }   
    
    .custom-columna-1{
        min-width: 130px !important;
        width: 95% !important;
        height: 100% !important;
        margin-right: 8px !important;
        display: block !important;
    }
    
    .custom-columna-21{
        min-width: 65px !important;
        height: 100% !important;
        margin-right: 5px !important;
    }
    
    .custom-columna-22{
        height: 100% !important;
        margin-right: 5px !important;
    }
    
    .custom-columna-3{
        min-width: 130px !important;
        height: 100% !important;
        display: block !important;
        margin-right: 10px !important;
        width: 95% !important;
    }
    
    .custom-columna-4{
        min-width: 130px !important;
        width: 95% !important;
        height: 100% !important;
        margin-right: 8px !important;
        display: block !important;
        
    }

    .custom-columna-5{
        min-width: 130px !important;
        height: 100% !important;
        display: block !important;
        margin-right: 10px !important;
        width: 95% !important;
        
    }

    .custom-columna-6{
        height: 100% !important; 
        display: block !important;
        
    } 


    .custom-columna-1-input{
        width: auto !important;
    }

    .custom-columna-21-input{
        width: 96% !important;
    }

    .custom-columna-22-input{
        width: 96% !important;
    }

    .custom-columna-3-input{
        width: 98% !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important; 
    }


    .custom-columna-4-input{
        width: auto !important;
    }

    .custom-columna-5-input{
        width: auto !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important; 
    }

    .custom-columna-6-input{
        width: auto !important;
    }


    .search-box-container{
        width: 100% !important;
    }

    .search-box-container input{
        width: 100% !important;
    }
}



@media (min-width: 420px) and (max-width: 532.98px)   {

    .col-custom-1{
        width: 70px !important;
        margin-right: 35px !important;
        display: none !important;
    }

    .content-rows{
        display: block !important;
        margin-left: 10px !important;
        width: 100%  !important; 
        justify-content: start !important;
    }

    .general-1{
        width: 100% !important; 
    }

    .general-2{
        width: 100% !important; 
    }   
    
    .custom-columna-1{
        min-width: 130px !important;
        width: 98% !important;
        height: 100% !important;
        display: inline !important;
    }
    
    .custom-columna-21{
        width: 48% !important;
        display: inline-block;
    }
    
    .custom-columna-22{
        width: 48% !important;
        display: inline-block;
    }
    
    .custom-columna-3{
        min-width: 130px !important;
        height: 100% !important;
        display: block !important;
        margin-right: 10px !important;
        width: 95% !important;
    }
    
    .custom-columna-4{
        min-width: 130px !important;
        width: 95% !important;
        height: 100% !important;
        margin-right: 8px !important;
        display: block !important;
        
    }

    .custom-columna-5{
        min-width: 130px !important;
        height: 100% !important;
        display: block !important;
        margin-right: 10px !important;
        width: 95% !important;
        
    }

    .custom-columna-6{
        height: 100% !important; 
        display: block !important;
        
    } 


    .custom-columna-1-input{
        width: 95% !important;
    }

    .custom-columna-21-input{
        width: 98% !important;max-width: 230px !important;
    }

    .custom-columna-22-input{
        width: 98% !important;max-width: 230px !important;
    }

    .custom-columna-3-input{
        width: 98% !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important; 
    }


    .custom-columna-4-input{
        width: auto !important;
    }

    .custom-columna-5-input{
        width: auto !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important; 
    }

    .custom-columna-6-input{
        width: auto !important;
    }


    .search-box-container{
        width: 100% !important;
    }

    .search-box-container input{
        width: 100% !important;
    }
}

/* -----------------------------------------------------------------*/


@media (min-width: 530px) and (max-width: 763.98px)   {

    .col-custom-1{
        width: 70px !important;
        margin-right: 35px !important;
        display: none !important;
    }

    .content-rows{
        display: block !important;
        margin-left: 10px !important;
        width: 100%  !important; 
        justify-content: start !important;
    }

    .general-1{
        width: 100% !important; 
    }

    .general-2{
        width: 100% !important; 
    }   
    
    .custom-columna-1{
        min-width: 130px !important;
        width: 32% !important;
        height: 100% !important;
        margin-right: 8px !important;
        display: inline-block !important;
    }
    
    .custom-columna-21{
        width: 31% !important;
        display: inline-block;
    }
    
    .custom-columna-22{
        width: 31% !important;
        display: inline-block;
    }
    
    .custom-columna-3{
        min-width: 130px !important;
        height: 50% !important;
        display: block !important;
        margin-right: 10px !important;
        width: 95% !important;
    }
    
    .custom-columna-4{
        min-width: 130px !important;
        width: 47% !important;
        height: 100% !important;
        margin-right: 8px !important;
        display: inline-block !important;        
    }

    .custom-columna-5{
        min-width: 130px !important;
        height: 100% !important;
        display: inline-block !important;
        margin-right: 10px !important;
        width: 47% !important;
        
    }

    .custom-columna-6{
        height: 100% !important; 
        display: block !important;
        
    } 


    .custom-columna-1-input{
        width: 98% !important;
    }

    .custom-columna-21-input{
        width: 98% !important;max-width: 230px !important;
    }

    .custom-columna-22-input{
        width: 98% !important;max-width: 230px !important;
    }

    .custom-columna-3-input{
        width: 98% !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important; 
    }


    .custom-columna-4-input{
        width: auto !important;
    }

    .custom-columna-5-input{
        width: auto !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important; 
    }

    .custom-columna-6-input{
        width: auto !important;
    }


    .search-box-container{
        width: 100% !important;
    }

    .search-box-container input{
        width: 100% !important;
    }
}

/* -----------------------------------------------------------------*/



@media (min-width: 764px) and (max-width: 1203.98px)   {


    .col-custom-1{
        width: 70px !important;
        margin-right: 35px !important;
        display: none !important;
    }

    .content-rows{
        margin-left: 10px !important;
        width: auto  !important; 
        justify-content: start !important;
    }

    .general-2{
        width: 100% !important; 
        height: 66px !important;
    }   
    
    .custom-columna-1{
        min-width: 130px !important;
        height: 100 !important; 
        margin-right: 8px !important;
        display: inline-block;
    }
    
    .custom-columna-21{
        min-width: 65px !important;
        max-width: 138px !important;
        height: 100% !important;
        margin-right: 5px !important;
        display: inline-block;
    }
    
    .custom-columna-22{
        min-width: 65px !important;
        max-width: 138px !important;
        height: 100% !important;
        margin-right: 5px !important;
        display: inline-block;
    }
    
    .custom-columna-3{
        min-width: 130px !important;
        height: 100% !important;
        display: inline-block;
    }
    
    .custom-columna-4{
        min-width: 130px !important;
        height: 100% !important;
        display: inline-block;
        
    }

    .custom-columna-5{
        min-width: 200px !important;
        height: 100% !important;
        margin-left: 10px !important; 
        margin-right: 10px !important;
        display: inline-block;
        
    }

    .custom-columna-6{
        height: 100% !important; 
        display: inline-block;
        
    } 


    .custom-columna-1-input{
        width: auto !important;max-width: 230px !important;
    }

    .custom-columna-21-input{
        width: auto !important;max-width: 130px !important;
    }

    .custom-columna-22-input{
        width: auto !important;max-width: 130px !important;
    }

    .custom-columna-3-input{
        width: auto !important;max-width: 230px !important;
        max-width: 230px !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important; 
    }


    .custom-columna-4-input{
        width: auto !important;max-width: 230px !important;
    }

    .custom-columna-5-input{
        width: auto !important;max-width: 230px !important;
        max-width: 230px !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important; 
    }

    .custom-columna-6-input{
        width: auto !important;max-width: 100px !important;
    }


    .search-box-container{
        width: 100% !important;
    }

    .search-box-container input{
        width: 100% !important;
    }
}

/* -----------------------------------------------------------------*/



@media (min-width: 1203.98px)  {


    label{
        font-size: 14px !important;
    }

    .col-custom-1{
        width: 70px !important;
        margin-right: 35px !important;
    }

    .content-rows{
        margin-left: 10px !important;
        width: auto  !important; 
        justify-content: start !important;
    }

    .general-2{
        width: 100% !important; 
        height: 66px !important;
    }   
    
    .custom-columna-1{
        min-width: 175px !important;
        height: 100 !important; 
        margin-right: 8px !important;
        display: inline-block;
    }
    
    .custom-columna-21{
        min-width: 105px !important;
        max-width: 138px !important;
        height: 100% !important;
        margin-right: 5px !important;
        display: inline-block;
    }
    
    .custom-columna-22{
        min-width: 105px !important;
        max-width: 138px !important;
        height: 100% !important;
        margin-right: 5px !important;
        display: inline-block;
    }
    
    .custom-columna-3{
        min-width: 175px !important;
        height: 100% !important;
        display: inline-block;
    }
    
    .custom-columna-4{
        min-width: 175px !important;
        height: 100% !important;
        display: inline-block;
        
    }

    .custom-columna-5{
        min-width: 270px !important;
        height: 100% !important;
        margin-left: 10px !important; 
        margin-right: 10px !important;
        width: auto !important;
        display: inline-block;
        
    }

    .custom-columna-6{
        height: 100% !important; 
        display: inline-block;
        
    } 


    .custom-columna-1-input{
        width: auto !important;max-width: 230px !important;
    }

    .custom-columna-21-input{
        width: auto !important;max-width: 130px !important;
    }

    .custom-columna-22-input{
        width: auto !important;max-width: 130px !important;
    }

    .custom-columna-3-input{
        max-width: 230px !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important; 
        width: 130px !important;
    }


    .custom-columna-4-input{
        width: auto !important;max-width: 230px !important;
    }

    .custom-columna-5-input{
        max-width: 330px !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 34px !important; 
    }

    .custom-columna-6-input{
        width: auto !important;max-width: 100px !important;
    }

    .search-box-container{
        width: 100% !important;
    }

    .search-box-container input{
        width: 100% !important;
    }
}


/*
@media (min-width: 900px) and (max-width: 1899.98px)  {

    .contenido-rows{
        width: 80% !important; 
        height: 132px !important;
    }

    .general-1{
        width: 100% !important; 
        height: 66px !important;
    }

    .general-2{
        width: 100% !important; 
        height: 66px !important;
    }   
    
    .custom-columna-1{
        height: 100 !important; 
        margin-right: 8px !important;
        display: inline-block;
    }
    
    .custom-columna-21{
        max-width: 138px !important;
        height: 100% !important;
        display: inline-block;
    }
    
    .custom-columna-22{
        max-width: 138px !important;
        height: 100% !important;
        display: inline-block;
    }
    
    .custom-columna-3{
        height: 100% !important;
        display: inline-block;
    }
    
    .custom-columna-4{
        height: 100% !important; 
        display: inline-block;
        
    }

    .custom-columna-5{
        height: 100% !important;
        margin-left: 10px !important; 
        margin-right: 10px !important;
        display: inline-block;
        
    }

    .custom-columna-6{
        height: 100% !important; 
        display: inline-block;
        
    } 


    .custom-columna-1-input{
        width: 180px !important;max-width: 230px !important;
    }

    .custom-columna-21-input{
        width: 95% !important;max-width: 128px !important;
    }

    .custom-columna-22-input{
        width: 95% !important;max-width: 128px !important;
    }

    .custom-columna-3-input{
        width: 180px !important;max-width: 230px !important;
    }


    .custom-columna-4-input{
        width: 180px !important;max-width: 230px !important;
    }

    .custom-columna-5-input{
        width: 180px !important;max-width: 230px !important;
    }

    .custom-columna-6-input{
        width: 180px !important;max-width: 230px !important;
    }
}


@media (min-width: 1900px) {

    .contenido-rows{
        display: flex;
        flex-wrap: nowrap;
        background-color: aquamarine !important;
        width: 90% !important; 
        height: 132px !important;
    }

    .btn-custom-excel{
        width: 36px;
        height: 29px;
        background: #002E6D 0% 0% no-repeat padding-box;
        border: 0 !important;
        border-radius: 10px;
        opacity: 1;
    }
    
    .custom-border{
        border-radius: 9px;
        width: 99.5% !important;
        border: 2px solid #00C8FF;
    }
    
    
    .custom-select{
        width: 230px !important;
    }
    
    
    /*PRIMARIOS*/
    /*
    div.row div.col-custom-1 {
        text-align: center !important;
        vertical-align: middle !important;
        height: 128px !important;
        width: 8% !important; 
    }
    
    div.row div.col-custom-2 {
        border-left-color: #00C8FF !important;
        border-left: 2px solid #00C8FF;
        border-left-width: 90% !important;
        height: 66px !important;
        width: 91% !important; 
    }
    
    /* SECUNDARIOS HORIZONTALES IN COL-CUSTOM-2*/

    /*
    .general-1{
        width: 100% !important; 
        height: 66px !important;
    }
    
    .general-2{
        width: 100% !important; 
        height: 66px !important;
    }
    
    /* COL IN GENERAL 1*/
    /*
    .custom-columna-1{
        max-width: 240px !important;
        width: 18% !important; 
        height: 100 !important; 
        display: inline-block;
    }
    
    .custom-columna-21{
        max-width: 138px !important;
        width: 10% !important; 
        height: 100% !important;
        display: inline-block;
    }
    
    .custom-columna-22{
        max-width: 138px !important;
        width: 10% !important; 
        height: 100% !important;
        display: inline-block;
    }
    
    .custom-columna-3{
        width: 18% !important; 
        height: 100% !important;
        display: inline-block;
    }
    
    .custom-columna-4{
        max-width: 230px !important;
        width: 18% !important; 
        height: 100% !important; 
        display: inline-block;
        
    }
    
    .custom-columna-5{
        max-width: 280px !important;
        width: 260px !important; 
        height: 100% !important;
        margin-left: 10px !important; 
        margin-right: 10px !important;
        display: inline-block;
        
    }
    
    .custom-columna-6{
        max-width: 258px !important;
        width: auto !important;
        height: 100% !important; 
        display: inline-block;
        
    }
    
    .custom-columna-1-input{
        width: 230px !important;max-width: 230px !important;
    }
    
    .custom-columna-21-input{
        width: 95% !important;max-width: 128px !important;
    }
    
    .custom-columna-22-input{
        width: 95% !important;max-width: 128px !important;
    }
    
    .custom-columna-3-input{
        width: 230px !important;max-width: 230px !important;
    }
}*/