<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid h-100" *ngIf="request.id != null">
    <div class="row justify-content-center h-100">
      <div class="col-12">
        <div class="border-card mb-3 p-3" *ngIf="request != null">
          <div class="form-row">
            <div class="col">
              <label>Nombre del Proyecto</label>
              <p class="answer">{{ request.projectName }}</p>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <label>Aplicación</label>
              <p class="answer">{{ request.applicationSolution }}</p>
            </div>
          </div>

          <div class="form-row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <label>Project Manager/Tech Leader</label>
              <p class="answer" *ngIf="request.projectManager != undefined">
                {{ request.projectManager }}
              </p>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <label>Contacto de Seguimiento</label>
              <p class="answer" *ngIf="request.followUpContact != undefined">
                {{ request.followUpContact }}
              </p>
            </div>
          </div>

          <div class="form-row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <label>Departamento Requirente</label>
              <p
                class="answer"
                *ngIf="request.departamentoRequerimiento != undefined"
              >
                {{ request.departamentoRequerimiento.name }}
              </p>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <label>Departamento de Soporte</label>
              <p
                class="answer"
                *ngIf="request.departamentoSoporte != undefined"
              >
                {{ request.departamentoSoporte.name }}
              </p>
            </div>
          </div>

          <div class="form-row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <label>Prioridad</label>
              <p class="answer">{{ request.priority }}</p>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <label>Cantidad de Servidores</label>
              <p class="answer">{{ request.numberOfServers }}</p>
            </div>
          </div>
        </div>

        <div class="border-card mb-3 p-3" *ngIf="request != null">
          <fa-icon
            style="
              position: absolute !important;
              margin-top: 8px !important;
              color: #002e6d;
            "
            [icon]="faServer"
          >
          </fa-icon>
          <tabset [justified]="true">
            <tab
              *ngFor="let tabz of tabs"
              [heading]="tabz.title"
              [active]="tabz.active"
              (selectTab)="tabz.active = true; selectTab(tabz)"
              (deselect)="tabz.active = false"
              [disabled]="tabz.disabled"
              [removable]="tabz.removable"
              [customClass]="tabz.customClass"
            >
              {{ tabz?.content }}
            </tab>
          </tabset>

          <div *ngIf="request.fields != undefined">
            <h2 class="mt-2">INFORMACIÓN INGRESADA POR EL SOLICITANTE</h2>
            <hr />
            <div class="form-group" *ngFor="let item of request.fields">
              <label
                *ngIf="
                  item.engineerField == false &&
                  item.serverNumber == selectedServer
                "
                >{{ item.title }}
              </label>

              <p
                class="answer"
                *ngIf="
                  item.fieldType == 'FLOATNUMBER' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer
                "
              >
                {{ item.floatValue | replaceNullWithText }}
              </p>

              <p
                class="answer"
                *ngIf="
                  item.fieldType == 'INTNUMBER' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer
                "
              >
                {{ item.integerValue | replaceNullWithText }}
              </p>

              <p
                class="answer"
                *ngIf="
                  item.fieldType == 'DATE' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer
                "
              >
                {{ item.dateValue | date: "medium" | replaceNullWithText }}
              </p>

              <p
                class="answer"
                *ngIf="
                  item.fieldType == 'TEXT' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer
                "
              >
                {{ item.textValue | replaceNullWithText }}
              </p>

              <div
                class="mt-2 small"
                *ngIf="
                  item.fieldType == 'FILE' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer &&
                  item.isRequiredConditional != true
                "
              >
                <p class="answer" *ngIf="item.refFileValue == null">
                  El usuario no subió ningún archivo
                </p>
                <button
                  class="btn btn-primary btn-sm mr-2"
                  *ngIf="item.refBaseFile != null"
                  (click)="getBaseFile(item)"
                >
                  <i class="fas fa-download"></i> Archivo base
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  *ngIf="item.refFileValue != null"
                  (click)="getFile(item)"
                >
                  <i class="fas fa-file"></i> Archivo Subido
                </button>
              </div>

              <p
                class="answer"
                *ngIf="
                  item.fieldType == 'SELECT' &&
                  item.engineerField == false &&
                  item.multiSelect != true &&
                  item.serverNumber == selectedServer
                "
              >
                {{ item.textValue | replaceNullWithText }}
              </p>

              <div
                class="answer"
                *ngIf="
                  item.fieldType == 'SELECT' &&
                  item.engineerField == false &&
                  item.multiSelect == true &&
                  item.serverNumber == selectedServer
                "
              >
                <ul>
                  <ol *ngFor="let selected of item.multiSelectValues">
                    <span *ngIf="selected.selected == true">
                      {{ selected.title | replaceNullWithText }}</span
                    >
                  </ol>
                </ul>
              </div>

              <div
                *ngIf="
                  item.fieldType == 'DINAMIC' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer
                "
                [innerHTML]="item.dinamicValue"
              ></div>

              <!--------------------------------------------------------------------------------------------->
              <!--ARCHIVO CONDICIONAL ----------------------------------------------------------------------->
              <!--------------------------------------------------------------------------------------------->
              <div
                *ngIf="
                  item.fieldType == 'FILE' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer &&
                  item.isRequiredConditional == true
                "
              >
                <p class="answer" *ngIf="item.required == true">SÍ</p>
                <p class="answer" *ngIf="item.required == false">NO</p>

                <div *ngIf="item.required == true">
                  <label>{{ item.secondaryTitle }}</label>
                  <p class="answer" *ngIf="item.refFileValue == null">
                    El usuario no ha subido el archivo
                  </p>
                  <div class="mt-2 small">
                    <button
                      class="btn btn-primary btn-sm mr-2"
                      *ngIf="item.refBaseFile != null"
                      (click)="getBaseFile(item)"
                    >
                      <i class="fas fa-download"></i> Archivo base
                    </button>
                    <button
                      class="btn btn-secondary btn-sm"
                      *ngIf="item.refFileValue != null"
                      (click)="getFile(item)"
                    >
                      <i class="fas fa-file"></i> Archivo actual
                    </button>
                  </div>
                </div>
              </div>
              <!--------------------------------------------------------------------------------------------->
            </div>

            <!--------------------------------------------------------------------------------------------->
            <!--CAMPOS DE INGENIERÍA----------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------->
            <hr />
            <h2>INFORMACIÓN INGRESADA POR EL INGENIERO</h2>
            <hr />
            <div class="form-group" *ngFor="let item of request.fields">
              <label
                *ngIf="
                  item.engineerField == true &&
                  item.serverNumber == selectedServer
                "
                >{{ item.title }}
              </label>

              <p
                class="answer"
                *ngIf="
                  item.fieldType == 'FLOATNUMBER' &&
                  item.engineerField == true &&
                  item.serverNumber == selectedServer
                "
              >
                {{ item.floatValue | replaceNullWithText }}
              </p>

              <p
                class="answer"
                *ngIf="
                  item.fieldType == 'INTNUMBER' &&
                  item.engineerField == true &&
                  item.serverNumber == selectedServer
                "
              >
                {{ item.integerValue | replaceNullWithText }}
              </p>

              <p
                class="answer"
                *ngIf="
                  item.fieldType == 'DATE' &&
                  item.engineerField == true &&
                  item.serverNumber == selectedServer
                "
              >
                {{ item.dateValue | date: "medium" | replaceNullWithText }}
              </p>

              <p
                class="answer"
                *ngIf="
                  item.fieldType == 'TEXT' &&
                  item.engineerField == true &&
                  item.serverNumber == selectedServer
                "
              >
                {{ item.textValue | replaceNullWithText }}
              </p>

              <div
                class="mt-2 small"
                *ngIf="
                  item.fieldType == 'FILE' &&
                  item.engineerField == true &&
                  item.serverNumber == selectedServer &&
                  item.isRequiredConditional != true
                "
              >
                <p class="answer" *ngIf="item.refFileValue == null">
                  El usuario no subió ningún archivo
                </p>
                <button
                  class="btn btn-primary btn-sm mr-2"
                  *ngIf="item.refBaseFile != null"
                  (click)="getBaseFile(item)"
                >
                  <i class="fas fa-download"></i> Archivo base
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  *ngIf="item.refFileValue != null"
                  (click)="getFile(item)"
                >
                  <i class="fas fa-file"></i> Archivo Subido
                </button>
              </div>

              <p
                class="answer"
                *ngIf="
                  item.fieldType == 'SELECT' &&
                  item.engineerField == true &&
                  item.multiSelect != true &&
                  item.serverNumber == selectedServer
                "
              >
                {{ item.textValue | replaceNullWithText }}
              </p>

              <div
                class="answer"
                *ngIf="
                  item.fieldType == 'SELECT' &&
                  item.engineerField == true &&
                  item.multiSelect == true &&
                  item.serverNumber == selectedServer
                "
              >
                <ul>
                  <ol *ngFor="let selected of item.multiSelectValues">
                    <span *ngIf="selected.selected == true">
                      {{ selected.title | replaceNullWithText }}</span
                    >
                  </ol>
                </ul>
              </div>

              <div
                *ngIf="
                  item.fieldType == 'DINAMIC' &&
                  item.engineerField == true &&
                  item.serverNumber == selectedServer
                "
                [innerHTML]="item.dinamicValue"
              ></div>

              <!--------------------------------------------------------------------------------------------->
              <!--ARCHIVO CONDICIONAL ----------------------------------------------------------------------->
              <!--------------------------------------------------------------------------------------------->
              <div
                *ngIf="
                  item.fieldType == 'FILE' &&
                  item.engineerField == true &&
                  item.serverNumber == selectedServer &&
                  item.isRequiredConditional == true
                "
              >
                <p class="answer" *ngIf="item.required == true">SÍ</p>
                <p class="answer" *ngIf="item.required == false">NO</p>

                <div *ngIf="item.required == true">
                  <label>{{ item.secondaryTitle }}</label>
                  <p class="answer" *ngIf="item.refFileValue == null">
                    El usuario no ha subido el archivo
                  </p>
                  <div class="mt-2 small">
                    <button
                      class="btn btn-primary btn-sm mr-2"
                      *ngIf="item.refBaseFile != null"
                      (click)="getBaseFile(item)"
                    >
                      <i class="fas fa-download"></i> Archivo base
                    </button>
                    <button
                      class="btn btn-secondary btn-sm"
                      *ngIf="item.refFileValue != null"
                      (click)="getFile(item)"
                    >
                      <i class="fas fa-file"></i> Archivo actual
                    </button>
                  </div>
                </div>
              </div>
              <!--------------------------------------------------------------------------------------------->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer"></div>
