<h1 *ngIf="!videoAyuda.id">Nuevo Video de Ayuda</h1>
<h1 *ngIf="videoAyuda.id">Editar Video de Ayuda</h1>
<div class="border-card">
  <div class="d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <form #videoForm="ngForm">
        <label for="name">Descripción del Video</label>
        <input
          id="name"
          name="name"
          type="text"
          class="form-control mb-3"
          [(ngModel)]="videoAyuda.name"
          maxlength="25"
          #name="ngModel"
          required
        />
        <div class="" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div class="small text-danger mb-3 mt-0">
            <fa-icon [icon]="faExclamationTriangle"></fa-icon> ¡Debe ingresar
            una descripción para el video!
          </div>
        </div>

        <input
          id="input-manual"
          (change)="seleccionarVideo($event)"
          type="file"
          class="form-control mb-4"
        />

        <div class="form-group">
          <div *ngIf="!videoAyuda.id; else elseBlock">
            <button
              class="btn btn-tertiary mr-2 btn-sm"
              role="button"
              (click)="save()"
              [disabled]="videoForm.invalid"
            >
              Guardar
            </button>

            <button
              class="btn btn-primary m-2 btn-sm"
              role="button"
              [routerLink]="['/ayuda']"
              fragment="pills-tab5"
              routerLinkActive="router-link-active"
            >
              Cancelar
            </button>
          </div>

          <div class="form-group">
            <ng-template #elseBlock>
              <button
                class="btn btn-tertiary m-2 btn-sm"
                role="button"
                (click)="update()"
                [disabled]="videoForm.invalid"
              >
                Actualizar
              </button>
              <button
                class="btn btn-primary m-2 btn-sm"
                role="button"
                [routerLink]="['/ayuda']"
                fragment="pills-tab5"
              >
                Cancelar
              </button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
