<h1 class="text-center mb-3">
    {{ title | uppercase }} {{ request.projectName | uppercase }}
</h1>

<div class="mb-5">
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-11 col-xl-8 border-card p-sm-0 p-md-3 p-lg-5 p-xl-5" style="z-index: 1 !important">
            <form [formGroup]="form">
                <div class="form-group">
                    <label>Nombre del Proyecto<span class="text-primary-1">*</span></label
          >
          <input
            class="form-control"
            type="text"
            formControlName="projectName"
            [(ngModel)]="projectName"
            maxlength="255"
            (keyup)="validation_Name($event)"
          />
          <div
            class="text-danger"
            *ngIf="
              form.get('projectName').hasError('required') &&
              form.get('projectName').touched
            "
          >
            <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
            requerido.
          </div>
          <div
            class="text-danger"
            *ngIf="
              form.get('projectName').hasError('pattern') &&
              form.get('projectName').touched
            "
          >
            <fa-icon [icon]="faExclamationTriangle"></fa-icon> Nombre Invalido.
          </div>
        </div>
        <div class="form-row mb-2">
          <div class="col">
            <label
              >Solución Aplicativa<span class="text-primary-1">*</span></label
            >
            <input
              class="form-control"
              type="text"
              formControlName="applicationSolution"
              maxlength="255"
            />
            <div
              class="text-danger"
              *ngIf="
                form.get('applicationSolution').hasError('required') &&
                form.get('applicationSolution').touched
              "
            >
              <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
              requerido.
            </div>
          </div>
        </div>

        <div class="form-row mb-2">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label
              >Project Manager/Tech Leader<span class="text-primary-1"
                >*</span
              ></label
            >
            <ng-select
              [items]="users | async"
              bindLabel="displayName"
              bindValue="displayName"
              [addTag]="false"
              [multiple]="false"
              [hideSelected]="true"
              [trackByFn]="trackByFn"
              [minTermLength]="3"
              [loading]="usersLoading"
              typeToSearchText="Escriba para buscar..."
              notFoundText="No se encontró el usuario"
              [typeahead]="usersInput$"
              formControlName="projectManager"
            >
            </ng-select>
            <div
              class="text-danger"
              *ngIf="
                form.get('projectManager').hasError('required') &&
                form.get('projectManager').touched
              "
            >
              <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
              requerido.
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label
              >Contacto de Seguimiento<span class="text-primary-1"
                >*</span
              ></label
            >
            <ng-select
              [items]="users | async"
              bindLabel="displayName"
              bindValue="displayName"
              [addTag]="false"
              [multiple]="false"
              [hideSelected]="true"
              [trackByFn]="trackByFn"
              [minTermLength]="2"
              [loading]="usersLoading"
              typeToSearchText="Escriba para buscar..."
              notFoundText="No se encontró el usuario"
              [typeahead]="usersInput$"
              formControlName="followUpContact"
            >
            </ng-select>
            <div
              class="text-danger"
              *ngIf="
                form.get('followUpContact').hasError('required') &&
                form.get('followUpContact').touched
              "
            >
              <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
              requerido.
            </div>
          </div>
        </div>

        <div class="form-row mb-2">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label
              >Departamento Requirente<span class="text-primary-1"
                >*</span
              ></label
            >
            <ng-select
              [items]="departamentosInternos"
              bindLabel="name"
              [searchable]="true"
              [clearable]="true"
              notFoundText="No se encontró ningún departamento :("
              formControlName="departamentoRequerimiento"
              class="custom"
            >
            </ng-select>
            <div
              class="text-danger"
              *ngIf="
                form.get('departamentoRequerimiento').hasError('required') &&
                form.get('departamentoRequerimiento').touched
              "
            >
              <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
              requerido.
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label
              >Departamento de Soporte<span class="text-primary-1"
                >*</span
              ></label
            >
            <ng-select
              [items]="departamentosInternosOm"
              bindLabel="name"
              [searchable]="true"
              [clearable]="true"
              notFoundText="No se encontró ningún departamento :("
              formControlName="departamentoSoporte"
            >
            </ng-select>
            <div
              class="text-danger"
              *ngIf="
                form.get('departamentoSoporte').hasError('required') &&
                form.get('departamentoSoporte').touched
              "
            >
              <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
              requerido.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label>Prioridad<span class="text-primary-1">*</span></label>
                    <ng-select bindLabel="name" bindValue="id" [searchable]="false" [clearable]="false" formControlName="priority">
                        <ng-option value="BAJA">
                            <fa-icon class="text-success" [icon]="faExclamationCircle"></fa-icon>
                            Baja
                        </ng-option>
                        <ng-option value="MEDIA">
                            <fa-icon class="text-warning" [icon]="faExclamationCircle"></fa-icon>
                            Media
                        </ng-option>
                        <ng-option value="ALTA">
                            <fa-icon class="text-danger" [icon]="faExclamationCircle"></fa-icon>
                            Alta
                        </ng-option>
                    </ng-select>
                    <div class="text-danger" *ngIf="
                form.get('priority').hasError('required') &&
                form.get('priority').touched
              ">
                        <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es requerido.
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>Cantidad de Servidores<span class="text-primary-1"
                >*</span
              ></label
            >
            <input
              class="form-control"
              type="number"
              formControlName="numberOfServers"
              maxlength="255"
            />
            <div
              class="text-danger"
              *ngIf="
                form.get('numberOfServers').hasError('required') &&
                form.get('numberOfServers').touched
              "
            >
              <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
              requerido.
            </div>
            <div
              class="text-danger"
              *ngIf="
                form.get('numberOfServers').hasError('min') &&
                form.get('numberOfServers').touched
              "
            >
              <fa-icon [icon]="faExclamationTriangle"></fa-icon> Debe realizar
              la solicitud para 1 o más servidores
            </div>
            <div
              class="text-danger"
              *ngIf="
                form.get('numberOfServers').hasError('max') &&
                form.get('numberOfServers').touched
              "
            >
              <fa-icon [icon]="faExclamationTriangle"></fa-icon> La solicitud a
              generar no puede tener más de {{ maxServers }} servidores...
            </div>
          </div>
        </div>

        <div class="text-center mt-5" *ngIf="show == false">
          <p class="font-italic text-primary-1 body-text-center small">
            Los campos marcados con * son obligatorios...
          </p>
          <button
            class="btn btn-tertiary mr-2 btn-sm"
            role="button"
            (click)="saveAsDraft()"
            [disabled]="form.invalid"
          >
            CONTINUAR
          </button>
          <button
            class="btn btn-secondary btn-sm"
            role="button"
            [routerLink]="['/solicitud/nueva']"
            routerLinkActive="router-link-active"
          >
            CANCELAR
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div>
  <div class="mt-3 mb-3" *ngIf="show == true">
    <div class="d-flex justify-content-center">
      <div
        class="col-sm-12 col-md-12 col-lg-11 col-xl-8 border-card p-sm-0 p-md-3 p-lg-5 p-xl-5"
        style="z-index: 0 !important"
      >
        <fa-icon
          style="
            position: absolute !important;
            margin-top: 8px !important;
            color: #002e6d;
          "
          [icon]="faServer"
        >
        </fa-icon>
        <tabset [justified]="true">
          <tab
            *ngFor="let tabz of tabs"
            [heading]="tabz.title"
            [active]="tabz.active"
            (selectTab)="tabz.active = true; selectTab(tabz)"
            (deselect)="tabz.active = false"
            [disabled]="tabz.disabled"
            [removable]="tabz.removable"
            [customClass]="tabz.customClass"
          >
            {{ tabz?.content }}
          </tab>
        </tabset>

        <div class="mt-3" *ngIf="request.fields != undefined">
          <div class="form-group" *ngFor="let item of request.fields">
            <!--------------------------------------------------------------------------------------------->
            <!--ETIQUETA DEL CAMPO ------------------------------------------------------------------------>
            <!--------------------------------------------------------------------------------------------->
            <label
              *ngIf="
                item.engineerField == false &&
                item.serverNumber == selectedServer
              "
              >{{ item.title
              }}<span class="text-primary-1" *ngIf="item.required == true"
                >*</span
              >
            </label>

                    <!--------------------------------------------------------------------------------------------->
                    <!--CAMPO NÚMERICO CON DECIMALES--------------------------------------------------------------->
                    <!--------------------------------------------------------------------------------------------->
                    <input class="form-control" type="number" step="0.01" [(ngModel)]="item.floatValue" *ngIf="
                item.fieldType == 'FLOATNUMBER' &&
                item.engineerField == false &&
                item.serverNumber == selectedServer
              " (blur)="validateFields()" />

                    <!--------------------------------------------------------------------------------------------->
                    <!--CAMPO DE NÚMEROS ENTEROS------------------------------------------------------------------->
                    <!--------------------------------------------------------------------------------------------->
                    <input class="form-control" type="number" *ngIf="
                item.fieldType == 'INTNUMBER' &&
                item.engineerField == false &&
                item.serverNumber == selectedServer
              " step="1" [(ngModel)]="item.integerValue" (blur)="validateFields()" />

                    <!--------------------------------------------------------------------------------------------->
                    <!--CAMPO DE TIPO FECHA------------------------------------------------------------------------>
                    <!--------------------------------------------------------------------------------------------->
                    <input class="form-control" type="text" *ngIf="
                item.fieldType == 'DATE' &&
                item.engineerField == false &&
                item.serverNumber == selectedServer
              " [(ngModel)]="item.dateValue" bsDatepicker [bsConfig]="{
                isAnimated: true,
                dateInputFormat: 'YYYY-MM-DD',
                containerClass: 'theme-dark-blue'
              }" [bsValue]="item.dateValue" (blur)="validateFields()" />

                    <!--------------------------------------------------------------------------------------------->
                    <!--CAMPO DE TIPO TEXTO------------------------------------------------------------------------>
                    <!--------------------------------------------------------------------------------------------->
                    <input class="form-control" type="text" *ngIf="
                item.fieldType == 'TEXT' &&
                item.engineerField == false &&
                item.serverNumber == selectedServer
              " [(ngModel)]="item.textValue" (blur)="validateFields()" />

                    <!--------------------------------------------------------------------------------------------->
                    <!--CAMPO DE TIPO ARCHIVO---------------------------------------------------------------------->
                    <!--------------------------------------------------------------------------------------------->
                    <div *ngIf="
                item.fieldType == 'FILE' &&
                item.engineerField == false &&
                item.serverNumber == selectedServer &&
                item.isRequiredConditional != true
              ">
                        <input class="form-control" type="file" (change)="selectFile($event, item)" [accept]="fileTypes" />

                        <div class="mt-2 small">
                            <button class="btn btn-primary btn-sm mr-2" *ngIf="item.refBaseFile != null && IE == false" (click)="getBaseFile(item)">
                            <i class="fas fa-download"></i> Archivo base
                          </button>
                            <button class="btn btn-primary btn-sm mr-2" *ngIf="item.refBaseFile != null && IE == true" (click)="getBaseFileIE(item)">
                            <i class="fas fa-download"></i> Archivo base
                          </button>
                            <button class="btn btn-secondary btn-sm" *ngIf="item.refFileValue != null && IE == false" (click)="getFile(item)">
                            <i class="fas fa-file"></i> Archivo actual
                          </button>
                            <button class="btn btn-secondary btn-sm" *ngIf="item.refFileValue != null && IE == true" (click)="getFileIE(item)">
                            <i class="fas fa-file"></i> Archivo actual
                          </button>
                        </div>
                    </div>

                    <!--------------------------------------------------------------------------------------------->
                    <!--CAMPO DE TIPO SELECT----------------------------------------------------------------------->
                    <!--------------------------------------------------------------------------------------------->
                    <ng-select class="custom" [addTag]="false" addTagText="Agregar" *ngIf="
                item.fieldType == 'SELECT' &&
                item.engineerField == false &&
                item.multiSelect != true &&
                item.serverNumber == selectedServer
              " [items]="item.multiSelectValues" bindLabel="title" bindValue="title" [searchable]="true" [(ngModel)]="item.textValue" (blur)="validateFields()">
                    </ng-select>

                    <!--------------------------------------------------------------------------------------------->
                    <!--CAMPO DE TIPO MULTISELECT------------------------------------------------------------------>
                    <!--------------------------------------------------------------------------------------------->
                    <div *ngIf="
                item.fieldType == 'SELECT' &&
                item.engineerField == false &&
                item.multiSelect == true &&
                item.serverNumber == selectedServer
              ">
                        <div class="custom-control custom-checkbox my-1 mr-sm-2 mb-2" *ngFor="let ms of item.multiSelectValues">
                            <input type="checkbox" class="custom-control-input" id="opt_{{ ms.title }}" [(ngModel)]="ms.selected" (blur)="validateFields()" />
                            <label class="custom-control-label" for="opt_{{ ms.title }}">{{
                  ms.title
                }}</label>
                        </div>

                        <div *ngIf="item.permittedAdd == true">
                            <label>Agregar otra...</label><br />
                            <div class="d-inline-flex">
                                <input class="form-control mr-2" type="text" [(ngModel)]="newOption" (blur)="validateFields()" />
                                <button type="button" class="btn btn-outline-show rounded p-1 mr-1" (click)="addOption(item)" [disabled]="newOption == ''">
                    <fa-icon [icon]="faPlus"> </fa-icon>
                  </button>
                            </div>
                        </div>
                    </div>

                    <!--------------------------------------------------------------------------------------------->
                    <!--CAMPO DE TIPO DINÁMICO--------------------------------------------------------------------->
                    <!--------------------------------------------------------------------------------------------->
                    <editor apiKey="1rmilf844n4ypp5zin3nrz8nkbehgs89l2s9vwnp8slwb7ms" [init]="{
                height: 500,
                menubar: false,
                plugins: [
                  'advlist autolink lists link image charmap print',
                  'preview anchor searchreplace visualblocks code',
                  'fullscreen insertdatetime media table paste',
                  'help wordcount'
                ],
                toolbar:
                  'undo redo | formatselect fontselect | bold italic forecolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | table | help '
              }" *ngIf="
                item.fieldType == 'DINAMIC' &&
                item.engineerField == false &&
                item.serverNumber == selectedServer
              " [(ngModel)]="item.dinamicValue" allowedEvents="onBlur,onKeyUp" (onKeyUp)="validateFields()">
                    </editor>

                    <!--------------------------------------------------------------------------------------------->
                    <!--CAMPO DE ARCHIVO CONDICIONAL -------------------------------------------------------------->
                    <!--------------------------------------------------------------------------------------------->
                    <div *ngIf="
                item.fieldType == 'FILE' &&
                item.engineerField == false &&
                item.serverNumber == selectedServer &&
                item.isRequiredConditional == true
              ">
                        <div class="custom-control custom-switch mb-2">
                            <input type="checkbox" class="custom-control-input" id="{{ item.id }}" [(ngModel)]="item.required" />
                            <label class="custom-control-label" for="{{ item.id }}"></label>
                        </div>

                        <div *ngIf="item.required == true">
                            <label>{{ item.secondaryTitle }}</label
                ><span class="text-primary-1">*</span>
                <input
                  class="form-control"
                  type="file"
                  (change)="selectFile($event, item)"
                  [accept]="fileTypes"
                />

                <div class="mt-2 small">
                  <button
                    class="btn btn-primary btn-sm mr-2"
                    *ngIf="item.refBaseFile != null  && IE == false"
                    (click)="getBaseFile(item)"
                  >
                    <i class="fas fa-download"></i> Archivo base
                  </button>
                  <button
                    class="btn btn-primary btn-sm mr-2"
                    *ngIf="item.refBaseFile != null  && IE == true"
                    (click)="getBaseFileIE(item)"
                  >
                    <i class="fas fa-download"></i> Archivo base
                  </button>
                  <button
                    class="btn btn-secondary btn-sm"
                    *ngIf="item.refFileValue != null  && IE == false"
                    (click)="getFile(item)"
                  >
                    <i class="fas fa-file"></i> Archivo actual
                  </button>
                  <button
                    class="btn btn-secondary btn-sm"
                    *ngIf="item.refFileValue != null  && IE == true"
                    (click)="getFileIE(item)"
                  >
                    <i class="fas fa-file"></i> Archivo actual
                  </button>
                </div>
              </div>
            </div>

            <!--------------------------------------------------------------------------------------------->
            <!--ETIQUETA DE CAMPO NO VÁLIDO---------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------->
            <div
              *ngIf="
                item.engineerField == false &&
                item.valid == false &&
                item.serverNumber == selectedServer &&
                validate == true
              "
            >
              <div class="small text-danger mb-3 mt-0">
                <fa-icon [icon]="faExclamationTriangle"></fa-icon> ¡Campo no
                válido!
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5" *ngIf="show == true">
          <div class="text-center">
            <p class="font-italic text-primary-1 body-text-center small">
              Los campos marcados con * son obligatorios...
            </p>

            <button
              class="btn btn-tertiary mr-2 btn-sm mb-2"
              role="button"
              (click)="preSend()"
            >
              PRESENTAR FORMULARIO
            </button>

            <button
              *ngIf="request.status == 'BORRADOR'"
              class="btn btn-primary mr-2 btn-sm mb-2"
              role="button"
              (click)="saveAsDraftWithFields()"
            >
              GUARDAR BORRADOR
            </button>
            <button
              class="btn btn-secondary btn-sm mb-2"
              role="button"
              (click)="exit()"
            >
              SALIR
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>