@media (min-width: 200px) and (max-width: 500.98px) and (min-height: 575.98px) {
    .btn-tertiary:disabled,
    .btn-tertiary.disabled {
        width: 100%;
        padding: 0.375rem 4rem !important;
    }
    .btn-secondary {
        margin-top: 1vh !important;
        width: 100%;
        padding: 0.375rem 4rem !important;
    }
  }

