<h1>CONFIGURACIÓN DE NOTIFICACIONES</h1>
<div class="border-card">
 <div class="d-flex justify-content-center">
   <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 p-sm-0 p-md-0 p-lg-0 p-lg-2">
  <form novalidate [formGroup]="conForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="email">Email de Notificaciones</label>
      <input
        class="form-control"
        type="email"
        id="email"
        formControlName="emailNotificaciones"
        maxlength="255"
      />
      <div
        class="text-danger small"
        *ngIf="
          (conForm.get('emailNotificaciones').hasError('email') &&
            conForm.get('emailNotificaciones').touched) ||
          (conForm.get('emailNotificaciones').hasError('ValidateEmailTigo') &&
            conForm.get('emailNotificaciones').touched)
        "
      >
        <fa-icon [icon]="faExclamationTriangle"></fa-icon> El correo eléctronico
        no es válido
      </div>
      <div
        class="text-danger small"
        *ngIf="
          conForm.get('emailNotificaciones').hasError('required') &&
          conForm.get('emailNotificaciones').touched
        "
      >
        <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
        requerido
      </div>
    </div>

    <div class="form-row mb-2">
      <div class="col">
        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          class="form-control"
          maxlength="255"
          formControlName="password"
        />
      </div>
      <div class="col">
        <label for="host">Host</label>
        <input
          type="text"
          id="host"
          class="form-control"
          maxlength="50"
          formControlName="host"
        />
        <div
          class="text-danger small"
          *ngIf="
            conForm.get('host').hasError('required') &&
            conForm.get('host').touched
          "
        >
          <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
          requerido
        </div>
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="col">
        <label for="port">Puerto</label>
        <input
          type="number"
          id="port"
          class="form-control"
          formControlName="port"
        />
        <div
          class="text-danger small"
          *ngIf="
            conForm.get('port').hasError('required') &&
            conForm.get('port').touched
          "
        >
          <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
          requerido
        </div>
        <div
          class="text-danger small"
          *ngIf="
            (conForm.get('port').hasError('min') || conForm.get('port').hasError('max')) &&
            conForm.get('port').touched
          "
        >
          <fa-icon [icon]="faExclamationTriangle"></fa-icon> Puerto no válido
        </div>
      </div>
      <div class="col">
        <label for="protocol">Protocolo</label>
        <input
          type="text"
          id="protocol"
          class="form-control"
          maxlength="10"
          formControlName="protocol"
        />
        <div
          class="text-danger small"
          *ngIf="
            conForm.get('protocol').hasError('required') &&
            conForm.get('protocol').touched
          "
        >
          <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
          requerido
        </div>
      </div>
    </div>

    
    <div class="custom-control custom-switch mb-4">
      <input
        type="checkbox"
        class="custom-control-input"
        id="auth"
        formControlName="auth"
      />
      <label class="custom-control-label" for="auth">Autenticación</label>
    </div>

    
    <div class="custom-control custom-switch mb-4">
      <input
        type="checkbox"
        class="custom-control-input"
        id="starttls"
        formControlName="starttls"
      />
      <label class="custom-control-label" for="starttls">StartTLS</label>
    </div>

    <div class="custom-control custom-switch mb-4">
      <input
        type="checkbox"
        class="custom-control-input"
        id="ssl"
        formControlName="ssl"
      />
      <label class="custom-control-label" for="ssl">SSL</label>
    </div>

    <div class="form-row mb-2">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <label>Día que se envían recordatorios</label>
        <ng-select
          class="custom mb-3"
          [items]="days"
          bindLabel="name"
          bindValue="id"
          [searchable]="false"
          formControlName="diaNotificaciones"
        >
        </ng-select>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <label for="hora">Hora</label>

        <timepicker [showSpinners]="false" [hourStep]="1" [minuteStep]="15" [showSeconds]="false" formControlName="horaNotificaciones"></timepicker>

        <div
          class="text-danger"
          *ngIf="
            conForm.get('horaNotificaciones').hasError('required') &&
            conForm.get('horaNotificaciones').touched
          "
        >
          <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
          requerido
        </div>
        <div
          class="text-danger small"
          *ngIf="
            conForm.get('horaNotificaciones').hasError('ValidateHour')
          "
        >
          <fa-icon [icon]="faExclamationTriangle"></fa-icon> Los minutos deben especificarse en 00, 15, 30, 45
        </div>
      </div>
    </div>

    <div class="form-group mt-2"></div>

    <button
      type="submit"
      class="btn btn-tertiary btn-sm mr-2"
      [disabled]="conForm.invalid"
    >
      Guardar
    </button>
    <button
      class="btn btn-primary btn-sm"
      role="button"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      Cancelar
    </button>
  </form>
</div>
</div>
</div>
