<swal #okSwall title="Ok" text="Lorem ipsum jurem" icon="success" [showCancelButton]="false" [showConfirmButton]="false">
</swal>

<div class="container mb-5 mt-5">
    <div class="row mb-3">
        <div class="col-8 text-end">
            <button type="button" class="btn btn-secondary" [swal]="okSwall">
        AGREGAR
      </button>
        </div>
        <!--CUADRO DE BÚSQUEDA-->
        <div class="col-4 text-end">
            <div id="search-wrapper">
                <input type="search" id="search" placeholder="Buscar" (keyup)="updateFilter($event)" />
                <fa-icon [icon]="faSearch"></fa-icon>
            </div>
        </div>
    </div>

    <!--NGX-DATATABLE-->
    <ngx-datatable #table class="bootstrap" [rows]="rows" [columns]="columns" [headerHeight]="30" [rowHeight]="50" [limit]="10" [footerHeight]="50" [scrollbarH]="false" [columnMode]="ColumnMode.force" [selectionType]="SelectionType.single">
    </ngx-datatable>
</div>