<div class="container mt-5">
  <swal
    #okSwall
    title="Ok"
    text="Lorem ipsum jurem"
    icon="success"
    [showCancelButton]="false"
    [showConfirmButton]="false"
  >
  </swal>

  <div class="mb-4">
    <button type="button" class="btn btn-primary m-2" [swal]="okSwall">
      PRIMARIO
    </button>
    <button type="button" class="btn btn-secondary m-2" [swal]="okSwall">
      SECUNDARIO
    </button>
    <button type="button" class="btn btn-tertiary m-2" [swal]="okSwall">
      TERCIARIO
    </button>
  </div>
  <div class="custom-control custom-switch mb-4">
    <input
      type="checkbox"
      class="custom-control-input"
      id="on"
      checked="checked"
    />
    <label class="custom-control-label" for="on"></label>
  </div>

  <div class="custom-control custom-switch mb-4">
    <input type="checkbox" class="custom-control-input" id="off" />
    <label class="custom-control-label" for="off"></label>
  </div>

  <button class="btn btn-secondary">
    <fa-icon [icon]="faSearch"></fa-icon>
  </button>
</div>
