<!--div class="login-background" [hidden]="isLoggedIn"></div>
<div class="card-deck" [hidden]="isLoggedIn">
  <div class="card mx-auto card-login">
    <img
      class="mx-auto logo-tigo img-fluid"
      alt="Responsive image"
      src="../../assets/img/tigo-logo.png"
    />
    <div class="card-body">
      <div
        class="col-sm-12 col-md-12 col-lg-12 col-xs-12"
        style="margin-top: 1vh"
      >
        <div class="txt-login text-center">BIENVENIDO</div>
        <button class="btn-login-ingreso mx-auto" (click)="link()">
          INGRESAR
        </button>
        <p class="text-center text-primary-1 mt-3 small">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div-->
<img
  src="../../assets/img/Picture2.png"
  border="0"
  name="right"
  style="
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
  "
/>
<img
  src="../../assets/img/Picture1.png"
  border="0"
  name="left"
  style="
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
  "
/>
<div class="limiter" [hidden]="isLoggedIn">
  <div class="container-login100">
    <div class="wrap-login100" style="z-index: 2">
      <div class="login100-form validate-form">
        <span class="login100-form-title p-b-48">
          <img
            class="mx-auto logo-tigo img-fluid img-responsive"
            alt="Responsive image"
            src="../../assets/img/tigo-logo.png"
            style="max-width: 200px !important; margin-bottom: 20px !important"
          />
        </span>

        <br />
        <hr style="background-color: #00c8ff" />
        <br />

        <span
          class="login100-form-title p-b-26"
          style="margin-bottom: 45px !important"
        >
          BIENVENIDO
        </span>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="link()">INGRESAR</button>
          </div>
        </div>

        <div class="text-center p-t-26">
          <div class="wrap-login100-form-btn">
            <p
              class="text-center text-primary-1 mt-3 small"
              style="font: normal normal bold 18px/22px Roboto"
            >
              {{ errorMessage }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
