<div class="mt-3">
  <div class="d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <label for="input-manual">Agregar o actualizar manual de usuario</label>
      <div class="form-group">
        <input
          id="input-manual"
          (change)="seleccionarManual($event)"
          type="file"
          class="form-control mb-4"
        />
      </div>

      <button
        (click)="subirManual()"
        [disabled]="!manualSeleccionado || loadingUpload"
        class="btn btn-tertiary btn-sm mb-4"
        type="submit"
      >
        Subir
      </button>
    </div>
  </div>
</div>
