<div class="row ml-3">
    <div class="col-xs-6 text-left">
        <div class="previous">
            <div class="d-none d-sm-none d-md-block">
                <i (click)="expand()" class="fas fa-bars close-icon-sidebar d-flex pt-3 default-size-icons icon-bar-background" role="button" id="expand-sidebar"></i>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right ml-4">
        <div class="next">
            <img src="assets/img/Logo_Tigo.svg.png" width="130" height="100">
        </div>
    </div>
</div>