<h1>{{ title }}</h1>
<div class="border-card">
  <div class="d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
      <form #departamentoForm="ngForm">
        <label for="name">Nombre del departamento</label>
        <input
          id="name"
          name="name"
          type="text"
          class="form-control"
          [(ngModel)]="departamentoInterno.name"
          (keyup)="keyupName($event)"
          #name="ngModel"
          required
          maxlength="100"
          pattern="^[^-?+\d]|[A-z]+$"
        />
        <div class="" >
          <div class="small text-danger mb-3 mt-0" *ngIf="name.invalid && (name.dirty || name.touched)">
            <fa-icon [icon]="faExclamationTriangle"></fa-icon> ¡Debe ingresar
            un nombre!
          </div>
          <div class="small text-danger mb-3 mt-0" *ngIf="NombreValido">
            <fa-icon [icon]="faExclamationTriangle"></fa-icon> ¡No valido!
          </div>
        </div>

        <div class="form-group-row mb-5 mt-3">
          <div *ngIf="!departamentoInterno.id; else elseBlock">
            <button
              class="btn btn-tertiary btn-sm mr-2"
              role="button"
              (click)="save()"
              [disabled]="departamentoForm.invalid"
            >
              Registrar
            </button>
            <button
              class="btn btn-primary btn-sm"
              role="button"
              [routerLink]="['/departamentos-internos-om']"
              routerLinkActive="router-link-active"
            >
              Cancelar
            </button>
          </div>

          <div class="form-group-row">
            <ng-template #elseBlock>
              <button
                class="btn btn-tertiary btn-sm mr-2"
                role="button"
                (click)="update()"
                [disabled]="departamentoForm.invalid"
              >
                Actualizar
              </button>

              <button
                class="btn btn-primary btn-sm"
                role="button"
                [routerLink]="['/departamentos-internos-om']"
                routerLinkActive="router-link-active"
              >
                Cancelar
              </button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
