<div class="row mb-3 ml-3">
    <div class="row title">
        <h1>TICKETS GLOBALES COMPLETADOS </h1>
    </div>
</div>


<div class="row mb-3 ml-1 custom-border" style="background-color: #FFFFFF !important;">
    <div style="width: 100% !important">
        <div class="font-filtros" style="margin-left: 10px !important; margin-top: 10px !important">
            <i class="fas fa-filter" style="display: inline-block !important"> </i> Filtros
        </div>
    </div>
    <div class="content-rows mb-3">
        <div class="general-1" style="">
            <div class="custom-columna-1">
                <label>IP/Hostname</label>
                <!-- (keydown.backspace)="onKeydownIp($event)" -->
                <input class="form-control custom-columna-1-input" bindLabel="description" bindValue="value" placeholder="Buscar ..." [(ngModel)]="ip" (keyup)="filtrarIp($event)">
                <!--div><label *ngIf="ipValido == false">Hi</label></div-->
            </div>
        </div>
    </div>
</div>

<ngx-datatable #table ngx-resize-watcher class="bootstrap" [rows]="AllRequest" [headerHeight]="30" rowHeight="auto" [loadingIndicator]="true" [footerHeight]="60" [scrollbarH]="scrollBarHorizontal" [columnMode]="ColumnMode.force" [selectionType]="SelectionType.checkbox"
    [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">
    <ng-template let-column="column" ngx-datatable-header-template>
        <p class="body-text-center">{{ column.createdBy }}</p>
    </ng-template>
    <ngx-datatable-column name="ACCIONES" [width]="180" [canAutoResize]="false" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
            <p>{{ column.name }}</p>
        </ng-template>
        <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
            <div>
                <table>
                    <tr>
                        <td>
                            <fa-icon [icon]="faEye" type="button" class="btn-outline-show rounded p-1 mr-1" [routerLink]="['/solicitud/' + row['id']]" routerLinkActive="router-link-active">
                            </fa-icon>
                        </td>
                        <i type="button" class="fas fa-pencil-square-o btn-outline-edit rounded p-1 ml-1 mr-1" [routerLink]="['/solicitud/form/engineer/' + row['id']]" routerLinkActive="router-link-active" *ngIf="row['status'] != 'COMPLETADA'"></i>
                        <i type="button" class="fas fa-pencil-square-o btn-outline-edit rounded p-1 ml-1 mr-1" *ngIf="row['status'] == 'COMPLETADA'" style="opacity: 0.6; cursor: not-allowed; color: gray"></i>
                        <td>
                            <fa-icon [icon]="faFilePdf" type="button" class="btn-outline-danger rounded p-1 pr-2 pl-2" *ngIf="IE == false" (click)="getReport(row)"></fa-icon>
                            <fa-icon [icon]="faFilePdf" type="button" class="btn-outline-danger rounded p-1 pr-2 pl-2" *ngIf="IE == true" (click)="getReportIE(row)"></fa-icon>
                        </td>
                    </tr>
                </table>
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false">
        <ng-template ngx-datatable-header-template>
            <span>NO. SOLICITUD</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            #&nbsp;{{ row.id }}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="TIPO DE SOLICITUD" prop="requestType.description" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
            <p class="header-text-start">{{ column.name }}</p>
        </ng-template>
    </ngx-datatable-column>

    <!--ngx-datatable-column name="SOLICITUD" prop="projectName" [sortable]="false"></ngx-datatable-column-->

    <ngx-datatable-column [sortable]="false">
        <ng-template ngx-datatable-header-template>
            <span>SOLICITUD</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.projectName }}<span *ngIf="row.generatedEngineer == true">*</span>
        </ng-template>
    </ngx-datatable-column>

    <!--ngx-datatable-column [sortable]="false" name="ESTADO" prop="status"></ngx-datatable-column-->

    <ngx-datatable-column [sortable]="false">
        <ng-template ngx-datatable-header-template>
            <span>ESTADO</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.status }}
        </ng-template>
    </ngx-datatable-column>


    <!--ngx-datatable-column name="FECHA DE CREACIÓN" prop="createdDate" [sortable]="false" headerClass="header-text-center">
        <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
            <div class="header-text-center">
                {{ value | date: "medium" }}
            </div>
        </ng-template>
    </ngx-datatable-column-->

    <ngx-datatable-column [sortable]="false">
        <ng-template ngx-datatable-header-template>
            <span>FECHA DE CREACIÓN</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.createdDate | date: "medium" }}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!(rowCount / pageSize > 1)"
                (change)="table.onFooterPage($event)">
            </datatable-pager>
        </ng-template>
    </ngx-datatable-footer>
</ngx-datatable>

<div class="text-right small mr-1" *ngIf="this.AllRequest.length != 0">
    <p>* Solicitud generada en ingeniería
        <i class="fas fa-question-circle" type="button" popover="Las solicitudes marcadas con asterisco (*) fueron generadas por un ingeniero para poder completar una solicitud de expansión." popoverTitle="Información de la solicitud"></i>
    </p>
</div>