
.custom-border {
    border-radius: 9px;
    width: 99.5% !important;
    border: 2px solid #00C8FF;
}

.font-filtros {
    text-align: left !important;
    font: normal normal medium 15px/43px Roboto !important;
    letter-spacing: 0px !important;
    color: #002E6D !important;
    opacity: 1 !important;
}

.custom-select {
    width: 230px !important;
}

.col-custom-1 {
    width: 70px !important;
    margin-right: 35px !important;
    display: none !important;
}
.content-rows {
    display: block !important;
    margin-left: 10px !important;
    width: 100% !important;
    justify-content: start !important;
}
.general-1 {
    width: 100% !important;
    max-width: 300px !important;
}
.general-2 {
    width: 100% !important;
}

@media (max-width: 374.98px) {
   
.general-1 {
    width: 96% !important;
} 
}