<div class="mt-0 mb-5">
    <div class="small d-flex justify-content-start">
        <h1 class="mr-3">AYUDA</h1>
    </div>

    <ul class="nav nav-pills-2 nav-tabs-2 mb-3 small" id="pills-tab" role="tablist">
        <li class="nav-item-2" role="presentation">
            <a [ngClass]="videoTabActive == true ? 'nav-link-2' : 'nav-link-2 active'" id="pills-home-tab" data-toggle="pill" href="#pills-tab4" role="tab" aria-controls="pills-home" [attr.aria-selected]="videoTabActive">Manual</a
      >
    </li>
    <li class="nav-item-2" role="presentation">
      <a
        [ngClass]="videoTabActive == true ? 'nav-link-2 active' : 'nav-link-2'"
        id="pills-profile-tab"
        data-toggle="pill"
        href="#pills-tab5"
        role="tab"
        aria-controls="pills-profile"
        [attr.aria-selected]="videoTabActive"
        >Videos</a
      >
    </li>
  </ul>

  <div class="tab-content border-card small p-3" id="pills-tabContent">
    <div
      [ngClass]="
        videoTabActive == true ? 'tab-pane fade' : 'tab-pane fade show active'
      "
      id="pills-tab4"
      role="tabpanel"
      aria-labelledby="pills-tab4"
    >
      <ul class="nav nav-pills nav-tabs mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="pills-home-tab"
            data-toggle="pill"
            href="#pills-tab1"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
            >Consultar el manual</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-profile-tab"
            data-toggle="pill"
            href="#pills-tab2"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            *ngIf="
              roleService.hasRole('ROLE_ADMIN') ||
              roleService.hasRole('ROLE_ADMINFUNCIONAL')
            "
            >Cambiar el manual</a
          >
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-tab1"
          role="tabpanel"
          aria-labelledby="pills-tab1"
        >
          <div
            class="spinner-grow text-secondary-2"
            role="status"
            *ngIf="load == false"
          >
            <span class="visually-hidden"></span>
          </div>

          <a
            class="btn btn-tertiary btn-sm mb-2"
            [href]="pdfSrc"
            target="_blank"
            *ngIf="pdfSrc != null && load == true && IE == false"
          >
            Descargar
          </a>

            <!-- IE-->
            <button class="btn btn-tertiary btn-sm mb-2" (click)="IEDowload()" target="_blank" *ngIf="pdfSrc != null && load == true && IE == true" style="border-color: #002E6D !important;">
              Descargar
            </button>

            <div class="embed-responsive embed-responsive-16by9" *ngIf="IE == false">
                <embed class="embed-responsive-item" [src]="pdfSrc" type="application/pdf" width="100%" height="700px" *ngIf="pdfSrc != null && load == true" />
            </div>
</div>
<div class="tab-pane fade" id="pills-tab2" role="tabpanel" aria-labelledby="pills-tab2" *ngIf="
            roleService.hasRole('ROLE_ADMIN') ||
            roleService.hasRole('ROLE_ADMINFUNCIONAL')
          ">
    <app-ayuda-configuracion> </app-ayuda-configuracion>
</div>
</div>
</div>
<div [ngClass]="
        videoTabActive == true ? 'tab-pane fade show active' : 'tab-pane fade'
      " id="pills-tab5" role="tabpanel" aria-labelledby="pills-tab5">
    <app-videos-list></app-videos-list>
</div>
</div>
</div>