<button class="btn btn-secondary btn-sm mb-2" role="button" (click)="return()">
  <i class="fas fa-arrow-circle-left"></i> Regresar
</button>

<h1 class="text-center">
    {{ title | uppercase }} {{ request.projectName | uppercase }}
</h1>

<div *ngIf="request.id != null">
    <div class="container-fluid h-100 p-0">
        <div class="row justify-content-center h-100">
            <div class="col col-sm-12 col-md-12 col-lg-7">
                <div class="border-card mb-3 p-3" *ngIf="request != null">
                    <div class="form-row">
                        <div class="col">
                            <label>Nombre del Proyecto</label>
                            <p class="answer">{{ request.projectName }}</p>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <label>Aplicación</label>
                            <p class="answer">{{ request.applicationSolution }}</p>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <label>Project Manager/Tech Leader</label>
                            <p class="answer" *ngIf="request.projectManager != undefined">
                                {{ request.projectManager }}
                            </p>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <label>Contacto de Seguimiento</label>
                            <p class="answer" *ngIf="request.followUpContact != undefined">
                                {{ request.followUpContact }}
                            </p>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <label>Departamento Requirente</label>
                            <p class="answer" *ngIf="request.departamentoRequerimiento != undefined">
                                {{ request.departamentoRequerimiento.name }}
                            </p>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <label>Departamento de Soporte</label>
                            <p class="answer" *ngIf="request.departamentoSoporte != undefined">
                                {{ request.departamentoSoporte.name }}
                            </p>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <label>Prioridad</label>
                            <p class="answer">{{ request.priority }}</p>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <label>Cantidad de Servidores</label>
                            <p class="answer">{{ request.numberOfServers }}</p>
                        </div>
                    </div>
                </div>

                <div class="border-card mb-3 p-3" *ngIf="request != null">
                    <fa-icon style="position: absolute !important; margin-top: 8px !important" [icon]="faServer">
                    </fa-icon>
                    <tabset [justified]="true">
                        <tab *ngFor="let tabz of tabs" [heading]="tabz.title" [active]="tabz.active" (selectTab)="tabz.active = true; selectTab(tabz)" (deselect)="tabz.active = false" [disabled]="tabz.disabled" [removable]="tabz.removable" [customClass]="tabz.customClass">
                            {{ tabz?.content }}
                        </tab>
                    </tabset>

                    <div *ngIf="request.fields != undefined">
                        <div class="form-group" *ngFor="let item of request.fields">
                            <!--------------------------------------------------------------------------------------------->
                            <!--ETIQUETA DEL CAMPO ------------------------------------------------------------------------>
                            <!--------------------------------------------------------------------------------------------->
                            <label *ngIf="
                  item.engineerField == false &&
                  item.serverNumber == selectedServer
                ">{{ item.title }}
              </label>

                            <!--------------------------------------------------------------------------------------------->
                            <!--RESPUESTA DE NÚMERO CON DECIMALES --------------------------------------------------------->
                            <!--------------------------------------------------------------------------------------------->
                            <p class="answer" *ngIf="
                  item.fieldType == 'FLOATNUMBER' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer
                ">
                                {{ item.floatValue | replaceNullWithText }}
                            </p>

                            <!--------------------------------------------------------------------------------------------->
                            <!--NÚMERO ENTERO ----------------------------------------------------------------------------->
                            <!--------------------------------------------------------------------------------------------->
                            <p class="answer" *ngIf="
                  item.fieldType == 'INTNUMBER' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer
                ">
                                {{ item.integerValue | replaceNullWithText }}
                            </p>

                            <!--------------------------------------------------------------------------------------------->
                            <!--FECHA ------------------------------------------------------------------------------------->
                            <!--------------------------------------------------------------------------------------------->
                            <p class="answer" *ngIf="
                  item.fieldType == 'DATE' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer
                ">
                                {{ item.dateValue | date: "medium" | replaceNullWithText }}
                            </p>

                            <!--------------------------------------------------------------------------------------------->
                            <!--TEXTO NORMAL ------------------------------------------------------------------------------>
                            <!--------------------------------------------------------------------------------------------->
                            <p class="answer" *ngIf="
                  item.fieldType == 'TEXT' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer
                ">
                                {{ item.textValue | replaceNullWithText }}
                            </p>

                            <!--------------------------------------------------------------------------------------------->
                            <!--ARCHIVO ----------------------------------------------------------------------------------->
                            <!--------------------------------------------------------------------------------------------->
                            <div class="mt-2 small" *ngIf="
                  item.fieldType == 'FILE' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer &&
                  item.isRequiredConditional != true
                ">
                                <p class="answer" *ngIf="item.refFileValue == null">
                                    El usuario no subió ningún archivo
                                </p>
                                <button class="btn btn-primary btn-sm mr-2" *ngIf="item.refBaseFile != null && IE == false" (click)="getBaseFile(item)">
                                  <i class="fas fa-download"></i> Archivo base
                                </button>
                                <button class="btn btn-primary btn-sm mr-2" *ngIf="item.refBaseFile != null && IE == true" (click)="getBaseFileIE(item)">
                                  <i class="fas fa-download"></i> Archivo base
                                </button>
                                <button class="btn btn-secondary btn-sm" *ngIf="item.refFileValue != null && IE == false" (click)="getFile(item)">
                                  <i class="fas fa-file"></i> Archivo Subido
                                </button>
                                <button class="btn btn-secondary btn-sm" *ngIf="item.refFileValue != null && IE == true" (click)="getFileIE(item)">
                                  <i class="fas fa-file"></i> Archivo Subido
                                </button>
                            </div>

                            <!--------------------------------------------------------------------------------------------->
                            <!--SELECT ------------------------------------------------------------------------------------>
                            <!--------------------------------------------------------------------------------------------->
                            <p class="answer" *ngIf="
                  item.fieldType == 'SELECT' &&
                  item.engineerField == false &&
                  item.multiSelect != true &&
                  item.serverNumber == selectedServer
                ">
                                {{ item.textValue | replaceNullWithText }}
                            </p>

                            <!--------------------------------------------------------------------------------------------->
                            <!--MULTISELECT ------------------------------------------------------------------------------->
                            <!--------------------------------------------------------------------------------------------->
                            <div class="answer" *ngIf="
                  item.fieldType == 'SELECT' &&
                  item.engineerField == false &&
                  item.multiSelect == true &&
                  item.serverNumber == selectedServer
                ">
                                <ul>
                                    <ol *ngFor="let selected of item.multiSelectValues">
                                        <span *ngIf="selected.selected == true">
                      {{ selected.title | replaceNullWithText }}</span
                    >
                  </ol>
                </ul>
              </div>

              <!--------------------------------------------------------------------------------------------->
              <!--DINÁMICO ---------------------------------------------------------------------------------->
              <!--------------------------------------------------------------------------------------------->
              <div
                class="p-3"
                *ngIf="
                  item.fieldType == 'DINAMIC' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer
                "
                [innerHTML]="item.dinamicValue"
              ></div>

              <!--------------------------------------------------------------------------------------------->
              <!--ARCHIVO CONDICIONAL ----------------------------------------------------------------------->
              <!--------------------------------------------------------------------------------------------->
              <div
                *ngIf="
                  item.fieldType == 'FILE' &&
                  item.engineerField == false &&
                  item.serverNumber == selectedServer &&
                  item.isRequiredConditional == true
                "
              >
                <p class="answer" *ngIf="item.required == true">SÍ</p>
                <p class="answer" *ngIf="item.required == false">NO</p>

                <div *ngIf="item.required == true">
                  <label>{{ item.secondaryTitle }}</label>
                  <p class="answer" *ngIf="item.refFileValue == null">
                    El usuario no ha subido el archivo
                  </p>
                  <div class="mt-2 small">
                    <button
                      class="btn btn-primary btn-sm mr-2"
                      *ngIf="item.refBaseFile != null && IE == false"
                      (click)="getBaseFile(item)"
                    >
                      <i class="fas fa-download"></i> Archivo base
                    </button>
                    <button
                      class="btn btn-primary btn-sm mr-2"
                      *ngIf="item.refBaseFile != null && IE == true"
                      (click)="getBaseFileIE(item)"
                    >
                      <i class="fas fa-download"></i> Archivo base
                    </button>
                    <button
                      class="btn btn-secondary btn-sm"
                      *ngIf="item.refFileValue != null && IE == false"
                      (click)="getFile(item)"
                    >
                      <i class="fas fa-file"></i> Archivo actual
                    </button>
                    <button
                      class="btn btn-secondary btn-sm"
                      *ngIf="item.refFileValue != null && IE == true"
                      (click)="getFileIE(item)"
                    >
                      <i class="fas fa-file"></i> Archivo actual
                    </button>
                  </div>
                </div>
              </div>
              <!--------------------------------------------------------------------------------------------->
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-5">
        <!--
        roleService.hasRole('ROLE_INGENIERO')
        *ngIf="roleService.hasRole('ROLE_COORDINADOR') && request.status == 'BORRADOR'|| roleService.hasRole('ROLE_COORDINADOR') && request.status == 'ASIGNADA'" request.status == 'ASIGNADA' ||
      -->

        <div
          class="border-card aprobar-buttons p-3 mb-3"
          *ngIf="
            roleService.hasRole('ROLE_COORDINADOR') ||
            roleService.hasRole('ROLE_INGENIERO')
          "
          [hidden]="
            request.status == 'BORRADOR' || request.status == 'COMPLETADA'
          "
        >
          <div class="row ml-2">
            <div class="col-custom1">
              <label class="text-rigth">Aprobacion de Solicitud</label>
            </div>
            <div class="col-custom2">
              <button
                class="btn-aceptar m-2"
                (click)="openModalAprobar()"
                *ngIf="request.assignedEngineerUsername == null"
              >
                Aprobar
              </button>
            </div>
            <div class="col-custom3">
              <button
                (click)="openModaldenegar()"
                class="btn-rechazar m-2"
                *ngIf="request.status !== 'RECHAZADA'"
              >
                Denegar
              </button>
            </div>
          </div>
        </div>
        <!--div class="border-card aprobar-buttons p-3 mb-3 ">
        <label class="text-rigth mr-5">Aprobacion de Solicitud</label>
        <button class="btn-aceptar m-2">Aprobar</button>
        <button (click)="openModaldenegar()" class="btn-rechazar m-2">Denegar</button>
      </div-->
        <div class="border-card p-3">
          <div class="row ml-1">
            <div class="column mr-4"><label>Estado de la solicitud</label></div>
            <div class="column">
              <p class="text-primary-1 font-weight-bold body-text-start">
                <i
                  class="fas fa-eraser text-secondary-2"
                  *ngIf="request.status == 'BORRADOR'"
                ></i>
                <i
                  class="fas fa-plane text-primary-1"
                  *ngIf="request.status == 'ENVIADA'"
                ></i>
                <i
                  class="fas fa-user-check text-info"
                  *ngIf="request.status == 'ASIGNADA'"
                ></i>
                <i
                  class="fas fa-check-circle text-success"
                  *ngIf="request.status == 'COMPLETADA'"
                ></i>
                <i
                  class="fas fa-times-circle text-danger"
                  *ngIf="request.status == 'RECHAZADA'"
                ></i>
                <span class="body-text-start"> {{ request.status }}</span>
                                        </p>
                            </div>
                        </div>
                        <hr style="
              background-color: #00c8ff !important;
              height: 1.5px !important;
              margin-top: -10px !important;
            " />

                        <i class="fas fa-list ml-1"></i> &nbsp;&nbsp;<label class="text-custom">Datos de la Solicitud</label
          >
          <div class="container border-card">
            <div class="row">
              <div class="column col-lg-6 form-no-solicitud">
                <div class="form-row">
                  <div class="col">
                    <label>Número de Solicitud</label>
                        <p class="text-primary-1 font-weight-bold">
                            <i class="fas fa-hashtag text-secondary"></i> {{ request.id }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="column col-lg-6 form-date">
                <div class="form-row">
                    <div class="col">
                        <label>Fecha de creación</label>
                        <p class="text-primary-1 font-weight-bold">
                            {{ request.createdDate | date: "dd/MM/yyyy hh:mm a" }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column col-lg-12">
                <div class="form-row">
                    <div class="col">
                        <label>Creada por</label>
                        <p class="text-primary-1 font-weight-bold body-text-start">
                            {{ request.createdBy }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="column col-lg-12" *ngIf="request.assignedEngineerName != null">
                <div class="form-row">
                    <div class="col">
                        <label>Ingeniero Asignado</label>
                        <p class="text-primary-1 font-weight-bold overflow-auto">
                            {{ request.assignedEngineerName }}
                        </p>
                    </div>
                </div>
            </div>
            <!--div class="column col-lg-6">
                <div class="form-row">overflow-auto
                  <div class="col">
                    <label>Estado de la Solicitud</label>
                    <p class="text-primary-1 font-weight-bold">Borrador</p>
                  </div>
                </div>
              </div-->
        </div>
    </div>

    <hr />
    <div style="padding-top: 5px !important">
        <i class="fas fa-history"></i> &nbsp;&nbsp;<label class="text-custom">Historial de Rechazo</label
            >

            <div *ngIf="request.rejections != null">
              <div
                class="container border-card mt-2"
                *ngFor="let rejection of request.rejections"
              >
                <div class="row">
                  <div class="col">
                    <label>Rechazada por</label>
        <p class="text-primary-1 font-weight-bold">
            {{ rejection.authorName }}
        </p>
    </div>
    <div class="col">
        <label>Fecha y Hora</label>
        <p class="text-primary-1 font-weight-bold">
            {{ rejection.createdDate | date: "dd/MM/yyyy hh:mm a" }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <label>Comentarios</label>
        <p class="text-primary-1 font-weight-bold" [innerHTML]="rejection.justification"></p>
    </div>
</div>
</div>
</div>
<!--div *ngIf="request.rejections != null">
            <div class="mt-2" *ngFor="let rejection of request.rejections">
              <div class="d-flex justify-content-between">
                <small class="text-primary-2 font-weight-bold">{{
                  rejection.authorName
                }}</small>
              </div>
              <div class="border rounded p-2">
                {{ rejection.justification}}
              </div>
              <div class="d-flex justify-content-end">
                <small class="comment">
                  {{ rejection.createdDate | date: "dd/MM/yyyy hh:mm a" }}</small
                >
              </div>
            </div>
          </div>
        </div-->

<hr />
<div>
    <div class="row">
        <div class="col">
            <i class="fas fa-comment"></i>&nbsp;&nbsp;<label class="text-custom">Comentarios</label
                  >
                </div>
                <div class="col d-flex flex-row-reverse">
                  <button
                    (click)="openModalComment()"
                    class="btn btn-primary btn-sm"
                    *ngIf="
                      roleService.hasRole('ROLE_COORDINADOR') ||
                      roleService.hasRole('ROLE_INGENIERO')
                    "
                  >
                    <i class="fas fa-comment mr-1"></i> Agregar
                  </button>
                </div>
              </div>
              <div>
                <div class="mt-2" *ngFor="let comment of comments">
                  <div class="d-flex justify-content-between">
                    <small class="text-primary-2 font-weight-bold">{{
                      comment.authorName
                    }}</small>
                  </div>
                  <div class="border rounded p-2">
                    <div [innerHTML]="comment.message"></div>
                  </div>
                  <div class="d-flex justify-content-end">
                    <small class="comment">
                      {{
                        comment.createdDate | date: "dd/MM/yyyy hh:mm a"
                      }}</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-request-versions-history
      *ngIf="
        request.draftStatus == false && (roleService.hasRole('ROLE_COORDINADOR') || roleService.hasRole('ROLE_INGENIERO')) 
      "
    ></app-request-versions-history>

    <!-- Denegar Modal -->
    <div
      class="modal fade"
      id="ShowModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title h1" id="exampleModalLongTitle">
              Motivo de Denegado
            </p>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row"></div>
            <editor
              apiKey="1rmilf844n4ypp5zin3nrz8nkbehgs89l2s9vwnp8slwb7ms"
              [init]="{
                menubar: false,
                plugins: [
                  'advlist autolink lists link image charmap print',
                  'preview anchor searchreplace visualblocks code',
                  'fullscreen insertdatetime media table paste',
                  'help wordcount'
                ],
                toolbar:
                  'undo redo | formatselect fontselect | bold italic forecolor | \
              alignleft aligncenter alignright alignjustify | \
              bullist numlist outdent indent | table '
              }"
              #message="ngModel"
              name="justification"
              [(ngModel)]="MotivoDengacion"
            >
            </editor>
            <br />
            <div class="text-center">
              <button
                class="tetharybtn btn-tertiary btn-aceptar m-2"
                (click)="sendDenegar()"
              >
                Agregar
              </button>
              <button
                class="tetharybtn btn-tertiary btn-cancelar m-2"
                data-dismiss="modal"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Aprobar Modal -->
    <div
      class="modal fade"
      id="ShowModalAprobar"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title h1" id="exampleModalLongTitle">
              Aprobacion de la Solicitud
            </p>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row"></div>
            <label>Nombre del Ingeniero</label>
            <ng-select class="custom mb-3" [items]="engineerList" bindLabel="displayName" bindValue="email" [searchable]="false" [(ngModel)]="selectedEnginner">
                >
            </ng-select>
            <br />
            <div class="text-center">
                <button class="tetharybtn btn-tertiary btn-aceptar m-2" (click)="sendAprobar()">
                Enviar
              </button>
                <button class="tetharybtn btn-tertiary btn-cancelar m-2" data-dismiss="modal">
                Cancelar
              </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>