.text-custom{
    color: #002E6D !important;
}

.btn-aceptar{
    background: #FFC20E 0% 0% no-repeat padding-box !important;
    border: 0 !important;
    text-align: center !important;
    color: #002E6D !important;
    width: 120px !important;
    max-width: 160px !important;
    border-radius: 20px !important;
    height: 37px !important;
}

.btn-rechazar{
    background: #002E6D 0% 0% no-repeat padding-box !important;
    color: #FFFFFF !important;
    max-width: 160px !important;
    border: 0 !important;
    width: 120px !important;
    border-radius: 20px !important;
    height: 37px !important;
}

.btn-aceptar::hover{
    color: #002E6D !important;
}

.btn-rechazar::hover{
    border: 0 !important;
}

.btn-cancelar{
    background: #00C8FF 0% 0% no-repeat padding-box !important;
    color: #FFFFFF !important;
    max-width: 160px !important;
    border: 0 !important;
    width: 120px !important;
    border-radius: 20px !important;
    height: 37px !important;
}


::ng-deep .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    font: normal normal medium 15px/43px Roboto;
    font-weight: 700 !important;
    font-size: 1.1rem;
    opacity: 1;
}

::ng-deep .nav-tabs .active .nav-item a .nav-link .active {
    text-align: start !important;
    background-color: aqua !important;
}

::ng-deep .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-bottom-color: #00C8FF !important;
}

.aprobar-buttons{
}

.col-custom1{
    margin-top: auto !important;
    width: 33% !important;
}

.col-custom2{
    text-align: end !important;
    width: 33% !important;
}

.col-custom3{
    width: 33% !important;
}


@media (max-width: 434.98px)  {

    .col-custom1{
        width: 100% !important;
    }
    
    .col-custom2{
        text-align: center !important;
        width: 100% !important;
        margin-left: -10px !important;
    }

    .col-custom3{
        text-align: center !important;
        width: 100% !important;
        margin-left: -10px !important;
    }
}

@media (min-width: 435px) and (max-width: 544.98px)  {

    .col-custom1{
        width: 100% !important;
    }
    
    .col-custom2{
        width: 50% !important;
    }

    .col-custom3{
        width: 50% !important;
    }
}

@media (min-width: 1250px) and (max-width: 1499.98px)  {

    .col-custom1{
        margin-top: auto !important;
        width: 100% !important;
    }
    
    .col-custom2{
        text-align: end !important;
        width: 50% !important;
    }
    
    .col-custom3{
        width: 50% !important;
    }

}

@media (min-width: 1080px) and (max-width: 1249.98px)  {

    .col-custom1{
        margin-top: auto !important;
        width: 100% !important;
    }
    
    .col-custom2{
        text-align: end !important;
        width: 50% !important;
    }
    
    .col-custom3{
        width: 50% !important;
    }

    .btn-aceptar{
        width: 90px !important;
        height: 37px !important;
    }

    .btn-rechazar{
        width: 90px !important;
        height: 37px !important;
    }

}


@media (min-width: 991.99px) and (max-width: 1079.98px)  {

    .col-custom1{
        margin-top: auto !important;
        width: 100% !important;
    }
    
    .col-custom2{
        text-align: end !important;
        width: 50% !important;
    }
    
    .col-custom3{
        width: 50% !important;
    }

    .btn-aceptar{
        width: 75px !important;
        height: 37px !important;
    }

    .btn-rechazar{
        width: 75px !important;
        height: 37px !important;
    }

    .form-date{
        margin-left: -18px !important;
    }
    
    .form-no-solicitud{
        margin-left: -1px !important;
    }
}