<div class="mb-5">
    <div class="row mb-3 ml-3">
        <div class="row title">
            <h1>REVISIÓN ADMINISTRATIVA</h1>
        </div>
        <div class="row contenido">
            <div class="col-btn-custom"></div>
            <!-- 
      <div class="search-box-container ">
          <input type="text" placeholder="Buscar..."   (keyup)="find($event)"/>
        </div>-->
        </div>
    </div>

    <ngx-datatable #table ngx-resize-watcher class="bootstrap" [rows]="AllRequest" [headerHeight]="30" rowHeight="auto" [loadingIndicator]="true" [footerHeight]="60" [scrollbarH]="scrollBarHorizontal" [columnMode]="ColumnMode.force" [selectionType]="SelectionType.checkbox"
        [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">
        <ng-template let-column="column" ngx-datatable-header-template>
            <p class="header-text-center">{{ column.createdBy }}</p>
        </ng-template>
        <ngx-datatable-column name="ACCIONES" [width]="180" [canAutoResize]="false" [sortable]="false">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header-text-start">{{ column.name }}</p>
            </ng-template>
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <div class="container mx-auto">
                    <table>
                        <tr>
                            <td>
                                <fa-icon [icon]="faEye" type="button" class="btn-outline-show rounded p-1 mr-1" [routerLink]="['/solicitud/' + row['id']]" routerLinkActive="router-link-active">
                                </fa-icon>
                            </td>
                            <td>
                                <fa-icon *ngIf="IE == false" [icon]="faFilePdf" type="button" class="btn-outline-danger rounded p-1 pr-2 pl-2" (click)="getReport(row)">
                                </fa-icon>
                                <fa-icon *ngIf="IE == true" [icon]="faFilePdf" type="button" class="btn-outline-danger rounded p-1 pr-2 pl-2" (click)="getReportIE(row)">
                                </fa-icon>
                            </td>
                            <td>
                                <fa-icon [icon]="faTrash" type="button" class="btn-outline-danger rounded p-1 pr-2 pl-2" (click)="deleteRequest(row['id'])" *ngIf="row['status'] == 'RECHAZADA'">
                                </fa-icon>
                                <fa-icon [icon]="faTrash" type="button" class="rounded p-1 pr-2 pl-2" *ngIf="row['status'] != 'RECHAZADA'" style="opacity: 0.6; cursor: not-allowed">
                                </fa-icon>
                            </td>
                        </tr>
                    </table>
                </div>
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column [sortable]="false">
            <ng-template ngx-datatable-header-template>
                <span class="header-text-start">NO. SOLICITUD</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                #&nbsp;{{row.id}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="TIPO DE SOLICITUD" prop="requestType.description" [sortable]="false">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header-text-start">{{ column.name }}</p>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="NOMBRE DEL PROYECTO" prop="projectName" [sortable]="false">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header-text-start">{{ column.name }}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="FECHA DE CREACIÓN" prop="createdDate" [sortable]="false">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header-text-center">{{ column.name }}</p>
            </ng-template>
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <div class="body-text-center">
                    {{ value | date: "medium" }}
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="PRIORIDAD" prop="priority" [canAutoResize]="true" [sortable]="false">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header-text-center">{{ column.name }}</p>
            </ng-template>
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <div class="text-center">
                    <i class="fas fa-exclamation-circle text-danger" *ngIf="value === 'ALTA'"></i>
                    <i class="fas fa-exclamation-circle text-warning" *ngIf="value === 'MEDIA'"></i>
                    <i class="fas fa-exclamation-circle text-success" *ngIf="value === 'BAJA'"></i>
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!(rowCount / pageSize > 1)"
                    (change)="table.onFooterPage($event)">
                </datatable-pager>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
</div>