<div class="mb-5">
  <div class="row mb-3 ml-3">
    <div class="row title">
      <h1>{{ title }}</h1>
    </div>
    <!--
    <div class="row contenido">
      <div class="col-btn-custom">
        <button
          type="button"
          class="btn-add mr-2"
          [routerLink]="['/solicitud/nueva']"
          routerLinkActive="router-link-active"
        >
          AGREGAR
        </button>
      </div>
      <div class="search-box-container">
        <input type="text" placeholder="Buscar..." (keyup)="find($event)" />
      </div>
    </div>-->
  </div>

  <div class="table-wrapper" #tableWrapper>
    <ngx-datatable
      #table
      ngx-resize-watcher
      class="bootstrap"
      [rows]="requests"
      [headerHeight]="30"
      rowHeight="auto"
      [loadingIndicator]="true"
      [footerHeight]="60"
      [scrollbarH]="true"
      [columnMode]="ColumnMode.force"
      [selectionType]="SelectionType.checkbox"
      [externalPaging]="true"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      (page)="getPage($event)"
    >
      <ngx-datatable-column
        name="ACCIONES"
        [canAutoResize]="true"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <p class="header-text-start">{{ column.name }}</p>
        </ng-template>
        <ng-template
          let-row="row"
          let-expanded="expanded"
          let-value="value"
          ngx-datatable-cell-template
        >
          <div class="text-center">
            <table>
              <tr>
                <td>
                  <fa-icon
                    [icon]="faEye"
                    type="button"
                    class="btn-outline-show rounded p-1 mr-1"
                    [routerLink]="['/solicitud/' + row['id']]"
                    routerLinkActive="router-link-active"
                  >
                  </fa-icon>
                </td>
                <td>
                  <fa-icon
                    [icon]="faPen"
                    type="button"
                    class="btn-outline-edit rounded p-1 mr-1"
                    [routerLink]="['/solicitud/form/', { idS: row['id'] }]"
                    routerLinkActive="router-link-active"
                    *ngIf="
                      row['status'] == 'BORRADOR' ||
                      row['status'] == 'RECHAZADA'
                    "
                  >
                  </fa-icon>
                </td>
                <td>
                  <fa-icon
                    [icon]="faTrash"
                    type="button"
                    class="btn-outline-danger rounded p-1 pr-2 pl-2"
                    (click)="delete(row['id'])"
                    *ngIf="row['status'] == 'BORRADOR'"
                  >
                  </fa-icon>
                </td>
              </tr>
            </table>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false">
        <ng-template ngx-datatable-header-template >
          <span>NO. SOLICITUD</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          #&nbsp;{{row.id}}
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column
        name="TIPO DE SOLICITUD"
        headerClass="header-text-start"
        prop="requestType.description"
        [sortable]="false"
      ></ngx-datatable-column>

      <ngx-datatable-column
        name="NOMBRE DEL PROYECTO"
        prop="projectName"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <p class="header-text-start">{{ column.name }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="FECHA DE CREACIÓN"
        prop="createdDate"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <p class="header-text-start">{{ column.name }}</p>
        </ng-template>

        <ng-template
          let-row="row"
          let-expanded="expanded"
          let-value="value"
          ngx-datatable-cell-template
        >
          <div class="">
            {{ value | date: "medium" }}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        *ngIf="status != STATUS_DRAFT"
        name="ESTADO"
        prop="status"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <p class="header-text-start">{{ column.name }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="PRIORIDAD"
        prop="priority"
        [canAutoResize]="true"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <p class="header-text-center">{{ column.name }}</p>
        </ng-template>
        <ng-template
          let-row="row"
          let-expanded="expanded"
          let-value="value"
          ngx-datatable-cell-template
        >
          <div class="text-center">
            <i
              class="fas fa-exclamation-triangle text-danger"
              *ngIf="value === 'ALTA'"
            ></i>
            <i
              class="fas fa-exclamation-triangle text-warning"
              *ngIf="value === 'MEDIA'"
            ></i>
            <i
              class="fas fa-exclamation-triangle text-success"
              *ngIf="value === 'BAJA'"
            ></i>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
        >
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!(rowCount / pageSize > 1)"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
