<p *ngIf="videos == undefined">No se encontró ningun video</p>
<h2>Videos</h2>
<button
  class="btn btn-primary btn-sm mb-3"
  role="button"
  [routerLink]="['/ayuda/configuracion/nuevo-video']"
  routerLinkActive="router-link-active"
  *ngIf="
    roleService.hasRole('ROLE_ADMIN') ||
    roleService.hasRole('ROLE_ADMINFUNCIONAL')
  "
>
  Agregar
</button>

<br />
<div class="d-flex flex-wrap justify-content-start">
  <div class="rounded card mr-1 mb-5 flex-baseline" *ngFor="let video of videos">
    <div class="card-body bg-files rounded text-center">
      <div class="bg-white py-1 pt-5 pb-5 mb-2">
        <fa-icon
          [icon]="faPlay"
          type="button"
          class="btn-outline-show rounded p-3"
          [routerLink]="['/ayuda/video/' + video.id]"
          routerLinkActive="router-link-active"
        >
        </fa-icon>
      </div>

      <h5 class="text-primary-1 body-text-start">{{ video.name }}</h5>
      <p class="body-text-start">
        Subido por: <br />
        {{ video.createdBy }} <br />
        El: {{ video.createdDate | date: "medium" }}
      </p>
      <div
        *ngIf="
          roleService.hasRole('ROLE_ADMIN') ||
          roleService.hasRole('ROLE_ADMINFUNCIONAL')
        "
      >
        <fa-icon
          [icon]="faPen"
          type="button"
          class="btn-outline-edit rounded p-1 mr-1"
          [routerLink]="['/ayuda/configuracion/edit-video/' + video.id]"
          routerLinkActive="router-link-active"
        >
        </fa-icon>
        <fa-icon
          [icon]="faTrash"
          type="button"
          class="btn-outline-danger rounded p-1 pr-2 pl-2"
          (click)="delete(video.id)"
        >
        </fa-icon>
      </div>
    </div>
  </div>
</div>
