<div class="mb-5">
  <div class="row mb-3 ml-3">
    <div class="row title">
      <h1>{{ title }}</h1>
    </div>
    <div class="row contenido">
      <div class="col-btn-custom">
        <button
          type="button"
          class="btn-add mr-2"
          [routerLink]="['/departamento-interno-om/form']"
          routerLinkActive="router-link-active"
        >
          AGREGAR
        </button>
      </div>
      <div class="search-box-container">
        <input type="text" placeholder="Buscar..." (keyup)="find($event)" />
      </div>
    </div>
  </div>

  <ngx-datatable
    #table
    ngx-resize-watcher
    class="bootstrap"
    [rows]="departamentosInternos"
    [headerHeight]="30"
    [rowHeight]="50"
    [limit]="10"
    [footerHeight]="60"
    [scrollbarH]="true"
    [columnMode]="ColumnMode.force"
    [selectionType]="SelectionType.checkbox"
  >
    <ngx-datatable-column
      name="ACCIONES"
      [canAutoResize]="false"
      [sortable]="false"
    >
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="header-text-center">{{ column.name }}</p>
      </ng-template>
      <ng-template
        let-row="row"
        let-expanded="expanded"
        let-value="value"
        ngx-datatable-cell-template
      >
        <div class="container text-center">
          <fa-icon
            [icon]="faEye"
            type="button"
            class="btn-outline-show rounded p-1 mr-1"
            (click)="show(row['id'])"
            routerLinkActive="router-link-active"
          >
          </fa-icon>
          <fa-icon
            [icon]="faPen"
            type="button"
            class="btn-outline-edit rounded p-1 mr-1"
            [routerLink]="['/departamento-interno-om/form/' + row['id']]"
            routerLinkActive="router-link-active"
          >
          </fa-icon>
          <fa-icon
            [icon]="faTrash"
            type="button"
            class="btn-outline-danger rounded p-1 pr-2 pl-2"
            (click)="delete(row['id'])"
          >
          </fa-icon>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="NOMBRE DEL DEPARTAMENTO"
      prop="name"
      [sortable]="false"
    >
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="header-text-start">{{ column.name }}</p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="USUARIO CREADOR"
      prop="createdBy"
      [sortable]="false"
    >
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="header-text-start">{{ column.name }}</p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-selectedCount="selectedCount"
        let-curPage="curPage"
        let-offset="offset"
      >
        <datatable-pager
          [pagerLeftArrowIcon]="'datatable-icon-left'"
          [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'"
          [pagerNextIcon]="'datatable-icon-skip'"
          [page]="curPage"
          [size]="pageSize"
          [count]="rowCount"
          [hidden]="!(rowCount / pageSize > 1)"
          (change)="table.onFooterPage($event)"
        >
        </datatable-pager>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>

<!-- Show Modal -->
<div
  class="modal fade"
  id="ShowModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">
          DETALLE DEPARTAMENTOS INTERNOS
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="border-card">
          <div class="row mx-auto">
            <div class="column">
              <label for="name">Nombre del departamento:</label>
            </div>
            <div class="column ml-4">
              <p>
                <strong>{{ departamentoInterno.name }}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
