<div class="row mb-3">
  <button
    class="btn btn-secondary btn-sm shadow-sm"
    role="button"
    (click)="return()"
  >
    <i class="fas fa-arrow-circle-left"></i> Regresar
  </button>
</div>
<div *ngIf="request.id != null">
  <div class="row">
    <div
      class="col-sm-12 col-md-5 mr-md-3 col-lg-5 mr-lg-1 col-xl-5 mr-xl-3 mb-3 border-card"
      *ngIf="show == true"
    >
      <h1 class="body-text-start">INFORMACIÓN DE SOLICITUD</h1>
      <div *ngIf="request != null">
        <div class="form-row">
          <div class="col">
            <label>Nombre del Proyecto</label>
            <p class="answer">{{ request.projectName }}</p>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <label>Aplicación</label>
            <p class="answer">{{ request.applicationSolution }}</p>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label>Project Manager/Tech Leader</label>
            <p class="answer" *ngIf="request.projectManager != undefined">
              {{ request.projectManager }}
            </p>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label>Contacto de Seguimiento</label>
            <p class="answer" *ngIf="request.followUpContact != undefined">
              {{ request.followUpContact }}
            </p>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label>Departamento Requirente</label>
            <p
              class="answer"
              *ngIf="request.departamentoRequerimiento != undefined"
            >
              {{ request.departamentoRequerimiento.name }}
            </p>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label>Departamento de Soporte</label>
            <p class="answer" *ngIf="request.departamentoSoporte != undefined">
              {{ request.departamentoSoporte.name }}
            </p>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label>Prioridad</label>
            <p class="answer">{{ request.priority }}</p>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label>Cantidad de Servidores</label>
            <p class="answer">{{ request.numberOfServers }}</p>
          </div>
        </div>
      </div>

      <fa-icon
        style="position: absolute !important; margin-top: 8px !important"
        [icon]="faServer"
      >
      </fa-icon>
      <tabset [justified]="true">
        <tab
          *ngFor="let tabz of tabs"
          [heading]="tabz.title"
          [active]="tabz.active"
          (selectTab)="tabz.active = true; selectTab(tabz)"
          (deselect)="tabz.active = false"
          [disabled]="tabz.disabled"
          [removable]="tabz.removable"
          [customClass]="tabz.customClass"
        >
          {{ tabz?.content }}
        </tab>
      </tabset>

      <div *ngIf="request.fields != undefined">
        <div class="form-group" *ngFor="let item of request.fields">
          <label
            *ngIf="
              item.engineerField == false && item.serverNumber == selectedServer
            "
            >{{ item.title }}
          </label>

          <p
            class="answer"
            *ngIf="
              item.fieldType == 'FLOATNUMBER' &&
              item.engineerField == false &&
              item.serverNumber == selectedServer
            "
          >
            {{ item.floatValue | replaceNullWithText }}
          </p>

          <p
            class="answer"
            *ngIf="
              item.fieldType == 'INTNUMBER' &&
              item.engineerField == false &&
              item.serverNumber == selectedServer
            "
          >
            {{ item.integerValue | replaceNullWithText }}
          </p>

          <p
            class="answer"
            *ngIf="
              item.fieldType == 'DATE' &&
              item.engineerField == false &&
              item.serverNumber == selectedServer
            "
          >
            {{ item.dateValue | date: "medium" | replaceNullWithText }}
          </p>

          <p
            class="answer"
            *ngIf="
              item.fieldType == 'TEXT' &&
              item.engineerField == false &&
              item.serverNumber == selectedServer
            "
          >
            {{ item.textValue | replaceNullWithText }}
          </p>

          <div
            class="mt-2 small"
            *ngIf="
              item.fieldType == 'FILE' &&
              item.engineerField == false &&
              item.serverNumber == selectedServer &&
              item.isRequiredConditional != true
            "
          >
            <p class="answer" *ngIf="item.refFileValue == null">
              El usuario no subió ningún archivo
            </p>
            <button
              class="btn btn-primary btn-sm mr-2 mb-2"
              *ngIf="item.refBaseFile != null"
              (click)="getBaseFile(item)"
            >
              <i class="fas fa-download"></i> Archivo base
            </button>
            <button
              class="btn btn-secondary btn-sm mb-2"
              *ngIf="item.refFileValue != null"
              (click)="getFile(item)"
            >
              <i class="fas fa-file"></i> Archivo Subido
            </button>
          </div>

          <p
            class="answer"
            *ngIf="
              item.fieldType == 'SELECT' &&
              item.engineerField == false &&
              item.multiSelect != true &&
              item.serverNumber == selectedServer
            "
          >
            {{ item.textValue | replaceNullWithText }}
          </p>

          <div
            class="answer"
            *ngIf="
              item.fieldType == 'SELECT' &&
              item.engineerField == false &&
              item.multiSelect == true &&
              item.serverNumber == selectedServer
            "
          >
            <ul>
              <ol *ngFor="let selected of item.multiSelectValues">
                <p class="mb-0" *ngIf="selected.selected == true">{{
                  selected.title | replaceNullWithText
                }}</p>
              </ol>
            </ul>
          </div>

          <div
            class="p-3"
            *ngIf="
              item.fieldType == 'DINAMIC' &&
              item.engineerField == false &&
              item.serverNumber == selectedServer
            "
            [innerHTML]="item.dinamicValue"
          ></div>

          <!--------------------------------------------------------------------------------------------->
          <!--ARCHIVO CONDICIONAL ----------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <div
            *ngIf="
              item.fieldType == 'FILE' &&
              item.engineerField == false &&
              item.serverNumber == selectedServer &&
              item.isRequiredConditional == true
            "
          >
            <p class="answer" *ngIf="item.required == true">SÍ</p>
            <p class="answer" *ngIf="item.required == false">NO</p>

            <div *ngIf="item.required == true">
              <label>{{ item.secondaryTitle }}</label>
              <p class="answer" *ngIf="item.refFileValue == null">
                El usuario no ha subido el archivo
              </p>
              <div class="mt-2 small">
                <button
                  class="btn btn-primary btn-sm mr-2"
                  *ngIf="item.refBaseFile != null"
                  (click)="getBaseFile(item)"
                >
                  <i class="fas fa-download"></i> Archivo base
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  *ngIf="item.refFileValue != null"
                  (click)="getFile(item)"
                >
                  <i class="fas fa-file"></i> Archivo actual
                </button>
              </div>
            </div>
          </div>
          <!--------------------------------------------------------------------------------------------->

          <pre class="d-none"> {{ item | json }} </pre>
        </div>
      </div>
    </div>

    <div class="col border-card mb-3">
      <h1 class="body-text-start">INFORMACIÓN FALTANTE (INGENIERO)</h1>
      <fa-icon
        style="position: absolute !important; margin-top: 8px !important"
        [icon]="faServer"
      >
      </fa-icon>
      <tabset [justified]="true">
        <tab
          *ngFor="let tabz of tabs"
          [heading]="tabz.title"
          [active]="tabz.active"
          (selectTab)="tabz.active = true; selectTab(tabz)"
          (deselect)="tabz.active = false"
          [disabled]="tabz.disabled"
          [removable]="tabz.removable"
          [customClass]="tabz.customClass"
        >
          {{ tabz?.content }}
        </tab>
      </tabset>

      <div *ngIf="request.fields != undefined">
        <div class="form-group" *ngFor="let item of request.fields">
          <!--------------------------------------------------------------------------------------------->
          <!--ETIQUETA DEL CAMPO------------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <label
            *ngIf="
              item.engineerField == true && item.serverNumber == selectedServer
            "
            >{{ item.title
            }}<span class="text-primary-1" *ngIf="item.required == true"
              >*</span
            >
          </label>

          <!--------------------------------------------------------------------------------------------->
          <!--CAMPO DE TIPO NÚMERO CON DECIMALES--------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <input
            class="form-control"
            type="number"
            step="0.01"
            [(ngModel)]="item.floatValue"
            *ngIf="
              item.fieldType == 'FLOATNUMBER' &&
              item.engineerField == true &&
              item.serverNumber == selectedServer
            "
            (blur)="validateFields()"
          />

          <!--------------------------------------------------------------------------------------------->
          <!--CAMPO DE TIPO NÚMERO ENTERO---------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <input
            class="form-control"
            type="number"
            *ngIf="
              item.fieldType == 'INTNUMBER' &&
              item.engineerField == true &&
              item.serverNumber == selectedServer &&
              item.isRequestId != true
            "
            step="1"
            [(ngModel)]="item.integerValue"
            (blur)="validateFields()"
          />

          <!--------------------------------------------------------------------------------------------->
          <!--CAMPO DE TIPO FECHA------------------------------------------------------------------------>
          <!--------------------------------------------------------------------------------------------->
          <input
            class="form-control"
            type="text"
            *ngIf="
              item.fieldType == 'DATE' &&
              item.engineerField == true &&
              item.serverNumber == selectedServer
            "
            [(ngModel)]="item.dateValue"
            bsDatepicker
            [bsConfig]="{
              isAnimated: true,
              dateInputFormat: 'YYYY-MM-DD',
              containerClass: 'theme-dark-blue'
            }"
            [bsValue]="item.dateValue"
            (blur)="validateFields()"
          />

          <!--------------------------------------------------------------------------------------------->
          <!--CAMPO DE TIPO TEXTO------------------------------------------------------------------------>
          <!--------------------------------------------------------------------------------------------->
          <input
            class="form-control"
            type="text"
            *ngIf="
              item.fieldType == 'TEXT' &&
              item.engineerField == true &&
              item.serverNumber == selectedServer
            "
            [(ngModel)]="item.textValue"
            (blur)="validateFields()"
          />

          <!--------------------------------------------------------------------------------------------->
          <!--CAMPO DE TIPO ARCHIVO---------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <div
            *ngIf="
              item.fieldType == 'FILE' &&
              item.engineerField == true &&
              item.serverNumber == selectedServer &&
              item.isRequiredConditional != true
            "
          >
            <input
              class="form-control"
              type="file"
              (change)="selectFile($event, item)"
              [accept]="fileTypes"
              (blur)="validateFields()"
            />

            <div
              class="mt-2 small"
              *ngIf="
                item.fieldType == 'FILE' &&
                item.engineerField == true &&
                item.serverNumber == selectedServer
              "
            >
              <button
                class="btn btn-primary btn-sm mr-2 mb-2"
                *ngIf="item.refBaseFile != null"
                (click)="getBaseFile(item)"
              >
                <i class="fas fa-download"></i> Archivo base
              </button>
              <button
                class="btn btn-secondary btn-sm mb-2"
                *ngIf="item.refFileValue != null"
                (click)="getFile(item)"
              >
                <i class="fas fa-file"></i> Archivo actual
              </button>
            </div>
          </div>
          <!--------------------------------------------------------------------------------------------->
          <!--CAMPO DE TIPO SELECT ---------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <ng-select
            class="custom mb-3"
            [addTag]="false"
            addTagText="Agregar"
            *ngIf="
              item.fieldType == 'SELECT' &&
              item.engineerField == true &&
              item.multiSelect != true &&
              item.serverNumber == selectedServer
            "
            [items]="item.multiSelectValues"
            bindLabel="title"
            bindValue="title"
            [searchable]="true"
            [(ngModel)]="item.textValue"
            (blur)="validateFields()"
          >
          </ng-select>

          <!--------------------------------------------------------------------------------------------->
          <!--CAMPO DE TIPO MULTISELECT------------------------------------------------------------------>
          <!--------------------------------------------------------------------------------------------->
          <div
            *ngIf="
              item.fieldType == 'SELECT' &&
              item.engineerField == true &&
              item.multiSelect == true &&
              item.serverNumber == selectedServer
            "
          >
            <div
              class="custom-control custom-checkbox my-1 mr-sm-2 mb-2"
              *ngFor="let ms of item.multiSelectValues"
            >
              <input
                type="checkbox"
                class="custom-control-input"
                id="opt_{{ ms.title }}"
                [(ngModel)]="ms.selected"
              />
              <label class="custom-control-label" for="opt_{{ ms.title }}">{{
                ms.title
              }}</label>
            </div>

            <div *ngIf="item.permittedAdd == true">
              <label>Agregar...</label><br />
              <div class="d-inline-flex">
                <input
                  class="form-control mr-2"
                  type="text"
                  [(ngModel)]="newOption"
                  (blur)="validateFields()"
                />
                <button
                  type="button"
                  class="btn btn-outline-show rounded p-1 mr-1"
                  (click)="addOption(item)"
                  [disabled]="newOption == ''"
                >
                  <fa-icon [icon]="faPlus"> </fa-icon>
                </button>
              </div>
            </div>
          </div>

          <!--------------------------------------------------------------------------------------------->
          <!--CAMPO DE TIPO DINÁMICO--------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <editor
            apiKey="1rmilf844n4ypp5zin3nrz8nkbehgs89l2s9vwnp8slwb7ms"
            [init]="{
              height: 500,
              menubar: false,
              plugins: [
                'advlist autolink lists link image charmap print',
                'preview anchor searchreplace visualblocks code',
                'fullscreen insertdatetime media table paste',
                'help wordcount'
              ],
              toolbar:
                'undo redo | formatselect fontselect | bold italic forecolor | \
        alignleft aligncenter alignright alignjustify | \
        bullist numlist outdent indent | table | help '
            }"
            *ngIf="
              item.fieldType == 'DINAMIC' &&
              item.engineerField == true &&
              item.serverNumber == selectedServer
            "
            [(ngModel)]="item.dinamicValue"
            allowedEvents="onBlur,onKeyUp"
            (blur)="validateFields()"
            (onKeyUp)="validateFields()"
          >
          </editor>

          <!--------------------------------------------------------------------------------------------->
          <!--CAMPO DE TIPO SOLICITUD DE REFERENCIA------------------------------------------------------>
          <!--------------------------------------------------------------------------------------------->
          <div
            *ngIf="
              item.fieldType == 'INTNUMBER' &&
              item.engineerField == true &&
              item.isRequestId == true &&
              item.serverNumber == selectedServer
            "
          >
            <div class="custom-control custom-switch mb-2">
              <input
                type="checkbox"
                class="custom-control-input"
                id="b"
                [(ngModel)]="item.booleanValue"
              />
              <label class="custom-control-label" for="b"></label>
            </div>

            <div
              *ngIf="item.booleanValue != null && item.booleanValue == false"
            >
              <button
                class="btn btn-primary btn-sm"
                (click)="openRequestFormModal(item)"
                *ngIf="item.idRequestRefNew == null"
              >
                Crear la solicitud
              </button>
              <br />

              <div class="answer" *ngIf="item.idRequestRefNew != null">
                <label>{{ item.secondaryTitle }}</label>
                <p class="body-text-start">
                  # {{ item.idRequestRefNew }}
                  {{ item.statusOfRequestNew }} (Solicitud generada)
                </p>
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <fa-icon
                          [icon]="faEye"
                          type="button"
                          class="btn-outline-show rounded p-1 mr-1"
                          (click)="openRequestModal(item.idRequestRefNew)"
                        >
                        </fa-icon>
                      </td>
                      <td>
                        <fa-icon
                          [icon]="faFilePdf"
                          type="button"
                          class="btn-outline-danger rounded p-1 mr-1"
                          (click)="getReport(item.idRequestRefNew)"
                        >
                        </fa-icon>
                      </td>
                      <td>
                        <fa-icon
                          [icon]="faPen"
                          type="button"
                          class="btn-outline-edit rounded p-1 mr-1"
                          (click)="openRequestFormModal(item)"
                          *ngIf="item.statusOfRequestNew == 'ASIGNADA'"
                        >
                        </fa-icon>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div *ngIf="item.booleanValue != null && item.booleanValue == true">
              <label>{{ item.secondaryTitle }}</label
              ><span class="text-primary-1" *ngIf="item.required == true"
                >*</span
              >

              <ng-select
                class="custom mb-3"
                [addTag]="false"
                [items]="reqs | async"
                [trackByFn]="trackByFn"
                [minTermLength]="1"
                bindLabel="id"
                bindValue="id"
                [loading]="reLoading"
                [typeahead]="reqInput$"
                [searchable]="true"
                [(ngModel)]="item.idRequestExist"
                typeToSearchText="Escriba el número de solicitud o una dirección IP..."
                notFoundText="No se encontró ninguna solicitud..."
                (blur)="validateFields()"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index">
                  <fa-icon
                    [icon]="faEye"
                    type="button"
                    class="btn-outline-show rounded mr-1"
                    (click)="openRequestModal(item.id)"
                  >
                  </fa-icon>
                  <b>{{ item.id }}</b> - {{ item.requestType.description }} -
                  {{ item.projectName }} ({{ item.applicationSolution }})
                </ng-template>
              </ng-select>

              <div
                class="d-flex align-content-start"
                *ngIf="item.idRequestExist != null"
              >
                <fa-icon
                  [icon]="faEye"
                  type="button"
                  class="btn-outline-show rounded mr-2"
                  (click)="openRequestModal(item.idRequestExist)"
                >
                </fa-icon>

                <fa-icon
                  [icon]="faFilePdf"
                  type="button"
                  class="btn-outline-danger rounded mr-2"
                  (click)="getReport(item.idRequestExist)"
                >
                </fa-icon>

                # {{ item.idRequestExist }}
              </div>
            </div>
          </div>

          <pre class="d-none" *ngIf="item.engineerField == true">
            {{ item | json }} </pre
          >
          <!--------------------------------------------------------------------------------------------->
          <!--CAMPO DE ARCHIVO CONDICIONAL -------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <div
            *ngIf="
              item.fieldType == 'FILE' &&
              item.engineerField == true &&
              item.serverNumber == selectedServer &&
              item.isRequiredConditional == true
            "
          >
            <div class="custom-control custom-switch mb-2">
              <input
                type="checkbox"
                class="custom-control-input"
                id="{{ item.id }}"
                [(ngModel)]="item.required"
              />
              <label class="custom-control-label" for="{{ item.id }}"></label>
            </div>

            <div *ngIf="item.required == true">
              <label>{{ item.secondaryTitle }}</label
              ><span class="text-primary-1">*</span>
              <input
                class="form-control"
                type="file"
                (change)="selectFile($event, item)"
                [accept]="fileTypes"
              />

              <div class="mt-2 small">
                <button
                  class="btn btn-primary btn-sm mr-2"
                  *ngIf="item.refBaseFile != null"
                  (click)="getBaseFile(item)"
                >
                  <i class="fas fa-download"></i> Archivo base
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  *ngIf="item.refFileValue != null"
                  (click)="getFile(item)"
                >
                  <i class="fas fa-file"></i> Archivo actual
                </button>
              </div>
            </div>
          </div>

          <!--------------------------------------------------------------------------------------------->
          <!--CAMPO NO VÁLIDO, ETIQUETA------------------------------------------------------------------>
          <!--------------------------------------------------------------------------------------------->
          <div
            *ngIf="
              item.engineerField == true &&
              item.valid == false &&
              item.serverNumber == selectedServer &&
              item.required == true &&
              validate == true
            "
          >
            <div class="small text-danger mb-3 mt-0">
              <fa-icon [icon]="faExclamationTriangle"></fa-icon> ¡Campo no
              válido!
            </div>
          </div>
        </div>
        <p class="font-italic text-primary-1 body-text-center small">
          Los campos marcados con * son obligatorios...
        </p>
      </div>

      <div
        class="d-flex justify-content-center mb-3"
        *ngIf="request.status != 'COMPLETADA'"
      >
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <button class="btn btn-primary btn-sm btn-block" (click)="save()">
            Guardar
          </button>
        </div>
      </div>

      <div
        class="d-flex justify-content-center border-card"
        *ngIf="request.status != 'COMPLETADA'"
      >
        <h1 class="header-text-center mt-1">Completar Solicitud</h1>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <button
            class="btn btn-tertiary btn-sm btn-block"
            (click)="preComplete()"
          >
            <span class="header-text-center">Completar Solicitud</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
