<div class="mb-5">
  <div class="row mb-3">
    <div class="col-12">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <ngx-datatable
    #table
    ngx-resize-watcher
    class="bootstrap"
    [rows]="groups"
    [headerHeight]="30"
    rowHeight="auto"
    [limit]="10"
    [footerHeight]="60"
    [scrollbarH]="true"
    [columnMode]="ColumnMode.force"
    [selectionType]="SelectionType.checkbox"
  >
    <ngx-datatable-column name="ACCIONES" [sortable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="header-text-center">{{ column.name }}</p>
      </ng-template>
      <ng-template
        let-row="row"
        let-expanded="expanded"
        let-value="value"
        ngx-datatable-cell-template
      >
        <div class="container text-center">
          <fa-icon
            [icon]="faPen"
            type="button"
            class="btn-outline-edit rounded p-1 mr-1"
            [routerLink]="['/configuracion-grupos/form/' + row['id']]"
            routerLinkActive="router-link-active"
          >
          </fa-icon>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="GRUPO EN AZURE" prop="name" [sortable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="header-text-start">{{ column.name }}</p>
      </ng-template>

      <ng-template
        let-row="row"
        let-expanded="expanded"
        let-value="value"
        ngx-datatable-cell-template
      >
        <div class="body-text-start">
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="ROL ASIGNADO"
      prop="roleToAssign"
      [sortable]="false"
    >
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="header-text-start">{{ column.name }}</p>
      </ng-template>
      <ng-template
        let-row="row"
        let-expanded="expanded"
        let-value="value"
        ngx-datatable-cell-template
      >
        <div class="body-text-start">
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="ÚLTIMA MODIFICACIÓN POR"
      prop="lastModifiedBy"
      [sortable]="false"
    >
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="header-text-start">{{ column.name }}</p>
      </ng-template>
      <ng-template
        let-row="row"
        let-expanded="expanded"
        let-value="value"
        ngx-datatable-cell-template
      >
        <div class="body-text-start">
          {{ value }}
        </div>
      </ng-template></ngx-datatable-column
    >

    <ngx-datatable-column
    name="FECHA DE MODIFICACIÓN"
    prop="createdDate"
    headerClass="text-center"
  >
    <ng-template
      let-row="row"
      let-expanded="expanded"
      let-value="value"
      ngx-datatable-cell-template
    >
      <div class="container text-center" style="margin-left: -20px !important;">
        {{ row["lastModifiedDate"] | date: "dd/MM/yyyy h:mm a" }}
      </div>
    </ng-template>
  </ngx-datatable-column>


    <!--ngx-datatable-column name="FECHA ÚLTIMA MODIFICACIÓN" [sortable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="header-text-rigth">{{ column.name }}</p>
      </ng-template>
      <ng-template
        let-row="row"
        let-expanded="expanded"
        let-value="value"
        ngx-datatable-cell-template
      >
        <div class="body-text-center">
          {{ row["lastModifiedDate"] | date: "dd/MM/yyyy h:mm a" }}
        </div>
      </ng-template>
    </ngx-datatable-column-->

    <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-selectedCount="selectedCount"
        let-curPage="curPage"
        let-offset="offset"
      >
        <datatable-pager
          [pagerLeftArrowIcon]="'datatable-icon-left'"
          [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'"
          [pagerNextIcon]="'datatable-icon-skip'"
          [page]="curPage"
          [size]="pageSize"
          [count]="rowCount"
          [hidden]="!(rowCount / pageSize > 1)"
          (change)="table.onFooterPage($event)"
        >
        </datatable-pager>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>
