<div class="mb-5">
    <div class="row mb-3 ml-3">
        <div class="row title">
            <h1>HISTORIAL DE SOLICITUDES ING </h1>
        </div>
    </div>

    <!--p>
    In this example we are loading many items but only ~30 of them are rendered in the DOM.
    This allows to load as big data as you want.
</p-->
    <!--   [loading]="loading"            (scroll)="onScroll($event)" (scrollToEnd)="onScrollToEnd()" -->

    <!--button (click)="getSolicitantes()">Solicitantes</button-->

    <div class="row mb-3 ml-1 custom-border" style="background-color: #FFFFFF !important;">
        <div style="width: 100% !important">
            <div class="font-filtros" style="margin-left: 10px !important; margin-top: 10px !important">
                <i class="fas fa-filter" style="display: inline-block !important"> </i> Filtros
            </div>
        </div>

        <div class="content-rows mb-3" *ngIf="IE == false">
            <div class="general-1" style="">
                <div class="custom-columna-1">
                    <label>Estado de Solicitud</label>
                    <ng-select class="custom-columna-1-input" [items]="options" bindLabel="description" bindValue="value" [searchable]="false" [(ngModel)]="optionSelectEstado" placeholder="Seleccione ..." (change)="filtrar('estado_solicitud')">
                    </ng-select>
                </div>
                <div class="custom-columna-21">
                    <label style="width: 100% !important">Fecha</label>
                    <input type="text" class="form-control custom-columna-21-input" placeholder="Fecha Inicial" [(ngModel)]="fecha_inicial" (bsValueChange)="filtrar('fecha_inicial')" style="display: inline-block !important" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', clearPosition: 'right'}"
                        (keyup)="onKeyUpFecha($event, 'fecha_inicial')" (keydown.backspace)="onKeydown($event, 'fecha_inicial')" />
                </div>
                <div class="custom-columna-22">
                    <label style="width: 100% !important">&nbsp;</label>
                    <input type="text" class="form-control custom-columna-22-input" placeholder="Fecha Final" [(ngModel)]="fecha_final" (bsValueChange)="filtrar('fecha_final')" style="display: inline-block !important" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue'}"
                        (keyup)="onKeyUpFecha($event, 'fecha_final')" (keydown.backspace)="onKeydown($event, 'fecha_final')" />
                </div>
                <div class="custom-columna-3">
                    <label>Nombre del Solicitante</label>

                    <ng-select [items]="ArraySolicitantes" [virtualScroll]="true" (keyup)="filtrar('nombre_solicitante')" (change)="filtrar('nombre_solicitante')" [(ngModel)]="nameSolicitante" bindLabel="displayName" bindValue="email" placeholder="Buscar... " appendTo="body">
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{ item.displayName }}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="content-rows mb-3" *ngIf="IE == true">
            <table>
                <tr>
                    <td>
                        <label>Estado de Solicitud</label>
                        <ng-select class="custom-columna-1-input" [items]="options" bindLabel="description" bindValue="value" [searchable]="false" [(ngModel)]="optionSelectEstado" placeholder="Seleccione ..." (change)="filtrar('estado_solicitud')">
                        </ng-select>
                    </td>
                    <td style="text-align: center !important;">
                        <label style="width: 100% !important">Fecha</label>
                        <input type="text" class="form-control custom-columna-21-input" placeholder="Fecha Inicial" [(ngModel)]="fecha_inicial" (bsValueChange)="filtrar('fecha_inicial')" style="display: inline-block !important" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', clearPosition: 'right'}"
                            (keyup)="onKeyUpFecha($event, 'fecha_inicial')" (keydown.backspace)="onKeydown($event, 'fecha_inicial')" />
                    </td>
                    <td style="text-align: center !important;">
                        <label style="width: 100% !important">&nbsp;</label>
                        <input type="text" class="form-control custom-columna-22-input" placeholder="Fecha Final" [(ngModel)]="fecha_final" (bsValueChange)="filtrar('fecha_final')" style="display: inline-block !important" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue'}"
                            (keyup)="onKeyUpFecha($event, 'fecha_final')" (keydown.backspace)="onKeydown($event, 'fecha_final')" />
                    </td>
                    <td>
                        <label>Nombre del Solicitante</label>

                        <ng-select style="margin-left: 10px !important;" [items]="ArraySolicitantes" [virtualScroll]="true" (keyup)="filtrar('nombre_solicitante')" (change)="filtrar('nombre_solicitante')" [(ngModel)]="nameSolicitante" bindLabel="displayName" bindValue="email"
                            placeholder="Buscar... " appendTo="body">
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                {{ item.displayName }}
                            </ng-template>
                        </ng-select>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <ngx-datatable #table ngx-resize-watcher class="bootstrap" [rows]="AllRequest" [headerHeight]="30" rowHeight="auto" [loadingIndicator]="true" [footerHeight]="60" [scrollbarH]="scrollBarHorizontal" [columnMode]="ColumnMode.force" [selectionType]="SelectionType.checkbox"
        [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">
        <ng-template let-column="column" ngx-datatable-header-template>
            <p class="body-text-center">{{ column.createdBy }}</p>
        </ng-template>
        <ngx-datatable-column name="ACCIONES" [width]="180" [canAutoResize]="false" [sortable]="false">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p>{{ column.name }}</p>
            </ng-template>
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <div>
                    <table>
                        <tr>
                            <td>
                                <fa-icon [icon]="faEye" type="button" class="btn-outline-show rounded p-1 mr-1" [routerLink]="['/solicitud/' + row['id']]" routerLinkActive="router-link-active">
                                </fa-icon>
                            </td>
                            <i type="button" class="fas fa-pencil-square-o btn-outline-edit rounded p-1 ml-1 mr-1" [routerLink]="['/solicitud/form/engineer/' + row['id']]" routerLinkActive="router-link-active" *ngIf="row['status'] == 'ASIGNADA' || row['status'] == 'ENVIADA'"></i>
                            <i type="button" class="fas fa-pencil-square-o btn-outline-edit rounded p-1 ml-1 mr-1" *ngIf="row['status'] == 'COMPLETADA' || row['status'] == 'RECHAZADA'" style="opacity: 0.6; cursor: not-allowed; color: gray"></i>
                            <td>
                                <fa-icon [icon]="faFilePdf" type="button" class="btn-outline-danger rounded p-1 pr-2 pl-2" (click)="getReport(row)" *ngIf="IE == false">
                                </fa-icon>
                                <fa-icon [icon]="faFilePdf" type="button" class="btn-outline-danger rounded p-1 pr-2 pl-2" (click)="getReportIE(row)" *ngIf="IE == true">
                                </fa-icon>
                            </td>
                        </tr>
                    </table>
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false">
            <ng-template ngx-datatable-header-template>
                <span>NO. SOLICITUD</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                #&nbsp;{{ row.id }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="TIPO DE SOLICITUD" prop="requestType.description" [sortable]="false">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header-text-start">{{ column.name }}</p>
            </ng-template>
        </ngx-datatable-column>

        <!--ngx-datatable-column name="SOLICITUD" prop="projectName" [sortable]="false"></ngx-datatable-column-->

        <ngx-datatable-column [sortable]="false">
            <ng-template ngx-datatable-header-template>
                <span>SOLICITUD</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.projectName }}<span *ngIf="row.generatedEngineer == true">*</span>
            </ng-template>
        </ngx-datatable-column>

        <!--ngx-datatable-column [sortable]="false" name="ESTADO" prop="status"></ngx-datatable-column-->

        <ngx-datatable-column [sortable]="false">
            <ng-template ngx-datatable-header-template>
                <span>ESTADO</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.status }}
            </ng-template>
        </ngx-datatable-column>


        <!--ngx-datatable-column name="FECHA DE CREACIÓN" prop="createdDate" [sortable]="false" headerClass="header-text-center">
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <div class="header-text-center">
                    {{ value | date: "medium" }}
                </div>
            </ng-template>
        </ngx-datatable-column-->

        <ngx-datatable-column [sortable]="false">
            <ng-template ngx-datatable-header-template>
                <span>FECHA DE CREACIÓN</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.createdDate | date: "medium" }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!(rowCount / pageSize > 1)"
                    (change)="table.onFooterPage($event)">
                </datatable-pager>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>

    <div class="text-right small mr-1" *ngIf="this.AllRequest.length != 0">
        <p>* Solicitud generada en ingeniería
            <i class="fas fa-question-circle" type="button" popover="Las solicitudes marcadas con asterisco (*) fueron generadas por un ingeniero para poder completar una solicitud de expansión." popoverTitle="Información de la solicitud"></i>
        </p>
    </div>

</div>