.btn-custom-excel {
    width: 36px;
    height: 29px;
    background: #002E6D 0% 0% no-repeat padding-box;
    border: 0 !important;
    border-radius: 10px;
    opacity: 1;
}

.custom-border {
    border-radius: 9px;
    width: 99.5% !important;
    border: 2px solid #00C8FF;
}

.font-filtros {
    text-align: left !important;
    font: normal normal medium 15px/43px Roboto !important;
    letter-spacing: 0px !important;
    color: #002E6D !important;
    opacity: 1 !important;
}

.custom-select {
    width: 230px !important;
}

label {
    font-size: 12.5px !important;
}

.search-box-container::after {
    /*content: none !important;*/
    font-size: 13px;
}

.search-box-container::after {
    /*content: none !important;*/
    margin-top: -2px !important;
}

@media (max-width: 419.98px) {
    .col-custom-1 {
        width: 70px !important;
        margin-right: 35px !important;
        display: none !important;
    }
    .content-rows {
        display: block !important;
        margin-left: 10px !important;
        width: 100% !important;
        justify-content: start !important;
    }
    .general-1 {
        width: 100% !important;
    }
    .general-2 {
        width: 100% !important;
    }
    .custom-columna-1 {
        min-width: 130px !important;
        width: 95% !important;
        height: 100% !important;
        margin-right: 8px !important;
        display: block !important;
    }
    .custom-columna-21 {
        min-width: 65px !important;
        height: 100% !important;
        margin-right: 5px !important;
    }
    .custom-columna-22 {
        height: 100% !important;
        margin-right: 5px !important;
    }
    .custom-columna-3 {
        min-width: 130px !important;
        height: 100% !important;
        display: block !important;
        margin-right: 10px !important;
        width: 95% !important;
    }
    .custom-columna-4 {
        min-width: 130px !important;
        width: 95% !important;
        height: 100% !important;
        margin-right: 8px !important;
        display: block !important;
    }
    .custom-columna-5 {
        min-width: 130px !important;
        height: 100% !important;
        display: block !important;
        margin-right: 10px !important;
        width: 95% !important;
    }
    .custom-columna-6 {
        height: 100% !important;
        display: block !important;
    }
    .custom-columna-1-input {
        width: auto !important;
    }
    .custom-columna-21-input {
        width: 96% !important;
    }
    .custom-columna-22-input {
        width: 96% !important;
    }
    .custom-columna-3-input {
        width: 98% !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important;
    }
    .custom-columna-4-input {
        width: auto !important;
    }
    .custom-columna-5-input {
        width: auto !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important;
    }
    .custom-columna-6-input {
        width: auto !important;
    }
    .search-box-container {
        width: 100% !important;
    }
    .search-box-container input {
        width: 100% !important;
    }
}

@media (min-width: 420px) and (max-width: 532.98px) {
    .col-custom-1 {
        width: 70px !important;
        margin-right: 35px !important;
        display: none !important;
    }
    .content-rows {
        display: block !important;
        margin-left: 10px !important;
        width: 100% !important;
        justify-content: start !important;
    }
    .general-1 {
        width: 100% !important;
    }
    .general-2 {
        width: 100% !important;
    }
    .custom-columna-1 {
        min-width: 130px !important;
        width: 98% !important;
        height: 100% !important;
        display: inline !important;
    }
    .custom-columna-21 {
        width: 48% !important;
        display: inline-block;
    }
    .custom-columna-22 {
        width: 48% !important;
        display: inline-block;
    }
    .custom-columna-3 {
        min-width: 130px !important;
        height: 100% !important;
        display: block !important;
        margin-right: 10px !important;
        width: 95% !important;
    }
    .custom-columna-4 {
        min-width: 130px !important;
        width: 95% !important;
        height: 100% !important;
        margin-right: 8px !important;
        display: block !important;
    }
    .custom-columna-5 {
        min-width: 130px !important;
        height: 100% !important;
        display: block !important;
        margin-right: 10px !important;
        width: 95% !important;
    }
    .custom-columna-6 {
        height: 100% !important;
        display: block !important;
    }
    .custom-columna-1-input {
        width: 95% !important;
    }
    .custom-columna-21-input {
        width: 98% !important;
        max-width: 230px !important;
    }
    .custom-columna-22-input {
        width: 98% !important;
        max-width: 230px !important;
    }
    .custom-columna-3-input {
        width: 98% !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important;
    }
    .custom-columna-4-input {
        width: auto !important;
    }
    .custom-columna-5-input {
        width: auto !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important;
    }
    .custom-columna-6-input {
        width: auto !important;
    }
    .search-box-container {
        width: 100% !important;
    }
    .search-box-container input {
        width: 100% !important;
    }
}


/* -----------------------------------------------------------------*/

@media (min-width: 530px) and (max-width: 763.98px) {
    .col-custom-1 {
        width: 70px !important;
        margin-right: 35px !important;
        display: none !important;
    }
    .content-rows {
        display: block !important;
        margin-left: 10px !important;
        width: 100% !important;
        justify-content: start !important;
    }
    .general-1 {
        width: 100% !important;
    }
    .general-2 {
        width: 100% !important;
    }
    .custom-columna-1 {
        min-width: 130px !important;
        width: 32% !important;
        height: 100% !important;
        margin-right: 8px !important;
        display: inline-block !important;
    }
    .custom-columna-21 {
        width: 31% !important;
        display: inline-block;
    }
    .custom-columna-22 {
        width: 31% !important;
        display: inline-block;
    }
    .custom-columna-3 {
        min-width: 130px !important;
        height: 50% !important;
        margin-right: 10px !important;
        width: 47% !important;
        display: inline-block !important;
    }
    .custom-columna-4 {
        min-width: 130px !important;
        width: 46% !important;
        height: 100% !important;
        margin-right: 8px !important;
        display: inline-block !important;
    }
    .custom-columna-5 {
        min-width: 130px !important;
        height: 100% !important;
        display: inline-block !important;
        margin-right: 10px !important;
        width: 46% !important;
        display: inline-block !important;
    }
    .custom-columna-6 {
        height: 100% !important;
        display: block !important;
    }
    .custom-columna-1-input {
        width: 98% !important;
    }
    .custom-columna-21-input {
        width: 98% !important;
        max-width: 230px !important;
    }
    .custom-columna-22-input {
        width: 98% !important;
        max-width: 230px !important;
    }
    .custom-columna-3-input {
        width: 98% !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important;
    }
    .custom-columna-4-input {
        width: auto !important;
    }
    .custom-columna-5-input {
        width: auto !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important;
    }
    .custom-columna-6-input {
        width: auto !important;
    }
    .search-box-container {
        width: 100% !important;
    }
    .search-box-container input {
        width: 100% !important;
    }
}


/* -----------------------------------------------------------------*/

@media (min-width: 764px) and (max-width: 1203.98px) {
    .col-custom-1 {
        width: 70px !important;
        margin-right: 35px !important;
        display: none !important;
    }
    .content-rows {
        display: block !important;
        margin-left: 10px !important;
        width: 100% !important;
        justify-content: start !important;
    }
    .general-1 {
        width: 100% !important;
    }
    .general-2 {
        width: 100% !important;
    }
    .custom-columna-1 {
        min-width: 130px !important;
        width: 32% !important;
        height: 100% !important;
        margin-right: 8px !important;
        display: inline-block !important;
    }
    .custom-columna-21 {
        width: 31% !important;
        display: inline-block;
    }
    .custom-columna-22 {
        width: 31% !important;
        display: inline-block;
    }
    .custom-columna-3 {
        min-width: 130px !important;
        height: 50% !important;
        margin-right: 10px !important;
        width: 47% !important;
        display: inline-block !important;
    }
    .custom-columna-4 {
        min-width: 130px !important;
        width: 46% !important;
        height: 100% !important;
        margin-right: 8px !important;
        display: inline-block !important;
    }
    .custom-columna-5 {
        min-width: 130px !important;
        height: 100% !important;
        display: inline-block !important;
        margin-right: 10px !important;
        width: 46% !important;
        display: inline-block !important;
    }
    .custom-columna-6 {
        height: 100% !important;
        display: block !important;
    }
    .custom-columna-1-input {
        width: 98% !important;
    }
    .custom-columna-21-input {
        width: 98% !important;
        max-width: 230px !important;
    }
    .custom-columna-22-input {
        width: 98% !important;
        max-width: 230px !important;
    }
    .custom-columna-3-input {
        width: 98% !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important;
    }
    .custom-columna-4-input {
        width: auto !important;
    }
    .custom-columna-5-input {
        width: auto !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important;
    }
    .custom-columna-6-input {
        width: auto !important;
    }
    .search-box-container {
        width: 100% !important;
    }
    .search-box-container input {
        width: 100% !important;
    }
}


/* -----------------------------------------------------------------*/

@media (min-width: 1203.98px) {
    label {
        font-size: 14px !important;
    }
    .col-custom-1 {
        width: 70px !important;
        margin-right: 35px !important;
    }
    .content-rows {
        margin-left: 10px !important;
        width: auto !important;
        justify-content: start !important;
    }
    .general-2 {
        width: 100% !important;
        height: 66px !important;
    }
    .custom-columna-1 {
        min-width: 175px !important;
        height: 100 !important;
        margin-right: 8px !important;
        display: inline-block;
    }
    .custom-columna-21 {
        min-width: 105px !important;
        max-width: 138px !important;
        height: 100% !important;
        margin-right: 5px !important;
        display: inline-block;
    }
    .custom-columna-22 {
        min-width: 105px !important;
        max-width: 138px !important;
        height: 100% !important;
        margin-right: 5px !important;
        display: inline-block;
    }
    .custom-columna-3 {
        height: 100% !important;
        display: inline-block;
        margin-right: 10px !important;
        min-width: 10px !important;
        width: auto !important;
    }
    .custom-columna-4 {
        min-width: 175px !important;
        height: 100% !important;
        display: inline-block;
    }
    .custom-columna-5 {
        height: 100% !important;
        display: inline-block;
        min-width: 10px !important;
        width: auto !important;
    }
    .custom-columna-6 {
        height: 100% !important;
        display: inline-block;
    }
    .custom-columna-1-input {
        width: auto !important;
        max-width: 230px !important;
    }
    .custom-columna-21-input {
        width: auto !important;
        max-width: 130px !important;
    }
    .custom-columna-22-input {
        width: auto !important;
        max-width: 130px !important;
    }
    .custom-columna-3-input {
        max-width: 230px !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 66px !important;
        height: 34px !important;
        width: auto !important;
    }
    .custom-columna-4-input {
        width: auto !important;
        max-width: 230px !important;
    }
    .custom-columna-5-input {
        max-width: 230px !important;
        border: 2px solid #002E6D !important;
        border-radius: 9px !important;
        height: 34px !important;
        width: auto !important;
    }
    .custom-columna-6-input {
        width: auto !important;
        max-width: 100px !important;
    }
    .search-box-container {
        width: 100% !important;
    }
    .search-box-container input {
        width: 100% !important;
    }
}

::ng-deep .theme-dark-blue .btn-today-wrapper .btn-success,
::ng-deep.theme-dark-blue .btn-clear-wrapper .btn-success {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    color: white !important;
}

::ng-deep button .bs-datepicker-head button.current .ng-star-inserted {
    margin-right: -45px !important;
    background-color: teal !important;
}

@media all and (-ms-high-contrast:none) {
    /*  *::-ms-backdrop,
    .custom-columna-21-input {
        width: auto !important;
        max-width: 130px !important;
        background-color: #002E6D
    }
    /* .foo { color: green } /* IE10 */
    /*  *::-ms-backdrop, .foo { color: red } /* IE11 */
}