/*[type='file']:not([readonly]):not(:disabled).form-control {
    padding: 10px !important;
    height: 56px !important;
    color: white !important;
    pointer-events: none !important;
}*/


/*
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

 ::ng-deep.bs-datepicker {
    height: 350px;
}

.custom-content {
    position: absolute;
    z-index: 1081;
    top: 390px;
    cursor: pointer;
    align-self: center;
}*/


/*
::ng-deep .bs-datepicker-head button.current {
    border-radius: 15px;
    max-width: 155px;
    padding: 0 13px;
    margin-left: -10% !important;
}

::ng-deep .bs-datepicker-head button.ng-star-inserted {
    border-radius: 15px;
    max-width: 155px;
    padding: 0 13px;
    margin-left: -28% !important;
}*/