<div class="card">
    <div class="card-body">
        <h3 class="roboto-font-regular ">Bienvenido al Inicio</h3>
    </div>
    <!--button class="btn btn-block btn-primary" (click)="getRol()">Rol</button-->
    <!--button class="btn btn-block btn-primary" (click)="getRol()">Rol</button-->

    <!--div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue', clearPosition: 'right'}">
        </div>
    </div>
</div>

<div class="container">


</div-->
<!--div class="spinner-grow mx-auto" style="width: 3rem; height: 3rem;text-align:center !important; " role="status">
    <span class="sr-only">Loading...</span>
  </div-->
<!--embed
  class="embed-responsive-item"
  [src]="fileUrl"
  type="application/pdf"
  width="100%"
  height="700px"
/-->

<!---embed
class="embed-responsive-item"
[src]="pdfSrc"
type="application/pdf"
width="100%"
height="700px"
/>



  <a [href]="fileUrl"><i class="fas fa-download fa-2x" style="color:black !important;" (click)="getUrl()"></i></a>
<!--div>
    <p>Base64</p>
    <img src="{{imgb64}}" />
  </div--->

<!--img [src]="imageToShow"
alt="Place image title"
*ngIf="!isImageLoading; else noImageFound">
<ng-template #noImageFound>
<img src="fallbackImage.png" alt="Fallbackimage">

</ng-template-->