<button class="btn btn-primary btn-sm shadow-sm mb-2" role="button"
[routerLink]="['/ayuda']"
fragment="pills-tab5"> <i class="fas fa-arrow-circle-left"></i> Regresar</button>
<div class="d-flex flex-wrap justify-content-center">
<div
  class="spinner-grow text-secondary-2"
  role="status"
  *ngIf="urlVideo == undefined"
>
  <span class="visually-hidden"></span>
</div>
<div class="embed-responsive embed-responsive-16by9">
<video class="embed-responsive-item rounded" [src]="urlVideo" controls width="auto" height="auto" *ngIf="urlVideo != undefined"  type="video/mp4">
  <p>
    Tu navegador no soporta la reproducción nativa de video o no tiene los
    códecs Ogg requeridos. Tal vez quieras pasarte a un navegador moderno con
    más características, con el fin de poder ver el archivo de video.
  </p>
</video>
</div>
</div>