<!--TABS - DISEÑO 1-->
<div class="container mt-5">
    <h1 class="h1">Tabs 1</h1>

    <ul class="nav nav-pills nav-tabs mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-tab1" role="tab" aria-controls="pills-home" aria-selected="true">Tab 1</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="pills-profile-tab"
        data-toggle="pill"
        href="#pills-tab2"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
        >Tab 2</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="pills-contact-tab"
        data-toggle="pill"
        href="#pills-tab3"
        role="tab"
        aria-controls="pills-contact"
        aria-selected="false"
        >Tab 3</a
      >
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-tab1"
      role="tabpanel"
      aria-labelledby="pills-tab1"
    >
      Contenido de Tab 1
    </div>
    <div
      class="tab-pane fade"
      id="pills-tab2"
      role="tabpanel"
      aria-labelledby="pills-tab1"
    >
      Contenido de Tab 2
    </div>
    <div
      class="tab-pane fade"
      id="pills-tab3"
      role="tabpanel"
      aria-labelledby="pills-tab1"
    >
      Contenido de Tab 3
    </div>
  </div>
</div>

<!--TABS - DISEÑO 2-->
<div class="container mt-5 mb-5">
  <h1 class="h1">Tabs 2</h1>

  <ul class="nav nav-pills-2 nav-tabs-2 mb-3" id="pills-tab" role="tablist">
    <li class="nav-item-2" role="presentation">
      <a
        class="nav-link-2 active"
        id="pills-home-tab"
        data-toggle="pill"
        href="#pills-tab4"
        role="tab"
        aria-controls="pills-home"
        aria-selected="true"
        >Tab 1</a
      >
    </li>
    <li class="nav-item-2" role="presentation">
      <a
        class="nav-link-2"
        id="pills-profile-tab"
        data-toggle="pill"
        href="#pills-tab5"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
        >Tab 2</a
      >
    </li>
    <li class="nav-item-2" role="presentation">
      <a
        class="nav-link-2"
        id="pills-contact-tab"
        data-toggle="pill"
        href="#pills-tab6"
        role="tab"
        aria-controls="pills-contact"
        aria-selected="false"
        >Tab 3</a
      >
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-tab4"
      role="tabpanel"
      aria-labelledby="pills-tab4"
    >
      Contenido de Tab 1
    </div>
    <div
      class="tab-pane fade"
      id="pills-tab5"
      role="tabpanel"
      aria-labelledby="pills-tab5"
    >
      Contenido de Tab 2
    </div>
    <div
      class="tab-pane fade"
      id="pills-tab6"
      role="tabpanel"
      aria-labelledby="pills-tab6"
    >
      Contenido de Tab 3
    </div>
  </div>
</div>