<div class="mb-5">
  <div class="row mb-3 ml-3">
    <div class="row title"><h1>HISTORIAL DE SOLICITUDES COMPLETADAS</h1></div>
  </div>

  <!--
  <div class="row mb-3 ml-1 custom-border">
    <div class="col-custom-1" style="min-width: 100px !important">
      <div class="d-inline-flex p-2">
        <table style="margin-top: 14px !important">
          <tr>
            <td><i class="fas fa-filter"></i>&nbsp;</td>
            <td>&nbsp; Filtros</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-custom-2">
      <div class="d-inline-flex p-2">
        <label class="mr-3" style="margin-top: 15px !important"
          >Estado de Solicitud</label
        >

        <ng-select
          style="width: 160px !important; margin-top: 10px !important"
          class="custom mb-3"
          [items]="options"
          bindLabel="description"
          bindValue="value"
          [searchable]="false"
          [(ngModel)]="optionSelect"
          placeholder="Seleccione ..."
          (change)="filtrar()"
        >
        </ng-select>
      </div>
    </div>
  </div>-->
  <div *ngIf="AllRequest.length == 0">No tiene ninguna solicitud completada todavía...</div>
  <ngx-datatable
    #table
    ngx-resize-watcher
    class="bootstrap"
    [rows]="AllRequest"
    [headerHeight]="30"
    rowHeight="auto"
    [loadingIndicator]="true"
    [footerHeight]="60"
    [scrollbarH]="scrollBarHorizontal"
    [columnMode]="ColumnMode.force"
    [selectionType]="SelectionType.checkbox"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.pageNumber"
    [limit]="page.size"
    (page)="setPage($event)"
    *ngIf="AllRequest.length > 0"
  >
    <ng-template let-column="column" ngx-datatable-header-template>
      <p class="body-text-center">{{ column.createdBy }}</p>
    </ng-template>
    <ngx-datatable-column
      name="ACCIONES"
      [width]="180"
      [canAutoResize]="false"
      [sortable]="false"
    >
      <ng-template let-column="column" ngx-datatable-header-template>
        <span class="text-center">{{ column.name }}</span>
      </ng-template>
      <ng-template
        let-row="row"
        let-expanded="expanded"
        let-value="value"
        ngx-datatable-cell-template
      >
        <div class="text-center">
          <table>
            <tr>
              <td>
                <fa-icon
                  [icon]="faEye"
                  type="button"
                  class="btn-outline-show rounded p-1 mr-1"
                  [routerLink]="['/solicitud/' + row['id']]"
                  routerLinkActive="router-link-active"
                >
                </fa-icon>
              </td>
            </tr>
          </table>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false">
      <ng-template ngx-datatable-header-template>
        <span>NO. SOLICITUD</span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        #&nbsp;{{ row.id }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="TIPO DE SOLICITUD"
      headerClass="header-text-start"
      prop="requestType.description"
      [sortable]="false"
    ></ngx-datatable-column>

    <ngx-datatable-column
      name="SOLICITUD"
      prop="projectName"
      [sortable]="false"
    ></ngx-datatable-column>

    <ngx-datatable-column
      name="ESTADO"
      prop="status"
      [sortable]="false"
    ></ngx-datatable-column>

    <ngx-datatable-column
      name="FECHA DE CREACIÓN"
      prop="createdDate"
      [sortable]="false"
    >
      <ng-template
        let-row="row"
        let-expanded="expanded"
        let-value="value"
        ngx-datatable-cell-template
      >
        <div class="">
          {{ value | date: "medium" }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-selectedCount="selectedCount"
        let-curPage="curPage"
        let-offset="offset"
      >
        <datatable-pager
          [pagerLeftArrowIcon]="'datatable-icon-left'"
          [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'"
          [pagerNextIcon]="'datatable-icon-skip'"
          [page]="curPage"
          [size]="pageSize"
          [count]="rowCount"
          [hidden]="!(rowCount / pageSize > 1)"
          (change)="table.onFooterPage($event)"
        >
        </datatable-pager>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>
