
@media (min-width: 1640px) {


    div.row div.col-custom-1 {
        text-align: center !important;
        vertical-align: middle !important;
        height: 66px !important;
        width: 8% !important; 
    }

    div.row div.col-custom-2 {
        height: 66px !important;
        width: 91% !important; 
    }


}


.btn-add{
    top: 122px;
    left: 1303px;
    width: 131px;
    height: 37px;
    color: #FFFFFF !important;
    background: #00C8FF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border: 0 !important;
    opacity: 1;
}

.custom-border{
    border-radius: 9px;
    width: 99.5% !important;
    border: 2px solid #00C8FF;
}

hrs{ 
  
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100vh;
    width:          1px;       
}