<h1>CONFIGURACIÓN GENERAL DE PLANTILLAS DE SOLICITUDES</h1>
<div class="border-card">
  <div class="d-flex justify-content-center">
    <div
      class="col-sm-12 col-md-12 col-lg-12 col-xl-6 p-sm-0 p-md-0 p-lg-0 p-lg-2"
    >
      <form [formGroup]="conForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="email"
            >Número límite de servidores permitidos en las solicitudes</label
          >
          <input
            class="form-control"
            type="number"
            id="maxServers"
            formControlName="maxServers"
          />
          <div
            class="text-danger small"
            *ngIf="
              conForm.get('maxServers').hasError('required') &&
              conForm.get('maxServers').touched
            "
          >
            <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
            requerido
          </div>
          <div
            class="text-danger small"
            *ngIf="
              conForm.get('maxServers').hasError('min') &&
              conForm.get('maxServers').touched
            "
          >
            <fa-icon [icon]="faExclamationTriangle"></fa-icon> Debe ingresar un
            número mayor a cero
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-tertiary btn-sm mr-2"
          [disabled]="conForm.invalid || loading == true"
        >
          Guardar
        </button>
        <button
          class="btn btn-primary btn-sm"
          role="button"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
        >
          Cancelar
        </button>
      </form>
    </div>
  </div>
</div>
