<div>
    <ul class="nav nav-pills-2 nav-tabs-2 mb-3" id="pills-tab" role="tablist">
        <li class="nav-item-2" role="presentation">
            <a class="nav-link-2" id="pills-home-tab" data-toggle="pill" href="#pills-texto" role="tab" aria-controls="pills-tab9" aria-selected="true">Texto</a
        >
      </li>
      <li class="nav-item-2" role="presentation">
        <a
          class="nav-link-2"
          id="pills-profile-tab"
          data-toggle="pill"
          href="#pills-botones"
          role="tab"
          aria-controls="pills-tab10"
          aria-selected="false"
          >Botones</a
        >
      </li>
      <li class="nav-item-2" role="presentation">
        <a
          class="nav-link-2"
          id="pills-contact-tab"
          data-toggle="pill"
          href="#pills-tabs"
          role="tab"
          aria-controls="pills-tab11"
          aria-selected="false"
          >Tabs</a
        >
      </li>
      <li class="nav-item-2" role="presentation">
        <a
          class="nav-link-2"
          id="pills-contact-tab"
          data-toggle="pill"
          href="#pills-tablas"
          role="tab"
          aria-controls="pills-tab12"
          aria-selected="false"
          >Tablas</a
        >
      </li>
      <li class="nav-item-2" role="presentation">
        <a
          class="nav-link-2 active"
          id="pills-contact-tab"
          data-toggle="pill"
          href="#pills-inputs"
          role="tab"
          aria-controls="pills-tab13"
          aria-selected="false"
          >Inputs</a
        >
      </li>
      <li class="nav-item-2" role="presentation">
        <a
          class="nav-link-2"
          id="pills-wizards-tab"
          data-toggle="pill"
          href="#pills-wizards"
          role="tab"
          aria-controls="pills-wizards"
          aria-selected="false"
          >Wizard</a
        >
      </li>
      <li class="nav-item-2" role="presentation">
        <a
          class="nav-link-2"
          id="pills-wizards-alternative-tab"
          data-toggle="pill"
          href="#pills-wizards-alternative"
          role="tab"
          aria-controls="pills-wizards-alternative"
          aria-selected="false"
          >Wizard 2</a
        >
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade"
        id="pills-texto"
        role="tabpanel"
        aria-labelledby="pills-texto"
      >
        <app-text></app-text>
      </div>
      <div
        class="tab-pane fade"
        id="pills-botones"
        role="tabpanel"
        aria-labelledby="pills-botones"
      >
        <app-buttons></app-buttons>
      </div>
      <div
        class="tab-pane fade"
        id="pills-tabs"
        role="tabpanel"
        aria-labelledby="pills-tabs"
      >
        <app-tab></app-tab>
      </div>
      <div
        class="tab-pane fade"
        id="pills-tablas"
        role="tabpanel"
        aria-labelledby="pills-tablas"
      >
        <app-tables></app-tables>
      </div>
      <div
        class="tab-pane fade "
        id="pills-inputs"
        role="tabpanel"
        aria-labelledby="pills-inputs"
      >
        <app-inputs></app-inputs>
      </div>
      <div
        class="tab-pane fade "
        id="pills-wizards"
        role="tabpanel"
        aria-labelledby="pills-wizards"
      >
        <app-wizard-example></app-wizard-example>
      </div>
      <div
        class="tab-pane fade show active"
        id="pills-wizards-alternative"
        role="tabpanel"
        aria-labelledby="pills-wizards-alternative"
      >
        <app-wizard-alternative></app-wizard-alternative>
      </div>
    </div>
  </div>