<div class="container-fluid h-100 mt-2 border-card">
  <div class="row justify-content-center h-100">
    <div class="col col-sm-12 col-md-12 col-lg-12">
      <div class="mb-3">
        <div
          style="cursor: pointer"
          (click)="getVersions(); isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseHistory"
        >
          <div>
            <i class="fas fa-history text-primary-1 mr-2"></i>
            &nbsp;&nbsp;<label class="text-primary-1" style="cursor: pointer"
              >Historial de Versiones</label
            >
            <i class="fas fa-chevron-up text-right text-primary-1 mr-2" style="float: right;" *ngIf="isCollapsed == false"></i>
            <i class="fas fa-chevron-down text-right text-primary-1 mr-2" style="float: right;" *ngIf="isCollapsed == true"></i>
          </div>
          <hr
            style="
              background-color: #00c8ff !important;
              height: 1.5px !important;
              margin-top: -5px !important;
            "
          />
        </div>

        <div
          class="spinner-border text-primary-1"
          role="status"
          *ngIf="loadingVersions == true"
        >
          <span class="visually-hidden"></span>
        </div>

        <div id="collapseHistory" [collapse]="isCollapsed" [isAnimated]="true">
          <table>
            <tbody>
              <tr *ngFor="let revision of revisions">
                <td>
                  <p class="text-primary-1 font-weight-bold mr-2">
                    Rev. {{ revision.revisionNumber }} -
                  </p>
                </td>
                <td>
                  <p class="text-primary-1 font-weight-bold mr-2">
                    {{
                      revision.revisionInstant
                        | date: "dd/MM/yyyy - hh:mm:ss a "
                    }}
                  </p>
                </td>

                <td>
                  <p class="text-primary-1 font-weight-bold mr-2">
                    {{ revision.entity.status }} 
                  </p>
                </td>

                <td>
                  <p
                    (click)="openModal(lgModal, revision.entity, revision.revisionNumber)"
                    class="text-primary-2 font-weight-bold mr-2"
                    style="cursor: pointer"
                  >
                    Ver versión
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #lgModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="">
          <i class="fas fa-history mr-2"></i> &nbsp;&nbsp;<label
            class="text-primary-1"
            >Revisión
          </label>
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="lgModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid h-100">
          <div class="row justify-content-center h-100">
            <div class="col-12">
              <div class="border-card mb-3 p-3" *ngIf="request != null">
                <div class="form-row">
                  <div class="col">
                    <label>Nombre del Proyecto</label>
                    <p class="answer">{{ request.projectName }}</p>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col">
                    <label>Aplicación</label>
                    <p class="answer">{{ request.applicationSolution }}</p>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>Project Manager/Tech Leader</label>
                    <p
                      class="answer"
                      *ngIf="request.projectManager != undefined"
                    >
                      {{ request.projectManager }}
                    </p>
                  </div>
        
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>Contacto de Seguimiento</label>
                    <p class="answer" *ngIf="request.followUpContact != undefined">
                      {{ request.followUpContact }}
                    </p>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>Departamento Requirente</label>
                    <p
                      class="answer"
                      *ngIf="request.departamentoRequerimiento != undefined"
                    >
                      {{ request.departamentoRequerimiento.name }}
                    </p>
                  </div>

                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>Departamento de Soporte</label>
                    <p
                      class="answer"
                      *ngIf="request.departamentoSoporte != undefined"
                    >
                      {{ request.departamentoSoporte.name }}
                    </p>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>Prioridad</label>
                    <p class="answer">{{ request.priority }}</p>
                  </div>

                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label>Cantidad de Servidores</label>
                    <p class="answer">{{ request.numberOfServers }}</p>
                  </div>
                </div>
              </div>

              <div class="border-card mb-3 p-3" *ngIf="request != null">
                <tabset [justified]="true">
                  <tab
                    *ngFor="let tabz of tabs"
                    [heading]="tabz.title"
                    [active]="tabz.active"
                    (selectTab)="tabz.active = true; selectTab(tabz)"
                    (deselect)="tabz.active = false"
                    [disabled]="tabz.disabled"
                    [removable]="tabz.removable"
                    [customClass]="tabz.customClass"
                  >
                    {{ tabz?.content }}
                  </tab>
                </tabset>

                <div *ngIf="request.fields != undefined">
                  <div class="form-group" *ngFor="let item of request.fields">
                    <label
                      *ngIf="
                        item.engineerField == false &&
                        item.serverNumber == selectedServer
                      "
                      >{{ item.title }}
                    </label>

                    <p
                      class="answer"
                      *ngIf="
                        item.fieldType == 'FLOATNUMBER' &&
                        item.engineerField == false &&
                        item.serverNumber == selectedServer
                      "
                    >
                      {{ item.floatValue | replaceNullWithText }}
                    </p>

                    <p
                      class="answer"
                      *ngIf="
                        item.fieldType == 'INTNUMBER' &&
                        item.engineerField == false &&
                        item.serverNumber == selectedServer
                      "
                    >
                      {{ item.integerValue | replaceNullWithText }}
                    </p>

                    <p
                      class="answer"
                      *ngIf="
                        item.fieldType == 'DATE' &&
                        item.engineerField == false &&
                        item.serverNumber == selectedServer
                      "
                    >
                      {{
                        item.dateValue | date: "medium" | replaceNullWithText
                      }}
                    </p>

                    <p
                      class="answer"
                      *ngIf="
                        item.fieldType == 'TEXT' &&
                        item.engineerField == false &&
                        item.serverNumber == selectedServer
                      "
                    >
                      {{ item.textValue | replaceNullWithText }}
                    </p>

                    <div
                      class="mt-2 small"
                      *ngIf="
                        item.fieldType == 'FILE' &&
                        item.engineerField == false &&
                        item.serverNumber == selectedServer
                      "
                    >
                      <p class="answer" *ngIf="item.refFileValue == null">
                        El usuario no subió ningún archivo
                      </p>
                      <button
                        class="btn btn-primary btn-sm mr-2"
                        *ngIf="item.refBaseFile != null"
                        (click)="getBaseFile(item)"
                      >
                        <i class="fas fa-download"></i> Archivo base
                      </button>
                      <button
                        class="btn btn-secondary btn-sm"
                        *ngIf="item.refFileValue != null"
                        (click)="getFile(item)"
                      >
                        <i class="fas fa-file"></i> Archivo Subido
                      </button>
                    </div>

                    <p
                      class="answer"
                      *ngIf="
                        item.fieldType == 'SELECT' &&
                        item.engineerField == false &&
                        item.multiSelect != true &&
                        item.serverNumber == selectedServer
                      "
                    >
                      {{ item.textValue | replaceNullWithText }}
                    </p>

                    <div
                      class="answer"
                      *ngIf="
                        item.fieldType == 'SELECT' &&
                        item.engineerField == false &&
                        item.multiSelect == true &&
                        item.serverNumber == selectedServer
                      "
                    >
                      <ul>
                        <ol *ngFor="let selected of item.multiSelectValues">
                          <span *ngIf="selected.selected == true">
                            {{
                              selected.title | replaceNullWithText
                            }}</span>
                        </ol>
                      </ul>
                    </div>

                    <div
                      *ngIf="
                        item.fieldType == 'DINAMIC' &&
                        item.engineerField == false &&
                        item.serverNumber == selectedServer
                      "
                      [innerHTML]="item.dinamicValue"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END OF BODY -->
    </div>
  </div>
</div>
