<h1>TIPOS DE ARCHIVOS PARA SOLICITUDES</h1>
<div class="border-card">
  <div class="d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="form-group">
        <label>Agregar...</label>
        <ng-select
          [items]="mimeTypes"
          bindLabel="extension"
          bindValue="extension"
          [searchable]="true"
          [clearable]="false"
          [loading]="loading"
          notFoundText="No se encontró el tipo de archivo"
          [addTag]="true"
          (change)="addFileType($event)"
        >
        </ng-select>
      </div>
      <br />
      <label>Formatos registrados</label>
      <br />
      <div
        class="border-input p-2 pl-4 pr-4 d-flex flex-wrap justify-content-start"
      >
        <div
          class="spinner-grow text-secondary-2"
          role="status"
          *ngIf="loading == true"
        >
          <span class="visually-hidden"></span>
        </div>
        <div class="item-element" *ngFor="let item of fileTypesAllowed">
          {{ item.fileExtension }}
          <fa-icon
            [icon]="faTimes"
            type="button"
            class="btn-outline-danger rounded p-1 pr-2 pl-2"
            (click)="delete(item.id)"
          >
          </fa-icon>
        </div>
      </div>
      <br />

      <button
        class="btn btn-primary btn-sm shadow-sm mb-5"
        role="button"
        [routerLink]="['/']"
        fragment="pills-tab5"
      >
        <i class="fas fa-arrow-circle-left"></i> Regresar
      </button>
    </div>
  </div>
</div>
