<h1>EDITAR GRUPO</h1>
<div class="border-card">
  <div class="d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <form novalidate [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="email">Nombre del Grupo</label>
          <input
            class="form-control"
            type="text"
            id="name"
            formControlName="name"
            maxlength="255"
          />
          <div
            class="text-danger"
            *ngIf="
              form.get('name').hasError('required') && form.get('name').touched
            "
          >
            <fa-icon [icon]="faExclamationTriangle"></fa-icon> Este campo es
            requerido
          </div>
        </div>

        <div class="form-group">
          <label>Rol asignado</label>
          <ng-select
            class="custom mb-3"
            [items]="roles"
            bindLabel="name"
            bindValue="id"
            [searchable]="false"
            formControlName="roleToAssign"
          >
          </ng-select>
        </div>

        <div class="alert-danger rounded border p-2 small">
          ADVERTENCIA: Al editar el nombre de un grupo puede causar un fallo en
          la configuración de los usuarios. Antes de editar asegurese que el
          nuevo nombre del grupo corresponderá con el asignado en Azure Active
          Directory. Al finalizar deberá iniciar sesión nuevamente para evaluar
          los grupos a los que pertenece.
        </div>

        <button
          type="submit"
          class="btn btn-tertiary btn-sm"
          [disabled]="form.invalid"
        >
          Guardar
        </button>
        <button
          class="btn btn-primary btn-sm m-2"
          role="button"
          [routerLink]="['/configuracion-grupos']"
          routerLinkActive="router-link-active"
        >
          Cancelar
        </button>
      </form>
    </div>
  </div>
</div>
