@media (min-width: 200px) and (max-width: 500.98px) and (min-height: 575.98px) {
    .btn-tertiary {
        margin-top: 1vh !important;
        width: 100%;
    }
    .btn-secondary {
        margin-top: 1vh !important;
        width: 100%;
    }
  }
  