/* You can add global styles to this file, and also import other style files */

@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "~ng-wizard/themes/ng_wizard_theme_circles.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
:root {
    --main-primary-color-1: #002e6d;
    --main-primary-color-2: #00c8ff;
    --main-secondary-color-1: #5b5b5b;
    --main-secondary-color-2: #ffc20e;
    --main-white-color: #ffffff;
    --bs-font-sans-serif: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font: normal normal normal 20px/50px Roboto;
    font-size: 1rem;
    font-weight: normal !important;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100vh !important;
}

.art-bottom-left {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 35;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.art-top-right {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media (max-width: 962px) {
    .art-top-right {
        opacity: 0.15;
    }
    .art-bottom-left {
        opacity: 0.15;
    }
}

small .comment {
    color: var(--main-secondary-color-1);
}

.header-text-center {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header-text-start {
    text-align: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header-text-end {
    text-align: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.body-text-center {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.body-text-start {
    text-align: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.body-text-end {
    text-align: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.answer {
    color: var(--main-primary-color-1);
    border: 0.7px solid #6c757d !important;
    padding: 0.375rem 0.75rem !important;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

@media (max-width: 500px) {
    .answer {
        font-size: 0.8em;
    }
}

.ng-sidebar {
    background-color: var(--main-primary-color-1);
    width: 20rem;
}

.border-card {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 0em;
    padding-left: 0em;
    border: 3px solid var(--main-primary-color-2) !important;
    border-radius: 9px;
    background-color: white;
    z-index: 1 !important;
}

.border-input {
    border: 2px solid var(--main-primary-color-1) !important;
    border-radius: 9px;
}

.item-element {
    color: var(--main-primary-color-1);
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.375em;
    font-size: small;
    font-weight: bold;
    background-color: #c2c2c2;
    border-radius: 3px;
}

.bg-files {
    background-color: #c5c5c5;
}

.false {
    background-color: #be1622;
}

label {
    display: inline-block !important;
    margin-bottom: 0.5rem !important;
    color: var(--main-primary-color-2) !important;
    font-weight: bold;
}

@media (max-width: 500px) {
    label {
        font-size: 0.8em;
    }
}


/*Cambio de color del text success*/

.text-primary-1 {
    color: var(--main-primary-color-1) !important;
}

.text-primary-2 {
    color: var(--main-primary-color-2) !important;
}

.text-secondary-2 {
    color: var(--main-secondary-color-2) !important;
}

.text-success {
    color: #3aaa35 !important;
}

.color-edit {
    color: var(--main-secondary-color-2);
}

.color-delete {
    color: #ff0000;
}

.color-show {
    color: var(--main-primary-color-1);
}


/*ESTILOS PARA TÍTULOS*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1,
.h1 {
    color: var(--main-primary-color-1) !important;
    font-size: 20px !important;
}

h2,
.h2 {
    color: var(--main-primary-color-2) !important;
    font-size: 20px !important;
}

h3,
.h3 {
    font-size: 0.75rem;
}

h4,
.h4 {
    font-size: 0.5rem;
}

h5,
.h5 {
    font-size: 0.3rem;
}

h6,
.h6 {
    font-size: 0.25rem;
}


/*ESTILOS PARA BOTONES (PRIMARIO, SECUNDARIO Y TERCEARIO)*/

.btn {
    display: inline-block !important;
    height: fit-content;
    font-weight: 500 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    padding: 0.375rem 4rem !important;
    border-radius: 12rem !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none !important;
    }
}

@media (min-width: 200px) and (max-width: 500.98px) and (min-height: 575.98px) {
    .btn-tertiary:disabled,
    .btn-tertiary.disabled {
      width: 100%;
    }
    .btn-tertiary {
      margin-top: 1vh;
      width: 100% !important;
    }
    .btn-primary {
      margin-top: 1vh;
      width: 100% !important;
    }
    .btn-secondary {
      margin-top: 1vh;
      width: 100% !important;
    }
  }

.btn:hover {
    color: #212529 !important;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
    pointer-events: none !important;
    opacity: 0.65 !important;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 0.375rem 2rem !important;
    font-size: 9pt !important;
    font-weight: bold !important;
    line-height: 1.5 !important;
    border-radius: 12rem !important;
}

.btn-primary {
    color: var(--main-white-color) !important;
    background-color: var(--main-primary-color-2) !important;
    border-color: var(--main-primary-color-2) !important;
}

.btn-primary:hover {
    color: var(--main-primary-color-2) !important;
    background-color: var(--main-white-color) !important;
    border-color: var(--main-primary-color-2) !important;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff !important;
    background-color: var(--main-primary-color-2) !important;
    border-color: var(--main-primary-color-2) !important;
    box-shadow: 0 0 0 0rem var(--main-primary-color-2) !important;
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: var(--main-primary-color-2) !important;
    border-color: var(--main-primary-color-2) !important;
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem var(--main-primary-color-2) !important;
}

.btn-primary:disabled,
.btn-primary.disabled {
    color: #fff !important;
    background-color: var(--main-primary-color-2) !important;
    border-color: var(--main-primary-color-2) !important;
}

.btn-secondary {
    color: var(--main-primary-color-2) !important;
    background-color: var(--main-white-color) !important;
    border-color: var(--main-primary-color-2) !important;
}

.btn-secondary:hover {
    color: #fff !important;
    background-color: var(--main-primary-color-2) !important;
    border-color: var(--main-primary-color-2) !important;
}

.btn-check:focus+.btn-secondary,
.btn-secondary:focus {
    color: var(--main-primary-color-2) !important;
    background-color: #fff !important;
    border-color: #fff !important;
    box-shadow: 0 0 0 0.05rem var(--main-primary-color-2) !important;
}

.btn-check:checked+.btn-secondary,
.btn-check:active+.btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show>.btn-secondary.dropdown-toggle {
    color: var(--main-primary-color-2) !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.btn-check:checked+.btn-secondary:focus,
.btn-check:active+.btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem var(--main-primary-color-2) !important;
}

.btn-secondary:disabled,
.btn-secondary.disabled {
    color: #fff !important;
    background-color: var(--main-primary-color-2) !important;
    border-color: var(--main-primary-color-2) !important;
}

.btn-tertiary {
    color: var(--main-primary-color-1) !important;
    background-color: var(--main-secondary-color-2) !important;
    border-color: var(--main-secondary-color-2) !important;
    border-width: 1px !important;
}

.btn-tertiary:hover {
    color: var(--main-secondary-color-2) !important;
    background-color: var(--main-primary-color-1) !important;
    border-color: var(--main-secondary-color-2) !important;
}

.btn-check:focus+.btn-tertiary,
.btn-tertiary:focus {
    color: var(--main-primary-color-1) !important;
    background-color: var(--main-secondary-color-2) !important;
    border-color: #fff !important;
    box-shadow: 0 0 0 0.1rem var(--main-primary-color-1) !important;
}

.btn-check:checked+.btn-tertiary,
.btn-check:active+.btn-tertiary,
.btn-tertiary:active,
.btn-tertiary.active,
.show>.btn-tertiary.dropdown-toggle {
    color: var(--main-primary-color-1) !important;
    background-color: var(--main-secondary-color-2) !important;
    border-color: #fff !important;
}

.btn-check:checked+.btn-tertiary:focus,
.btn-check:active+.btn-tertiary:focus,
.btn-tertiary:active:focus,
.btn-tertiary.active:focus,
.show>.btn-tertiary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem var(--main-secondary-color-2) !important;
}

.btn-tertiary:disabled,
.btn-tertiary.disabled {
    color: #fff !important;
    background-color: var(--main-secondary-color-2) !important;
    border-color: var(--main-secondary-color-2) !important;
}

.btn-outline-edit {
    color: var(--main-secondary-color-2);
    border-color: var(--main-secondary-color-2);
}

.btn-outline-edit:hover {
    color: var(--main-white-color);
    background-color: var(--main-secondary-color-2);
    border-color: var(--main-secondary-color-2);
}

.btn-outline-edit:focus,
.btn-edit-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-edit.disabled,
.btn-outline-edit:disabled {
    color: var(--main-secondary-color-2);
    background-color: transparent;
}

.btn-outline-edit:not(:disabled):not(.disabled):active,
.btn-outline-edit:not(:disabled):not(.disabled).active,
.show>.btn-outline-edit.dropdown-toggle {
    color: var(--main-white-color);
    background-color: var(--main-secondary-color-2);
    border-color: var(--main-secondary-color-2);
}

.btn-outline-edit:not(:disabled):not(.disabled):active:focus,
.btn-outline-edit:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-edit.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-show {
    color: var(--main-primary-color-1);
    border-color: var(--main-primary-color-1);
}

.btn-outline-show:hover {
    color: var(--main-white-color);
    background-color: var(--main-primary-color-1);
    border-color: var(--main-primary-color-1);
}

.btn-outline-show:focus,
.btn-show-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-show.disabled,
.btn-outline-show:disabled {
    color: var(--main-primary-color-1);
    background-color: transparent;
}

.btn-outline-show:not(:disabled):not(.disabled):active,
.btn-outline-show:not(:disabled):not(.disabled).active,
.show>.btn-outline-show.dropdown-toggle {
    color: var(--main-white-color);
    background-color: var(--main-primary-color-1);
    border-color: var(--main-primary-color-1);
}

.btn-outline-show:not(:disabled):not(.disabled):active:focus,
.btn-outline-show:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-show.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}


/*ESTILOS PARA INPUTS*/

.form-control {
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 10pt !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: var(--main-secondary-color-1) !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 2px solid var(--main-primary-color-1) !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 9px !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none !important;
    }
}

.form-control[type="file"] {
    overflow: hidden;
}

.form-control[type="file"]:not(:disabled):not([readonly]) {
    cursor: pointer;
}

.form-control:focus {
    color: var(--main-secondary-color-1) !important;
    background-color: #fff !important;
    border-color: var(--main-primary-color-2) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25) !important;
}

.form-control::-webkit-date-and-time-value {
    height: 1.5em !important;
}

.form-control::-webkit-input-placeholder {
    color: #6c757d !important;
    opacity: 1 !important;
}

.form-control::-moz-placeholder {
    color: #6c757d !important;
    opacity: 1 !important;
}

.form-control::placeholder {
    color: #6c757d !important;
    opacity: 1 !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef !important;
    opacity: 1 !important;
}

.form-control::file-selector-button {
    padding: 0.6rem 0.4rem !important;
    margin: -0.7rem -0.75rem !important;
    -webkit-margin-end: 0.75rem !important;
    margin-inline-end: 0.75rem !important;
    color: var(--main-white-color) !important;
    background-color: var(--main-primary-color-1) !important;
    pointer-events: none !important;
    border-color: var(--main-primary-color-1) !important;
    border-style: solid !important;
    border-width: 0 !important;
    border-inline-end-width: 0px !important;
    border-radius: 0px 0px 0px 0px !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

@media (prefers-reduced-motion: reduce) {
    .form-control::file-selector-button {
        transition: none !important;
    }
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: var(--main-primary-color-2) !important;
}

.form-control::-webkit-file-upload-button {
    padding: 0.375rem 0.75rem !important;
    margin: -0.375rem -0.75rem !important;
    -webkit-margin-end: 0.75rem !important;
    margin-inline-end: 0.75rem !important;
    color: #212529 !important;
    background-color: #e9ecef !important;
    pointer-events: none !important;
    border-color: inherit !important;
    border-style: solid !important;
    border-width: 0 !important;
    border-inline-end-width: 1px !important;
    border-radius: 9px !important;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

@media (prefers-reduced-motion: reduce) {
    .form-control::-webkit-file-upload-button {
        -webkit-transition: none !important;
        transition: none !important;
    }
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3;
}

.form-control-plaintext {
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0 !important;
    margin-bottom: 0 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
    background-color: transparent !important;
    border: solid transparent !important;
    border-width: 1px 0 !important;
}

.form-control-plaintext.form-control-sm,
.form-control-plaintext.form-control-lg {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.form-control-sm {
    min-height: calc(1.5em + 0.5rem + 2px) !important;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    border-radius: 0.2rem !important;
}

.form-control-sm::file-selector-button {
    padding: 0.25rem 0.5rem !important;
    margin: -0.25rem -0.5rem !important;
    -webkit-margin-end: 0.5rem !important;
    margin-inline-end: 0.5rem !important;
}

.form-control-sm::-webkit-file-upload-button {
    padding: 0.25rem 0.5rem !important;
    margin: -0.25rem -0.5rem !important;
    -webkit-margin-end: 0.5rem !important;
    margin-inline-end: 0.5rem !important;
}

.form-control-lg {
    min-height: calc(1.5em + 1rem + 2px) !important;
    padding: 0.5rem 1rem !important;
    font-size: 1.25rem !important;
    border-radius: 0.3rem !important;
}

.form-control-lg::file-selector-button {
    padding: 0.5rem 1rem !important;
    margin: -0.5rem -1rem !important;
    -webkit-margin-end: 1rem !important;
    margin-inline-end: 1rem !important;
}

.form-control-lg::-webkit-file-upload-button {
    padding: 0.5rem 1rem !important;
    margin: -0.5rem -1rem !important;
    -webkit-margin-end: 1rem !important;
    margin-inline-end: 1rem !important;
}

textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px) !important;
}

textarea.form-control-sm {
    min-height: calc(1.5em + 0.5rem + 2px) !important;
}

textarea.form-control-lg {
    min-height: calc(1.5em + 1rem + 2px) !important;
}

.form-control-color {
    max-width: 3rem !important;
    height: auto !important;
    padding: 0.375rem !important;
}

.form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer !important;
}

.form-control-color::-moz-color-swatch {
    height: 1.5em !important;
    border-radius: 0.25rem !important;
}

.form-control-color::-webkit-color-swatch {
    height: 1.5em !important;
    border-radius: 0.25rem !important;
}

.form-select {
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem !important;
    font-size: 14pt !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: var(--main-secondary-color-1) !important;
    background-color: #fff !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 0.75rem center !important;
    background-size: 16px 12px !important;
    border: 2px solid var(--main-primary-color-1) !important;
    border-radius: 9px !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.form-select:focus {
    border-color: var(--main-primary-color-2) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25) !important;
}

.form-select[multiple],
.form-select[size]:not([size="1"]) {
    padding-right: 0.75rem !important;
    background-image: none !important;
}

.form-select:disabled {
    color: #6c757d !important;
    background-color: #e9ecef !important;
}

.form-select:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 #212529 !important;
}

.form-select-sm {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    padding-left: 0.5rem !important;
    font-size: 0.875rem !important;
}

.form-select-lg {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    font-size: 1.25rem !important;
}

.form-control-plaintext {
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0 !important;
    margin-bottom: 0 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
    background-color: transparent !important;
    border: solid transparent !important;
    border-width: 1px 0 !important;
}

.form-control-plaintext.form-control-sm,
.form-control-plaintext.form-control-lg {
    padding-right: 0 !important;
    padding-left: 0 !important;
}


/*ESTILOS DE TABS*/

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.nav {
    display: flex !important;
    flex-wrap: wrap !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
}


/*
.nav-link {
    display: block !important;
    padding: 0.5rem 1rem !important;
    text-decoration: none !important;
    text-align: center !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
}*/

@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition: none !important;
    }
}

.nav-link.disabled {
    color: var(--main-secondary-color-2) !important;
    pointer-events: none !important;
    cursor: default !important;
}

.nav-tabs {
    outline: none;
    border-bottom: 2px solid var(--main-secondary-color-2);
    font-size: small !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-tabs .nav-link {
    outline: none;
    margin-bottom: 1px !important;
    font-weight: 500 !important;
    padding: 0.5rem 4rem !important;
    color: var(--main-primary-color-1) !important;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    color: #fff !important;
    background-color: var(--main-primary-color-1) !important;
    border: 0px solid transparent !important;
    border-bottom-color: var(--main-primary-color-1) !important;
    border-bottom-width: 3px !important;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
}

.nav-tabs .nav-link.disabled {
    color: #6c757d !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: var(--main-primary-color-1) !important;
    border: 0px solid transparent !important;
    border-bottom-color: var(--main-primary-color-1) !important;
    border-bottom-width: 3px !important;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    background-color: var(--main-white-color) !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-tabs .nav-link.active span {
    font-size: 10pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-tabs .nav-link span {
    font-size: 10pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.nav-pills .nav-link {
    border-radius: 0.25rem !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--main-primary-color-1) !important;
    border: 0px solid transparent !important;
    border-bottom-color: var(--main-primary-color-1) !important;
    border-bottom-width: 3px !important;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    background-color: var(--main-white-color) !important;
}

.nav-fill>.nav-link,
.nav-fill .nav-item {
    flex: 1 1 auto !important;
    text-align: center !important;
}

.nav-justified>.nav-link,
.nav-justified .nav-item {
    flex-basis: 0 !important;
    flex-grow: 1 !important;
    text-align: center !important;
}

.nav-link-2 {
    display: block !important;
    padding: 0.5rem 1rem;
    text-decoration: none !important;
    text-align: center !important;
    transition: color 0.15s ease-in-out, 0.15s ease-in-out, 0.15s ease-in-out !important;
}

@media (prefers-reduced-motion: reduce) {
    .nav-link-2 {
        transition: none !important;
    }
}

.nav-link-2.disabled {
    color: var(--main-secondary-color-2) !important;
    pointer-events: none !important;
    cursor: default !important;
}

.nav-tabs-2 {
    background-color: var(--main-primary-color-1) !important;
    padding: 0.15em 0.15em !important;
    border-radius: 23px !important;
    border-color: var(--main-primary-color-1) !important;
}

.nav-tabs-2 .nav-link-2 {
    margin-bottom: 1px !important;
    font-weight: 500 !important;
    padding: 0.5rem 4rem !important;
    color: var(--main-white-color) !important;
}

.nav-tabs-2 .nav-link-2:hover,
.nav-tabs-2 .nav-link-2:focus {
    color: var(--main-primary-color-1) !important;
    background-color: var(--main-secondary-color-2) !important;
    border-radius: 5em;
}

.nav-tabs-2 .nav-link-2.disabled {
    color: #6c757d !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.nav-tabs-2 .nav-link-2.active,
.nav-tabs-2 .nav-item-2.show .nav-link-2 {
    color: var(--main-primary-color-1) !important;
    border-radius: 23px !important;
    background-color: var(--main-secondary-color-2) !important;
}

.nav-tabs-2 .dropdown-menu {
    margin-top: -1px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.nav-pills-2 .nav-link-2 {
    border-radius: 0.25rem;
}

.nav-pills-2 .nav-link-2.active,
.nav-pills-2 .show>.nav-link-2 {
    color: var(--main-primary-color-1) !important;
    border-radius: 5em !important;
    background-color: var(--main-secondary-color-2) !important;
}

.nav-fill-2>.nav-link-2,
.nav-fill-2 .nav-item-2 {
    flex: 1 1 auto !important;
    text-align: center !important;
}

.nav-justified>.nav-link-2,
.nav-justified .nav-item-2 {
    flex-basis: 0 !important;
    flex-grow: 1 !important;
    text-align: center !important;
}

.custom-control {
    position: relative !important;
    display: block !important;
    min-height: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.custom-control-inline {
    display: inline-flex !important;
    margin-right: 1rem !important;
}

.custom-control-input {
    position: absolute !important;
    z-index: -1 !important;
    opacity: 0 !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff !important;
    border-color: #3aaa35 !important;
    background-color: #3aaa35 !important;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #be1622 !important;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff !important;
    background-color: #fff !important;
    border-color: #be1622 !important;
    border-width: 2px !important;
}

.custom-control-input:disabled~.custom-control-label {
    color: #be1622 !important;
}

.custom-control-input:disabled~.custom-control-label::before {
    background-color: #eaecf4 !important;
}

.custom-control-label {
    position: relative !important;
    margin-bottom: 0 !important;
    vertical-align: top !important;
}

.custom-control-label::before {
    position: absolute !important;
    top: 0.25rem !important;
    left: -1.5rem !important;
    display: block !important;
    width: 1rem !important;
    height: 1rem !important;
    pointer-events: none !important;
    content: "" !important;
    background-color: #fff !important;
    border: #b7b9cc solid 1px !important;
}

.custom-control-label::after {
    position: absolute !important;
    top: 0.25rem !important;
    left: -1.5rem !important;
    display: block !important;
    width: 1rem !important;
    height: 1rem !important;
    content: "" !important;
    background: no-repeat 50% / 50% 50% !important;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0.35rem !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e") !important;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
    border-color: #4e73df !important;
    background-color: #4e73df !important;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e") !important;
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(78, 115, 223, 0.5) !important;
}

.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label::before {
    background-color: rgba(78, 115, 223, 0.5) !important;
}

.custom-radio .custom-control-label::before {
    border-radius: 50% !important;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(78, 115, 223, 0.5) !important;
}

.custom-switch {
    padding-left: 2.25rem !important;
}

.custom-switch .custom-control-label::before {
    left: -2.25rem !important;
    width: 1.75rem !important;
    pointer-events: all !important;
    border-radius: 0.5rem !important;
}

.custom-switch .custom-control-label::after {
    top: calc(0.25rem + 2px) !important;
    left: calc(-2.25rem + 2px) !important;
    width: calc(1rem - 4px) !important;
    height: calc(1rem - 4px) !important;
    background-color: #be1622 !important;
    border-radius: 0.5rem !important;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

@media (prefers-reduced-motion: reduce) {
    .custom-switch .custom-control-label::after {
        transition: none !important;
    }
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff !important;
    transform: translateX(0.75rem) !important;
}

.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(78, 115, 223, 0.5) !important;
}


/*
ESTILOS PARA LAS TABLAS...
*/

.ngx-datatable.bootstrap {
    box-shadow: none !important;
    font-size: 10pt !important;
}

.ngx-datatable.bootstrap .datatable-header {
    height: unset !important;
    color: var(--main-white-color) !important;
    border-radius: 6px !important;
    background-color: var(--main-primary-color-1) !important;
}

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
    vertical-align: middle !important;
    padding: 0.75rem !important;
    border-bottom: 0px solid #d1d4d7 !important;
}

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
    line-height: 24px !important;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    background-color: #d6e2eb !important;
    border: none !important;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
    background-color: var(--main-white-color) !important;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
    color: #212529 !important;
}


/*.ngx-datatable.bootstrap .datatable-body .datatable-body-row:hover {
  
}*/

.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 0.75rem !important;
    text-align: left;
    vertical-align: top !important;
}

.ngx-datatable.bootstrap .datatable-body .empty-row {
    position: relative !important;
    padding: 0.75rem 1.25rem !important;
    margin-bottom: 0 !important;
}

.ngx-datatable.bootstrap .datatable-footer {
    background: transparent !important;
    color: var(--main-primary-color-1) !important;
    margin-top: -1px !important;
    border-radius: 3px;
}

.ngx-datatable.bootstrap .datatable-footer .page-count {
    line-height: 50px !important;
    height: 50px !important;
    padding: 0 1.2rem !important;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager {
    margin: 0 10px !important;
    vertical-align: top !important;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li {
    margin: 10px 0px !important;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
    background-color: var(--main-primary-color-1) !important;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
    height: 30px !important;
    min-width: 24px !important;
    line-height: 22px !important;
    padding: 3px 3px !important;
    border-radius: 4px !important;
    margin: 0 3px !important;
    text-align: center !important;
    vertical-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    color: var(--main-white-color) !important;
    background-color: #b7b9cc !important;
    font-size: 14px !important;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-prev {
    font-size: 14px !important;
    padding: 0 3px !important;
}

.ngx-datatable.bootstrap .datatable-summary-row .datatable-body-row .datatable-body-cell {
    font-weight: bold !important;
}


/*ESTILOS DE SEARCHBOX PARA TABLAS*/

.search-box-container input {
    outline: none !important;
    width: 385px !important;
    background-color: var(--main-white-color) !important;
    border: 2px solid var(--main-primary-color-1) !important;
    border-radius: 30px 30px 30px 30px !important;
    color: var(--main-primary-color-1) !important;
    font-size: medium !important;
    padding: 0.5rem 1.5rem !important;
    transition: border-color 0.2s ease-in !important;
}

.search-box-container:after {
    content: "\f002";
    font-family: FontAwesome;
    margin-left: -40px;
    margin-right: 25px;
}

.search-box-container input:focus {
    border: 2px solid var(--main-primary-color-2) !important;
}

#search-wrapper {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-flex-flow: nowrap !important;
    -ms-flex-flow: nowrap !important;
    flex-flow: nowrap !important;
    width: 100% !important;
}

#search-wrapper #search {
    background-color: var(--main-white-color) !important;
    border: 2px solid var(--main-primary-color-1) !important;
    border-left: 0 !important;
    border-radius: 18px 0px 0px 18px !important;
    color: var(--main-primary-color-1) !important;
    padding: 0.6rem 0.5rem !important;
    font-size: 18px !important;
    -webkit-transition: border-color 0.2s ease !important;
    transition: border-color 0.2s ease !important;
    width: 100% !important;
}

#search-wrapper #search+fa-icon {
    background-color: var(--main-white-color) !important;
    border: 2px solid var(--main-primary-color-1) !important;
    border-radius: 0px 18px 18px 0px !important;
    border-right: 0 !important;
    color: var(--main-primary-color-1) !important;
    padding: 0.67rem 0.65rem !important;
    -webkit-transition: border-color 0.2s ease !important;
    transition: border-color 0.2s ease !important;
}

#search-wrapper #search:focus {
    border-color: var(--main-primary-color-2) !important;
    outline: none !important;
}

#search-wrapper #search:focus+fa-icon {
    border-color: var(--main-primary-color-2) !important;
}


/*ESTILOS PARA LOS WIZARDS*/

.ng-wizard-theme-circles {
    background-color: transparent !important;
}

.ng-wizard-theme-circles .ng-wizard-container {
    min-height: 300px !important;
}

.ng-wizard-theme-circles .step-content {
    padding: 10px 0 !important;
    background-color: transparent !important;
    text-align: left !important;
}

.ng-wizard-theme-circles .ng-wizard-toolbar {
    background: #fff !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-bottom: 0 !important;
}

.ng-wizard-theme-circles .ng-wizard-toolbar-top {}

.ng-wizard-theme-circles .ng-wizard-toolbar-bottom {
    border-top-color: #ddd !important;
    border-bottom-color: #ddd !important;
}

.ng-wizard-theme-circles>ul.step-anchor {
    position: relative !important;
    background: transparent !important;
    border: none !important;
    list-style: none !important;
    margin-bottom: 40px;
}

.ng-wizard-theme-circles>ul.step-anchor:before {
    content: "" !important;
    position: absolute !important;
    top: 50% !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 5px !important;
    background-color: var(--main-secondary-color-2) !important;
    border-radius: 3px !important;
    z-index: 0 !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li {
    border: none !important;
    margin-left: 40px !important;
    z-index: 98 !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li>a {
    border: 2px solid var(--main-primary-color-1) !important;
    background: var(--main-white-color) !important;
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-weight: 900 !important;
    padding: 5px 0 !important;
    border-radius: 3px !important;
    -webkit-box-shadow: inset 0px 0px 0px 0px var(--main-secondary-color-2) !important;
    box-shadow: inset 0px 0px 0px 0px #fff !important;
    z-index: 50 !important;
    color: var(--main-primary-color-1) !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li>a:hover {
    color: var(--main-primary-color-1) !important;
    background: #f5f5f5 !important;
    border: none !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li>a>small {
    position: relative !important;
    bottom: -40px !important;
    color: #ccc !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li.clickable>a:hover {
    color: var(--main-secondary-color-2) !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li.active>a {
    border-color: var(--main-primary-color-1) !important;
    color: var(--main-secondary-color-2) !important;
    background: var(--main-primary-color-1) !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li.active>a>small {
    color: var(--main-primary-color-1) !important;
    border: none !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li.done>a {
    border-color: var(--main-primary-color-1) !important;
    color: var(--main-white-color) !important;
    background: var(--main-primary-color-1) !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li.done>a>small {
    color: var(--main-primary-color-1) !important;
    border: none !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li.danger>a {
    border-color: #d9534f !important;
    color: #d9534f !important;
    background: #fff !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li.danger>a>small {
    color: #d9534f !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li.disabled>a,
.ng-wizard-theme-circles>ul.step-anchor>li.disabled>a:hover {
    color: #6c757d !important;
    border-color: #6c757d !important;
}


/*ESTILOS PARA WIZARD OPCIÓN 2*/

.progress-wrapper {
    position: relative !important;
    margin: 20px auto !important;
    font-size: 40px !important;
}

.current {
    position: absolute !important;
    color: var(--main-primary-color-1) !important;
    font-weight: bold !important;
}

round-progress {
    margin: auto !important;
}


/*ESTILOS DE SELECT (ng-select) */

.ng-select.ng-select-opened>.ng-select-container {
    background: #fff;
    border-color: var(--main-primary-color-1);
}

.ng-select.ng-select-opened>.ng-select-container:hover {
    box-shadow: none;
}

.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
    top: -2px;
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
}

.ng-select.ng-select-opened>.ng-select-container .ng-arrow:hover {
    border-color: transparent transparent #333;
}

.ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.ng-select.ng-select-opened.ng-select-top>.ng-select-container {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: var(--main-primary-color-2);
}

.ng-select.ng-select-disabled>.ng-select-container {
    background-color: #f9f9f9;
}

.ng-select .ng-has-value .ng-placeholder {
    display: none;
}

.ng-select .ng-select-container {
    color: #333;
    background-color: #fff;
    border-radius: 9px;
    font-size: 10pt;
    border: 2px solid var(--main-primary-color-1);
    min-height: auto;
    align-items: center;
}

.ng-select .ng-select-container:hover {
    box-shadow: 0 0px 0 var(--main-primary-color-2);
}

.ng-select .ng-select-container .ng-value-container {
    align-items: center;
    padding-left: 10px;
    font-size: small;
}

[dir="rtl"] .ng-select .ng-select-container .ng-value-container {
    padding-right: 10px;
    padding-left: 0;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #999;
}

.ng-select.ng-select-single .ng-select-container {
    height: 34px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 5px;
    left: 0;
    padding-left: 10px;
    padding-right: 50px;
}

[dir="rtl"] .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding-right: 10px;
    padding-left: 50px;
}

.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value {
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
}

.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value .ng-value-label {
    padding: 0 5px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-top: 5px;
    padding-left: 7px;
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-right: 7px;
    padding-left: 0;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    font-size: 10px;
    margin-bottom: 5px;
    background-color: #ebf5ff;
    border-radius: 2px;
    margin-right: 5px;
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    margin-right: 0;
    margin-left: 5px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled {
    background-color: #f9f9f9;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label {
    padding-left: 5px;
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label {
    padding-left: 0;
    padding-right: 5px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
    display: inline-block;
    padding: 1px 5px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    display: inline-block;
    padding: 1px 5px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
    background-color: #d1e8ff;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
    border-right: 1px solid #b8dbff;
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
    border-left: 1px solid #b8dbff;
    border-right: none;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
    border-left: 1px solid #b8dbff;
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
    border-left: 0;
    border-right: 1px solid #b8dbff;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
    padding: 0 0 3px 3px;
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
    padding: 0 3px 3px 0;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    padding-right: 3px;
    padding-left: 0;
}

.ng-select .ng-clear-wrapper {
    color: var(--main-secondary-color-1);
}

.ng-select .ng-clear-wrapper:hover .ng-clear {
    color: #d0021b;
}

.ng-select .ng-spinner-zone {
    padding: 5px 5px 0 0;
}

[dir="rtl"] .ng-select .ng-spinner-zone {
    padding: 5px 0 0 5px;
}

.ng-select .ng-arrow-wrapper {
    width: 25px;
    padding-right: 5px;
}

[dir="rtl"] .ng-select .ng-arrow-wrapper {
    padding-left: 5px;
    padding-right: 0;
}

.ng-select .ng-arrow-wrapper:hover .ng-arrow {
    border-top-color: var(--main-primary-color-1);
}

.ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: var(--main-primary-color-1) transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
}

.ng-dropdown-panel {
    background-color: #fff;
    border: 0px solid #ccc;
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0.06);
    left: 0;
}

.ng-dropdown-panel.ng-select-bottom {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-color: #e6e6e6;
    margin-top: 0px;
}

.ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ng-dropdown-panel.ng-select-top {
    bottom: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-color: #e6e6e6;
    margin-bottom: -1px;
}

.ng-dropdown-panel.ng-select-top .ng-dropdown-panel-items .ng-option:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.ng-dropdown-panel .ng-dropdown-header {
    border-bottom: 1px solid #ccc;
    padding: 5px 7px;
}

.ng-dropdown-panel .ng-dropdown-footer {
    border-top: 1px solid #ccc;
    padding: 5px 7px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    user-select: none;
    padding: 8px 10px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled {
    cursor: default;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked {
    background-color: #f5faff;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected.ng-option-marked {
    background-color: #ebf5ff;
    font-weight: 600;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: #e5e5e5;
    color: var(--main-primary-color-1);
    padding: 8px 10px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    color: var(--main-white-color);
    background-color: var(--main-primary-color-2);
    border-radius: 5px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label {
    font-weight: 600;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #f5faff;
    color: #333;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    color: #ccc;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
    padding-left: 22px;
}

[dir="rtl"] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
    padding-right: 22px;
    padding-left: 0;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
    font-size: 80%;
    font-weight: 400;
    padding-right: 5px;
}

[dir="rtl"] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
    padding-left: 5px;
    padding-right: 0;
}
[dir="rtl"] .ng-dropdown-panel {
    direction: rtl;
    text-align: right;
}

timepicker table tbody tr td button.btn.btn-default.text-center {
  padding: 0.300rem 0.75rem !important;
  border: 2px solid var(--main-primary-color-1) !important;
  border-radius: 9px !important;
  color: var(--main-primary-color-1) !important;
  font-size: 10pt;
}