.btn-primary {
    background-color: #00C8FF !important;
    color: #FFFFFF !important;
    border-color: 00C8FF !important;
    border-width: 1px !important;
}

.btn-primary:hover {
    background-color: #FFFFFF !important;
    color: #00C8FF !important;
    border-color: #00C8FF !important;
    border-width: 1px !important
}

.btn-secondary {
    background-color: #FFFFFF !important;
    color: #00C8FF !important;
    border-color: #00C8FF !important;
    border-width: 1px !important
}

.btn-secondary:hover {
    background-color: #00C8FF !important;
    color: #FFFFFF !important;
    border-color: 00C8FF !important;
    border-width: 1px !important;
}

.btn-tertiary {
    background-color: #FFC20E !important;
    color: #002E6D !important;
    border-color: #002E6D !important;
    border-width: 1px !important
}

.btn-tertiary:hover {
    background-color: #002E6D !important;
    color: #FFC20E !important;
    border-color: 00C8FF !important;
    border-width: 1px !important;
}

.nav-pills-2 {
    background-color: #002E6D !important;
    color: #FFFFFF !important;
}

.nav-link-2 {
    color: #FFFFFF !important;
}

.nav-link-2:hover {
    color: #002E6D !important;
    background-color: #FFC20E !important;
}


/* Tabs */

.nav-pills .nav-link.active .nav-pills .show>.nav-link {
    background-color: #00C8FF !important;
}


/* Tablas */

.datatable-header {
    height: 48px !important;
    color: #FFFFFF !important;
    background-color: #002E6D !important;
}

.sidebar-wrapper {
    background-color: #002E6D !important;
}

.datatable-row-group {
    border-width: 1px !important;
    border-color: black !important;
    background-color: #FFFFFF !important;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
    color: #FFFFFF !important;
}

.pages .active a {
    background-color: #002E6D !important;
}

label {
    color: #00C8FF !important;
}

.ng-wizard-theme-circles>ul.step-anchor::before {
    background-color: #FFC20E !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li>a {
    color: #002e6d !important;
    border: 2px solid;
    border-color: #002e6d !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li.done>a {
    border-color: #002e6d !important;
    color: #FFFFFF !important;
    background: #002e6d !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li.active>a {
    border-color: #002e6d !important;
    color: #FFC20E !important;
    background: #002e6d !important;
}

.form-control {
    border: 2px solid #002E6D !important;
}

.ng-select .ng-select-container {
    border: 2px solid #002E6D !important;
}

.form-select {
    border: 2px solid #002E6D !important;
    appearance: none !important;
    display: none;
}

.nav-pills .nav-link.active {
    color: #002E6D !important;
}

.nav-pills .nav-link.active {
    color: #FFFFFF !important;
    background-color: #002E6D !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    color: #FFFFFF !important;
    background-color: #002E6D !important;
}

.nav-tabs .nav-link {
    color: #002E6D !important;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
    background-color: #002E6D !important;
    color: #FFFFFF !important;
}

.wrap-login100 {
    margin-top: 7% !important;
}

.border-card {
    border: 3px solid #00C8FF !important;
}

.btn-outline-show {
    color: #002E6D !important;
}

.btn-outline-show:hover {
    color: #FFFFFF !important;
    background-color: #002E6D !important;
    border-color: #002E6D !important;
}

.btn-outline-edit {
    color: #FFC20E !important;
}

.btn-outline-edit:hover {
    color: #FFFFFF !important;
    background-color: #FFC20E !important;
    border-color: #FFC20E !important;
}

.search-box-container input:focus {
    outline: none !important;
    width: 385px !important;
    background-color: #FFFFFF !important;
    border: 2px solid #002E6D !important;
    border-radius: 30px 30px 30px 30px !important;
    color: #002E6D !important;
    font-size: medium !important;
    padding: 0.5rem 1.5rem !important;
    transition: border-color 0.2s ease-in !important;
}

.file {
    visibility: hidden;
    position: absolute;
}

[type='file']:not([readonly]):not(:disabled).form-control {
    padding: 10px !important;
    height: 56px !important;
    color: white !important;
}


/* Side */


/*
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a
*/